<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="../../assets/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">추천상품</p>
        </div>
        
        <div class="owl-carousel goods-wrap goods">
            <div class="item">
                <a href="#">
                    <div class="top">
                        <p class="symbol"><img src="../../assets/images/common/bu_samsung.png" alt=""/>삼성생명보험</p>
                        <p class="text blue">직장인 신용대출</p>
                    </div>
                    <div class="goods-benefit">
                        <div>5.0~8.0<em> %</em></div>
                        <div><em>최대 </em>5,000<em> 만원</em></div>
                    </div>
                    <p class="goods-text1">특징 및 간략설명 특징 및 간략설명 특징 및 간략설명</p>
                    <p class="goods-text2">저축은행중앙회 심의필 2018-00404호(2018.8.12)</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="top">
                        <p class="symbol"><img src="../../assets/images/common/bu_samsung.png" alt=""/>삼성생명보험</p>
                        <p class="text blue">직장인 신용대출</p>
                    </div>
                    <div class="goods-benefit">
                        <div class="left">5.0~8.0<em> %</em></div>
                        <div class="right"><em>최대 </em>5,000<em> 만원</em></div>
                    </div>
                    <p class="goods-text1">특징 및 간략설명 특징 및 간략설명 특징 및 간략설명</p>
                    <p class="goods-text2">저축은행중앙회 심의필 2018-00404호(2018.8.12)</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="top">
                        <p class="symbol"><img src="../../assets/images/common/bu_samsung.png" alt=""/>삼성생명보험</p>
                        <p class="text blue">직장인 신용대출</p>
                    </div>
                    <div class="goods-benefit">
                        <div class="left">5.0~8.0<em> %</em></div>
                        <div class="right"><em>최대 </em>5,000<em> 만원</em></div>
                    </div>
                    <p class="goods-text1">특징 및 간략설명 특징 및 간략설명 특징 및 간략설명</p>
                    <p class="goods-text2">저축은행중앙회 심의필 2018-00404호(2018.8.12)</p>
                </a>
            </div>
        </div>
        
        <div class="tab mt40">
            <div class="wrap">
                <a href="#" class="on">신용대출</a>
                <a href="#">주택담보</a>
                <a href="#">스탁론</a>
            </div>
        </div>
        
         <div class="box-list goods goods-list">
             <div class="select">
                 <div class="left">
                    <select>
                        <option>금리순</option>
                    </select>
                 </div>
                 <div class="right">
                    <button></button>
                 </div>
             </div>
            <div class="item">
                <a href="#">
                    <div class="top">
                        <p class="symbol"><img src="../../assets/images/common/bu_samsung.png" alt=""/>삼성생명보험</p>
                        <p class="text blue">직장인 신용대출</p>
                    </div>
                    <div class="goods-benefit">
                        <div>5.0~8.0<em> %</em></div>
                        <div><em>최대 </em>5,000<em> 만원</em></div>
                    </div>
                    <p class="goods-text1">특징 및 간략설명 특징 및 간략설명 특징 및 간략설명</p>
                    <p class="goods-text2">저축은행중앙회 심의필 2018-00404호(2018.8.12)</p>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="top">
                        <p class="symbol"><img src="../../assets/images/common/bu_samsung.png" alt=""/>삼성생명보험</p>
                        <p class="text blue">직장인 신용대출</p>
                    </div>
                    <div class="goods-benefit">
                        <div>5.0~8.0<em> %</em></div>
                        <div><em>최대 </em>5,000<em> 만원</em></div>
                    </div>
                    <p class="goods-text1">특징 및 간략설명 특징 및 간략설명 특징 및 간략설명</p>
                    <p class="goods-text2">저축은행중앙회 심의필 2018-00404호(2018.8.12)</p>
                </a>
            </div>
        </div>
        
    </section>
    
    <!--<aside class="search">
        
        <div class="top">
            <button>검색</button>
        </div>
        <div class="range">
            <p class="key">신용등급</p>
            <p class="ui">
                <span></span>
                <div class="dot"></div>
            </p>
            <p class="value">3</p>
        </div>
        <div class="checks">
            <p class="title">종류</p>
            <div class="select">
                <input type="radio" id="rds1"><label for="rds1">직장인</label>
            </div>
            <div class="select">
                <input type="radio" id="rds1"><label for="rds1">자영업</label>
            </div>
            <div class="select">
                <input type="radio" id="rds1"><label for="rds1">초기화</label>
            </div>
            <div class="select">
                <input type="radio" id="rds1"><label for="rds1">인증번호 전송</label>
            </div>
        </div>
        
    </aside>-->
	
</body>
</html>
