<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/main.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">주택정보</p>
        </div>
        
        <div class="container">
            <p>주택정보를 입력해 주세요</p>
            <ul class="debt-modify">
                <li>
                    <p class="key">주택종류</p>
                    <p>
                        <select>
                            <option>주택종류 선택</option>
                        </select>
                    </p>
                </li>
                <li>
                    <p class="key">광역시도</p>
                    <p>
                        <select>
                            <option>광역시도 선택</option>
                        </select>
                    </p>
                </li>
                <li>
                    <p class="key">시/군/구</p>
                    <p>
                        <select>
                            <option>영등포구</option>
                        </select>
                    </p>
                </li>
                <li>
                    <p class="key">읍/면/동</p>
                    <p>
                        <select>
                            <option>여의도동</option>
                        </select>
                    </p>
                </li>
                <li>
                    <p class="key">단지</p>
                    <p>
                        <select>
                            <option>삼부</option>
                        </select>
                    </p>
                </li>
                <li>
                    <p class="key">면적(평)</p>
                    <p>
                        <select>
                            <option>126.62m2 (37평)</option>
                        </select>
                    </p>
                </li>
                <li>
                    <p class="key">층수</p>
                    <p>
                        <select>
                            <option>7층</option>
                        </select>
                    </p>
                </li>
            </ul>
            <div class="btn-wrap float">
                <a href="#" class="solid blue box">다음</a>
            </div>
        </div> 
        
        
    </section>
	
</body>
</html>
