<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.batch.code.mapper.CodeMapper">

<select id="listCodeInfo" parameterType="com.koscom.batch.code.domain.CodeInfo" resultType="com.koscom.batch.code.domain.CodeInfo">
	SELECT
		CODE_VALUE,
		CODE_GROUP,
		NM_CODE,
		ETC,
		SEQ_ORDER,
		YN_SYSTEM_CODE,
		YN_USE,
		ID_FRT,
		DT_FRT,
		ID_LST,
		DT_LST
	FROM COMM_CD
	WHERE CODE_GROUP = #{code_group, jdbcType=VARCHAR}
	AND CODE_VALUE != ' '
	<if test="nm_code != null and nm_code != ''">
		AND NM_CODE LIKE '%' || #{nm_code, jdbcType=VARCHAR} || '%'
	</if>
	ORDER BY SEQ_ORDER
</select>

<select id="getCommCdNmCode" parameterType="com.koscom.batch.code.domain.CodeInfo" resultType="String">
		SELECT
			DISTINCT NM_CODE
		FROM
			COMM_CD
		WHERE
			CODE_GROUP = #{code_group}
			AND CODE_VALUE LIKE '%' || #{code_value, jdbcType=VARCHAR} || '%'
   	</select>

</mapper>