<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.fincorp.dao.FincorpMapper">
	<resultMap id="resultBlob" type="hashMap">
	    <result column="img_bi" property="img_bi" jdbcType="BLOB" javaType="[B"></result>
	</resultMap>
	
	<select id="getFincorpInfo" parameterType="com.koscom.domain.FincorpInfo" resultType="com.koscom.fincorp.model.FincorpVO">
	/* com.koscom.fincorp.dao.FincorpMapper.getFincorpInfo */
    SELECT CD_FC                /* 금융사코드             */
	      ,CD_FIN               /* 업권 코드              */
	      ,NO_BIZ_COMP          /* 사업자번호             */
	      ,NM_FC                /* 금융기관명             */
	      ,NM_CEO               /* 대표자명               */
	      ,YN_USE               /* 사용 여부              */
	      ,YN_ALLIANCE			/* 연계 여부              */
	      ,YN_SCRAP             /* 스크래핑 가능여부      */
	      ,CD_FC_COOCON         /* 쿠콘금융사코드         */
	      ,CD_ADDR_FC           /* 주소구분               */
	      ,POST_FC              /* 우편번호               */
	      ,ADDR1_FC             /* 주소1                  */
	      ,ADDR2_FC             /* 주소2                  */
	      ,TEL                  /* 전화번호               */
	      ,HOME_PAGE            /* 홈페이지               */
	      ,NM_BI                /* BI파일명               */
	      ,SIZE_BI              /* BI사이즈               */
	      ,NM_STAFF_CONTRACT    /* 계약 담당자 이름       */
	      ,HP_STAFF_CONTRACT    /* 계약 담당자 휴대폰번호 */
	      ,HOME_STAFF_CONTRACT  /* 계약 담당자 연락처     */
	      ,FAX_STAFF_CONTRACT   /* 계약 담당자 팩스번호   */
	      ,EMAIL_STAFF_CONTRACT /* 계약 담당자 이메일     */
	      ,NM_STAFF_ADJUST      /* 정산 담당자 이름       */
	      ,HP_STAFF_ADJUST      /* 정산 담당자 휴대폰번호 */
	      ,HOME_STAFF_ADJUST    /* 정산 담당자 연락처     */
	      ,FAX_STAFF_ADJUST     /* 정산 담당자 팩스번호   */
	      ,EMAIL_STAFF_ADJUST   /* 정산 담당자 이메일     */
	      ,NM_STAFF_GOODS       /* 상품 담당자 이름       */
	      ,HP_STAFF_GOODS       /* 상품 담당자 휴대폰번호 */
	      ,HOME_STAFF_GOODS     /* 상품 담당자 연락처     */
	      ,FAX_STAFF_GOODS      /* 상품 담당자 팩스번호   */
	      ,EMAIL_STAFF_GOODS    /* 상품 담당자 이메일     */
	      ,ID_EMP_GOODS         /* 상품관리자아이디       */
	      ,CL_SERVICE           /* 서비스 이용 약관       */
	      ,CL_PRIVATE           /* 개인신용정보 약관      */
	      ,NM_FILE1             /* 파일명                 */
	      ,PATH_FILE1           /* 파일경로               */
	      ,ID_FRT               /* 최초입력아이디         */
	      ,DT_FRT               /* 최초입력시간           */
	      ,ID_LST               /* 최종수정아이디         */
	      ,DT_LST               /* 최종수정시간           */
	FROM fc_info
     <where>
     	<if test='@com.koscom.util.MybatisUtil@isNotEmpty(cd_fc)'>
			cd_fc = #{cd_fc}
		</if>
<!-- 	     	<if test='@com.koscom.util.MybatisUtil@isNotEmpty(cd_fin)'> -->
<!-- 				cd_fin = #{cd_fin} -->
<!-- 			</if> -->
<!-- 	     	<if test='@com.koscom.util.MybatisUtil@isNotEmpty(cd_goods)'> -->
<!-- 				AND cd_goods = #{cd_goods} -->
<!-- 			</if> -->
     </where>
	</select>
	
	<select id="getNmFc" parameterType="String" resultType="String">
		SELECT
			NM_FC
		FROM
			FC_INFO
		WHERE
			CD_FC = #{cd_fc, jdbcType = VARCHAR}
	</select>
	
	<select id="getFcPathFile" parameterType="String" resultType="String">
		SELECT
			PATH_FILE
		FROM
			FC_INFO
		WHERE
			CD_FC = #{cd_fc, jdbcType = VARCHAR}
	</select>
	
	<select id="getImgBi" parameterType="com.koscom.fincorp.model.FincorpVO" resultMap="resultBlob">
		SELECT
			IMG_BI
		FROM
			FC_INFO
		WHERE
				PATH_FILE = #{path_file, jdbcType = VARCHAR}
			AND IMG_BI IS NOT NULL
	</select>
	
	<insert id="createFincorp" parameterType="com.koscom.fincorp.model.FincorpVO" useGeneratedKeys="true" keyProperty="cdFc">
		<selectKey keyProperty="cdFc" resultType="string" order="BEFORE">
			(SELECT '20'||LPAD(NVL(SUBSTR(MAX(TRIM(A.CD_FC)),3,5),0)+1,5,'0') FROM FC_INFO A WHERE A.CD_FC LIKE '20%')
		</selectKey>
		INSERT INTO fc_info
			(
				cd_fc
				,cd_fc_coocon
				,com_alias
				,cd_fin
				,no_biz_comp
				,nm_fc
				,nm_ceo
				,yn_use
				,yn_alliance
				,yn_scrap
				,cd_addr_fc
				,post_fc
				,addr1_fc
				,addr2_fc
				,tel
				,home_page
				 <if test="@com.koscom.util.MybatisUtil@isNotEmpty(path_file)">
				,path_file
				,img_bi
				,nm_file
				</if>
				,id_frt
				,dt_frt
				, id_lst
				, dt_lst
				) VALUES (
				 <if test="@com.koscom.util.MybatisUtil@isNotEmpty(cd_fc)">
					  #{cd_fc, jdbcType=VARCHAR}
				</if>
				 <if test="@com.koscom.util.MybatisUtil@isEmpty(cd_fc)">
					  #{cdFc}
				</if>
					 ,#{cd_fc_coocon, jdbcType=VARCHAR}
					 ,#{com_alias, jdbcType=VARCHAR}
					 ,#{cd_fin, jdbcType=VARCHAR}
					 ,#{no_biz_comp, jdbcType=VARCHAR}
					 ,#{nm_fc, jdbcType=VARCHAR}
					 ,#{nm_ceo, jdbcType=VARCHAR}
					 ,#{yn_use, jdbcType=VARCHAR}
					 ,#{yn_alliance, jdbcType=VARCHAR}
					 ,#{yn_scrap, jdbcType=VARCHAR}
					 ,#{cd_addr_fc, jdbcType=VARCHAR}
					 ,#{post_fc, jdbcType=VARCHAR}
					 ,#{addr1_fc, jdbcType=VARCHAR}
					 ,#{addr2_fc, jdbcType=VARCHAR}
					 ,#{tel, jdbcType=VARCHAR}
					 ,#{home_page, jdbcType=VARCHAR}
					  <if test="@com.koscom.util.MybatisUtil@isNotEmpty(path_file)">
					 ,#{path_file, jdbcType=VARCHAR}
					 ,#{img_bi, jdbcType=BLOB}
					 ,#{nm_file, jdbcType=VARCHAR}
					 </if>
					, #{id_frt, jdbcType=VARCHAR}
					, SYSDATE
					, #{id_frt, jdbcType=VARCHAR}
					, SYSDATE
				)
	</insert>
	<update id="updateFincorp" parameterType="com.koscom.fincorp.model.FincorpVO">
		UPDATE FC_INFO
        SET
        	cd_fc_coocon	= #{cd_fc_coocon, jdbcType=VARCHAR}
			,com_alias		= #{com_alias, jdbcType=VARCHAR}
			,cd_fin			= #{cd_fin, jdbcType=VARCHAR}
			,no_biz_comp	= #{no_biz_comp, jdbcType=VARCHAR}
			,nm_ceo			= #{nm_ceo, jdbcType=VARCHAR}
			,yn_use			= #{yn_use, jdbcType=VARCHAR}
			,yn_alliance	= #{yn_alliance, jdbcType=VARCHAR}
			,yn_scrap		= #{yn_scrap, jdbcType=VARCHAR}
			,cd_addr_fc		= #{cd_addr_fc, jdbcType=VARCHAR}
			,post_fc		= #{post_fc, jdbcType=VARCHAR}
			,addr1_fc		= #{addr1_fc, jdbcType=VARCHAR}
			,addr2_fc		= #{addr2_fc, jdbcType=VARCHAR}
			,tel			= #{tel, jdbcType=VARCHAR}
			,home_page		= #{home_page, jdbcType=VARCHAR}
			<if test="@com.koscom.util.MybatisUtil@isNotEmpty(path_file)">
			,path_file		= #{path_file, jdbcType=VARCHAR}
			,img_bi			= #{img_bi, jdbcType=VARCHAR}
			,nm_file		= #{nm_file, jdbcType=VARCHAR}
			</if>
			,id_lst  		= #{id_lst, jdbcType=VARCHAR}
			,dt_lst  		= SYSDATE
        WHERE nm_fc = #{nm_fc, jdbcType=VARCHAR}
	</update>
	
 	<update id="createFincorpfcNminfo" parameterType="com.koscom.fincorp.model.FincorpfcNminfoForm">
 	    /* com.koscom.fincorp.dao.FincorpMapper.createFincorpfcNminfo */
		MERGE INTO FC_NM_INFO
		  USING DUAL
		  ON (		CD_FC = #{cd_fc, jdbcType=VARCHAR}
		  		AND NM_FC = #{nm_nm_fc, jdbcType=VARCHAR}
		  	 )
			WHEN MATCHED THEN
		     UPDATE
			    SET ID_LST	= #{id_lst,	jdbcType=VARCHAR}
				   ,DT_LST	= SYSDATE
			WHEN NOT MATCHED THEN
			INSERT
			(
				 CD_FC
				,SEQ
				,NM_FC
				,YN_USE
				,ID_FRT
				,DT_FRT
				,ID_LST
				,DT_LST
			)
			VALUES(
				 #{cd_fc, jdbcType=VARCHAR}
				<if test="cd_fc == '9999999'">
				,SEQ_FC_NM.NEXTVAL
				</if>
				<if test="cd_fc != '9999999'">
				,(SELECT NVL(MAX(SEQ)+1,1) FROM FC_NM_INFO WHERE CD_FC = #{cd_fc, jdbcType=VARCHAR})
				</if>
				,#{nm_nm_fc, jdbcType=VARCHAR}
				,#{nm_yn_use, jdbcType=VARCHAR}
				,#{id_frt, jdbcType=VARCHAR}
				,SYSDATE
				,#{id_lst, jdbcType=VARCHAR}
				,SYSDATE
			)

 	</update>
 	
 	<select id="listCooconFcCd" parameterType="String" resultType="String">
 		SELECT CD_FC_COOCON
		FROM FC_INFO
		WHERE CD_FIN = #{type_fc, jdbcType=VARCHAR}
      		AND YN_SCRAP = 'Y'
 	</select>
 	
 	<select id="listComAlias" parameterType="String" resultType="String">
 		SELECT COM_ALIAS
		FROM FC_INFO
		WHERE CD_FIN = #{type_fc, jdbcType=VARCHAR}
      		AND YN_SCRAP = 'Y'
 	</select>
 	
 	<select id="getCooconFcCdByCdFc" parameterType="String" resultType="String">
 		SELECT CD_FC_COOCON
		FROM FC_INFO
		WHERE CD_FC = #{cd_fc, jdbcType=VARCHAR}
 	</select>
 	
 	<select id="getCdFcByCooconFcCd" parameterType="String" resultType="String">
 		SELECT CD_FC
		FROM FC_INFO
		WHERE CD_FC_COOCON = #{cd_fc_coocon, jdbcType=VARCHAR}
 	</select>
 	
 	<select id="getCdFcByComAlias" parameterType="String" resultType="String">
 		SELECT CD_FC
		FROM FC_INFO
		WHERE COM_ALIAS = #{com_alias, jdbcType=VARCHAR}
 	</select>
 	
 	<select id="getComAliasCdByCdFc" parameterType="String" resultType="String">
 		SELECT COM_ALIAS
		FROM FC_INFO
		WHERE CD_FC = #{cd_fc, jdbcType=VARCHAR}
 	</select>
</mapper>

