/* Board */

.board{
	margin-top: 30px;
	border-top: 1px solid $lineColor;
	padding: 0 21px;
	.list{
		li{
			border-bottom: 1px solid $lineColor;
            padding: 15px 0;
            .date{
                color: #666;
                font-size: 12px;
            }
			.subject{
                margin-top: 10px;
				a{
					font-size: 14px;
					font-weight: 500;
					color: #222;
                    line-height: 18px;
				}
			}
		}
	}
    .view{
        li{
            border-bottom: 1px solid $lineColor;
            padding: 15px 0;
            .subject{
                font-size: 14px;
                font-weight: 500;
                color: #222;
                line-height: 18px;
            }
            .date{
                color: #666;
                font-size: 12px;
                margin-top: 10px;
                em{
                    display: inline-block;
                    padding-right: 5px;
                    margin-right: 5px;
                    border-right: 1px solid $lineColor;
                }
            }
        }
    }
}

.board.event{
    .list{
        li{
            a{
                display: flex;
            }
            div{
                width: calc( 100% - 80px);
                    display: block;
                    .subject{
                        font-size: 14px;
                        font-weight: 500;
                        color: #222;
                        line-height: 18px;
                        margin-top: 0;
                    }
                    .date{
                        color: #666;
                        font-size: 12px;
                        margin-top: 10px;
                    }
                    .state{
                        font-size: 12px;
                        font-weight: 700;
                        display: inline-block;
                        line-height: 19px;
                        padding: 0 10px;
                        margin-top: 10px;
                        border-radius: 20px;
                        &.ing{
                            color: $col1;
                            border: 1px solid $col1;
                        }
                        &.done{
                            color: #888;
                            border: 1px solid #888;
                        }
                        &.pre{
                            color: $col4;
                            border: 1px solid $col4;
                        }
                    }  
                &:last-child{
                    width: 80px;
                }
            }
        }
    }
    .view{
        .flex{
            display: flex;
            div{
                width: 50%;
                &:last-child{
                    text-align: right;

                } 
            }
            p{
                &.state{
                    font-size: 12px;
                    font-weight: 700;
                    display: inline-block;
                    line-height: 19px;
                    padding: 0 10px;
                    margin-top: 10px;
                    border-radius: 20px;
                    &.ing{
                        color: $col1;
                        border: 1px solid $col1;
                    }
                    &.done{
                        color: #888;
                        border: 1px solid #888;
                    }
                    &.pre{
                        color: $col4;
                        border: 1px solid $col4;
                    }
                }
            }
        }
    }
}

