////////////////////     MODAL     ////////////////////

/*#modal-wrap{
	width: 100%;
	height: 100vh;
	background: rgba(#000,.5);
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	display: none;
	.modal-con{
		position: absolute;
		left: 50%;
		top: 50%;
		background: #fff;
		display: none;
        width: 80%;
		@include box-sizing(border-box);
        .top{
            line-height: 45px;
            color: #222;
            font-weight: 700;
            text-indent: 20px;
            font-size: 15px;
            border-bottom: 1px solid $lineColor;
            background: #fff;
            .modal-close{
                display: block;
                width: 45px;
                height: 45px;
                position: absolute;
                top: 0;
                right: 0;
                background: url("../images/common/btn_modal_close.png")no-repeat center / contain;
                text-indent: -9999px;
            }
        }
        .debt-modal-body{
            padding: 25px 0;
            text-align: center;
            background: #fff;
            .number{
                font-size: 24px;
                font-weight: 700;
                color: #222;
                margin-bottom: 10px;
                em{
                    color: #222;
                }
            }
            .text{
                margin-top: 10px;
                font-size: 14px;
                color: #666;
                em{
                    color: $col2;
                    font-size: 14px;
                }
            }
        }
        .btn-confirm{
            line-height: 45px;
            text-align: center;
            color: #fff;
            font-size: 15px;
            background: $col4;
            margin-top: 25px;
            display: block;
        }
	}
}*/

.modal-con{
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    display: none;
    width: 90%;
    @include box-sizing(border-box);
    .top{
        line-height: 45px;
        color: #222;
        font-weight: 700;
        text-indent: 20px;
        font-size: 15px;
        border-bottom: 1px solid $lineColor;
        background: #fff;
        .modal-close{
            display: block;
            width: 45px;
            height: 45px;
            position: absolute;
            top: 0;
            right: 0;
            background: url("../images/common/btn_modal_close.png")no-repeat center / contain;
            text-indent: -9999px;
        }
    }
    .debt-modal-body{
        padding: 25px 0;
        text-align: center;
        background: #fff;
        .number{
            font-size: 24px;
            font-weight: 700;
            color: #222;
            margin-bottom: 10px;
            em{
                color: #222;
            }
        }
        .text{
            margin-top: 10px;
            font-size: 14px;
            color: #666;
            em{
                color: $col2;
                font-size: 14px;
            }
        }
    }
    .btn-confirm{
        line-height: 45px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        background: $col4;
        margin-top: 25px;
        display: block;
    }
    .cal-con{
        padding: 20px;
        .cal-top{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            div{
                text-align: center;
                em{
                    display: inline-block;
                    line-height: 18px;
                    padding: 0 8px;
                    border-radius: 20px;
                    font-weight: 700;
                    &.debt{
                        color: #25bdd5;
                        border: 1px solid #25bdd5;
                    }
                    &.income{
                        color: #4f82d6;
                        border: 1px solid #4f82d6;
                    }
                    &.loan{
                        color: $col1;
                        border: 1px solid $col1;
                    }
                }
                p{
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }
        .body{
            margin-top: 20px;
            .list{
                margin-bottom: 10px;
                border: 1px solid $lineColor;
                padding: 15px;
                display: grid;
                justify-content: space-between;
                grid-template-columns: 3fr 1fr;
                div{
                    em{
                        display: inline-block;
                        line-height: 18px;
                        padding: 0 8px;
                        border-radius: 20px;
                        font-weight: 700;
                        color: #fff;
                        margin-right: 5px;
                        &.debt{
                            color: #25bdd5;
                            border: 1px solid #25bdd5;
                        }
                        &.income{
                            color: #4f82d6;
                            border: 1px solid #4f82d6;
                        }
                        &.loan{
                            color: $col1;
                            border: 1px solid $col1;
                        }
                        &.red{
                            background: #e95071;
                        }
                        &.orange{
                            background: #ef903c;
                        } 
                        &.green{
                            background: #89c11c;
                        } 
                        &.blue{
                            background: #6993f3;
                        } 
                        &.purple{
                            background: #bf65f3;
                        }
                        &.text{
                            padding: 0;
                            margin: 0;
                            color: #666;
                        }
                    }
                }
            }
        }
    }
}

.modal-confirm{
    position: absolute;
    //left: 50%;
    //top: 50%;
    background: #fff;
    width: 80%;
    @include box-sizing(border-box);
    .debt-modal-body{
        padding: 25px;
        padding-bottom: 80px;
        background: #fff;
        .text{
            font-size: 14px;
            color: #666;
            line-height: 18px;
        }
    }
    .modal-btns{
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        border-top: 2px solid $col4;
        margin-top: 25px;
        width: 100%;
        a{
            line-height: 45px;
            text-align: center;
            font-size: 15px;
            font-weight: 700;
            flex-grow: 1;
            &.stroke{
                color: $col4;
                background: #fff;
            }
            &.solid{
                background: $col4;
                color: #fff;
            }
        }
    }
}
