<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.stats.dao.StatsMapper">

	<select id="listStatApplyComp" parameterType="com.koscom.stats.model.StatsForm" resultType="com.koscom.stats.model.StatsVO">
		SELECT
			cd_fc,
			cd_goods,
			SUM((CASE WHEN ymd_apply <![CDATA[>=]]> #{txt_dt_from} AND ymd_apply <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_apply,
			SUM((CASE WHEN cd_apply_doc_box = '50'
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_approval,
			SUM((CASE WHEN cd_apply_doc_box = '50'
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval,

			SUM((CASE WHEN cd_apply_doc_box = '50' AND 0 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 500
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_approval_500,
			SUM((CASE WHEN cd_apply_doc_box = '50' AND 500 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 1000
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_approval_1000,
			SUM((CASE WHEN cd_apply_doc_box = '50' AND 1000 <![CDATA[<]]> amt_approval
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_approval_1001,

			SUM((CASE WHEN cd_apply_doc_box = '50' AND 0 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 500
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval_500,
			SUM((CASE WHEN cd_apply_doc_box = '50' AND 500 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 1000
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval_1000,
			SUM((CASE WHEN cd_apply_doc_box = '50' AND 1000 <![CDATA[<]]> amt_approval
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval_1001,

			SUM((CASE WHEN 10 <![CDATA[<=]]> cd_apply_doc_box AND cd_apply_doc_box <![CDATA[<=]]> 40
				AND ymd_apply <![CDATA[>=]]> #{txt_dt_from} AND ymd_apply <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_exam,
			SUM((CASE WHEN cd_apply_doc_box = '70'
				AND ymd_apply <![CDATA[>=]]> #{txt_dt_from} AND ymd_apply <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_hold,
			SUM((CASE WHEN cd_apply_doc_box = '60'
				AND ymd_apply <![CDATA[>=]]> #{txt_dt_from} AND ymd_apply <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_reject
		FROM apply_info
		WHERE cd_apply_doc_box <![CDATA[>=]]> 10 AND cd_apply_doc_box <![CDATA[<]]> 99
		  AND ((ymd_apply <![CDATA[>=]]> #{txt_dt_from} AND ymd_apply <![CDATA[<=]]> #{txt_dt_to})
		  		OR
		 	   (ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}))
		GROUP BY cd_fc,cd_goods
		ORDER BY cd_fc DESC, cd_goods DESC
	</select>

	<select id="listStatWorker" parameterType="com.koscom.stats.model.StatsForm" resultType="com.koscom.stats.model.StatsVO">
		SELECT
			id_apply,
			cd_goods,
			SUM((CASE WHEN ymd_apply <![CDATA[>=]]> #{txt_dt_from} AND ymd_apply <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_apply,
			SUM((CASE WHEN cd_apply_doc_box = '50'
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_approval,
			SUM((CASE WHEN cd_apply_doc_box = '50'
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval,

			SUM((CASE WHEN cd_apply_doc_box = '50' AND 0 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 500
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_approval_500,
			SUM((CASE WHEN cd_apply_doc_box = '50' AND 500 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 1000
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_approval_1000,
			SUM((CASE WHEN cd_apply_doc_box = '50' AND 1000 <![CDATA[<]]> amt_approval
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_approval_1001,

			SUM((CASE WHEN cd_apply_doc_box = '50' AND 0 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 500
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval_500,
			SUM((CASE WHEN cd_apply_doc_box = '50' AND 500 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 1000
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval_1000,
			SUM((CASE WHEN cd_apply_doc_box = '50' AND 1000 <![CDATA[<]]> amt_approval
				AND ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}
				THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval_1001,

			SUM((CASE WHEN 10 <![CDATA[<=]]> cd_apply_doc_box AND cd_apply_doc_box <![CDATA[<=]]> 40
				AND ymd_apply <![CDATA[>=]]> #{txt_dt_from} AND ymd_apply <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_exam,
			SUM((CASE WHEN cd_apply_doc_box = '70'
				AND ymd_apply <![CDATA[>=]]> #{txt_dt_from} AND ymd_apply <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_hold,
			SUM((CASE WHEN cd_apply_doc_box = '60'
				AND ymd_apply <![CDATA[>=]]> #{txt_dt_from} AND ymd_apply <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_reject
		FROM apply_info
		WHERE cd_apply_doc_box <![CDATA[>=]]> 10 AND cd_apply_doc_box <![CDATA[<]]> 99
		  AND ((ymd_apply <![CDATA[>=]]> #{txt_dt_from} AND ymd_apply <![CDATA[<=]]> #{txt_dt_to})
		  		OR
		 	   (ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND ymd_approval <![CDATA[<=]]> #{txt_dt_to}))
		GROUP BY id_apply, cd_goods
		ORDER BY id_apply, cd_goods
	</select>

	<select id="listStatKeyword" parameterType="com.koscom.stats.model.StatsForm" resultType="com.koscom.stats.model.StatsVO">
		SELECT
			cd_advertisement,
			c6_keyword AS keyword,
			COUNT(*) AS cnt_apply,
			SUM((CASE WHEN cnt_approval > 0 THEN 1 ELSE 0 END)) AS cnt_approval,
			SUM((CASE WHEN cnt_approval > 0 THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval,

			SUM((CASE WHEN cnt_approval > 0 AND 0 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 500 THEN 1 ELSE 0 END)) AS cnt_approval_500,
			SUM((CASE WHEN cnt_approval > 0 AND 500 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 1000 THEN 1 ELSE 0 END)) AS cnt_approval_1000,
			SUM((CASE WHEN cnt_approval > 0 AND 1000 <![CDATA[<]]> amt_approval THEN 1 ELSE 0 END)) AS cnt_approval_1001,

			SUM((CASE WHEN cnt_approval > 0 AND 0 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 500 THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval_500,
			SUM((CASE WHEN cnt_approval > 0 AND 500 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 1000 THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval_1000,
			SUM((CASE WHEN cnt_approval > 0 AND 1000 <![CDATA[<]]> amt_approval THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval_1001,

			SUM((CASE WHEN cnt_approval = 0 and cnt_reject > 0 THEN 1 ELSE 0 END)) AS cnt_reject
		FROM prepare_info
		WHERE cd_prepare_doc_box <![CDATA[<]]> 99
		AND c6_keyword IS NOT NULL
		AND cd_advertisement BETWEEN 21 AND 29
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_from)">
			AND TO_CHAR(dt_frt,'yyyyMMdd') <![CDATA[>=]]> #{txt_dt_from}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_to)">
			AND TO_CHAR(dt_frt,'yyyyMMdd') <![CDATA[<=]]> #{txt_dt_to}
		</if>
		<!-- 광고매체 -->
		<if test='@com.koscom.util.MybatisUtil@isNotEmpty(cd_advertisement_srch)'>
			AND cd_advertisement = #{cd_advertisement_srch}
		</if>
		<!-- 키워트 포털 -->
		<if test='@com.koscom.util.MybatisUtil@isNotEmpty(cd_keyword_comp)'>
			AND c6_keyword LIKE '%'||#{cd_keyword_comp}||'%'
		</if>
		GROUP BY cd_advertisement, c6_keyword
		ORDER BY cd_advertisement, c6_keyword
	</select>

	<select id="listStatAdvertisement" parameterType="com.koscom.stats.model.StatsForm" resultType="com.koscom.stats.model.StatsVO">
		SELECT
			cd_advertisement,
			id_agency,
			COUNT(*) AS cnt_apply,
			SUM((CASE WHEN cnt_approval > 0 THEN 1 ELSE 0 END)) AS cnt_approval,
			SUM((CASE WHEN cnt_approval > 0 THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval,

			SUM((CASE WHEN cnt_approval > 0 AND 0 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 500 THEN 1 ELSE 0 END)) AS cnt_approval_500,
			SUM((CASE WHEN cnt_approval > 0 AND 500 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 1000 THEN 1 ELSE 0 END)) AS cnt_approval_1000,
			SUM((CASE WHEN cnt_approval > 0 AND 1000 <![CDATA[<]]> amt_approval THEN 1 ELSE 0 END)) AS cnt_approval_1001,

			SUM((CASE WHEN cnt_approval > 0 AND 0 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 500 THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval_500,
			SUM((CASE WHEN cnt_approval > 0 AND 500 <![CDATA[<]]> amt_approval AND amt_approval <![CDATA[<=]]> 1000 THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval_1000,
			SUM((CASE WHEN cnt_approval > 0 AND 1000 <![CDATA[<]]> amt_approval THEN TO_NUMBER(amt_approval) ELSE 0 END)) AS amt_approval_1001,

			SUM((CASE WHEN cnt_approval = 0 and cnt_reject > 0 THEN 1 ELSE 0 END)) AS cnt_reject
		FROM prepare_info
		WHERE cd_prepare_doc_box <![CDATA[<]]> 99
		AND cd_advertisement IS NOT NULL
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_from)">
			AND TO_CHAR(dt_frt,'yyyyMMdd') <![CDATA[>=]]> #{txt_dt_from}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_to)">
			AND TO_CHAR(dt_frt,'yyyyMMdd') <![CDATA[<=]]> #{txt_dt_to}
		</if>
		GROUP BY cd_advertisement, id_agency
		ORDER BY cd_advertisement, id_agency
	</select>

	<select id="listStatAdvertisementApply" parameterType="com.koscom.stats.model.StatsForm" resultType="com.koscom.stats.model.StatsVO">
		SELECT
			PR.cd_advertisement,
			PR.id_agency,
			AP.cd_goods,
			SUM((CASE WHEN AP.ymd_apply <![CDATA[>=]]> #{txt_dt_from} AND AP.ymd_apply <![CDATA[<=]]> #{txt_dt_to}
				THEN 1 ELSE 0 END)) AS cnt_apply,
			SUM((CASE WHEN AP.cd_apply_doc_box = '50' AND AP.ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND AP.ymd_approval <![CDATA[<=]]> #{txt_dt_to}
			THEN 1 ELSE 0 END)) AS cnt_approval,
			SUM((CASE WHEN AP.cd_apply_doc_box = '50' AND AP.ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND AP.ymd_approval <![CDATA[<=]]> #{txt_dt_to}
			THEN TO_NUMBER(AP.amt_approval) ELSE 0 END)) AS amt_approval,

			SUM((CASE WHEN AP.cd_apply_doc_box = '50' AND 0 <![CDATA[<]]> AP.amt_approval AND AP.amt_approval <![CDATA[<=]]> 500
			AND AP.ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND AP.ymd_approval <![CDATA[<=]]> #{txt_dt_to}
			THEN 1 ELSE 0 END)) AS cnt_approval_500,
			SUM((CASE WHEN AP.cd_apply_doc_box = '50' AND 500 <![CDATA[<]]> AP.amt_approval AND AP.amt_approval <![CDATA[<=]]> 1000
			AND AP.ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND AP.ymd_approval <![CDATA[<=]]> #{txt_dt_to}
			THEN 1 ELSE 0 END)) AS cnt_approval_1000,
			SUM((CASE WHEN AP.cd_apply_doc_box = '50' AND 1000 <![CDATA[<]]> AP.amt_approval
			AND AP.ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND AP.ymd_approval <![CDATA[<=]]> #{txt_dt_to}
			THEN 1 ELSE 0 END)) AS cnt_approval_1001,

			SUM((CASE WHEN AP.cd_apply_doc_box = '50' AND 0 <![CDATA[<]]> AP.amt_approval AND AP.amt_approval <![CDATA[<=]]> 500
			AND AP.ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND AP.ymd_approval <![CDATA[<=]]> #{txt_dt_to}
			THEN TO_NUMBER(AP.amt_approval) ELSE 0 END)) AS amt_approval_500,
			SUM((CASE WHEN AP.cd_apply_doc_box = '50' AND 500 <![CDATA[<]]> AP.amt_approval AND AP.amt_approval <![CDATA[<=]]> 1000
			AND AP.ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND AP.ymd_approval <![CDATA[<=]]> #{txt_dt_to}
			THEN TO_NUMBER(AP.amt_approval) ELSE 0 END)) AS amt_approval_1000,
			SUM((CASE WHEN AP.cd_apply_doc_box = '50' AND 1000 <![CDATA[<]]> AP.amt_approval
			AND AP.ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND AP.ymd_approval <![CDATA[<=]]> #{txt_dt_to}
			THEN TO_NUMBER(AP.amt_approval) ELSE 0 END)) AS amt_approval_1001,

			SUM((CASE WHEN AP.cd_apply_doc_box = '60' THEN 1 ELSE 0 END)) AS cnt_reject
		FROM apply_info AP
		INNER JOIN prepare_info PR ON PR.no_prepare = AP.no_prepare
		WHERE AP.cd_apply_doc_box <![CDATA[>=]]> 10 AND AP.cd_apply_doc_box <![CDATA[<]]> 99
		  AND PR.cd_advertisement IS NOT NULL
		  AND ((AP.ymd_apply <![CDATA[>=]]> #{txt_dt_from} AND AP.ymd_apply <![CDATA[<=]]> #{txt_dt_to})
		  		OR
		 	   (AP.ymd_approval <![CDATA[>=]]> #{txt_dt_from} AND AP.ymd_approval <![CDATA[<=]]> #{txt_dt_to}))
		GROUP BY PR.cd_advertisement, PR.id_agency, AP.cd_goods
		ORDER BY PR.cd_advertisement, PR.id_agency, AP.cd_goods
	</select>

	<select id="listStatSms" parameterType="com.koscom.stats.model.StatsForm" resultType="com.koscom.stats.model.StatsVO">
		SELECT
			id_frt AS id_emp,
			c1_type_msg,
			COUNT(*) AS cnt_sms,
			SUM((CASE WHEN c4_trans_result = 'G000' THEN 1 ELSE 0 END)) AS cnt_sms_success,
			SUM((CASE WHEN c4_trans_result = 'XXXX' THEN 1 ELSE 0 END)) AS cnt_sms_sending,
			SUM((CASE WHEN c4_trans_result != 'G000' AND c4_trans_result != 'XXXX' THEN 1 ELSE 0 END)) AS cnt_sms_fail
		FROM sms_history
		<where>
			<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_from)">
				AND TO_CHAR(dt_frt,'yyyyMMdd') <![CDATA[>=]]> #{txt_dt_from}
			</if>
			<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_to)">
				AND TO_CHAR(dt_frt,'yyyyMMdd') <![CDATA[<=]]> #{txt_dt_to}
			</if>
		</where>
		GROUP BY id_frt, c1_type_msg
		ORDER BY id_frt, c1_type_msg
	</select>

	<!-- 일별 조회 현황 -->
	<sql id="statDailyUse_WHERE">
        <if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_from)">
				AND TO_CHAR(DT_FRT,'yyyyMMdd') <![CDATA[>=]]> #{txt_dt_from}
			</if>
			<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_to)">
				AND TO_CHAR(DT_FRT,'yyyyMMdd') <![CDATA[<=]]> #{txt_dt_to}
			</if>
    </sql>
	<select id="listStatDailyUse" parameterType="com.koscom.stats.model.StatsForm" resultType="com.koscom.stats.model.StatsVO">
		SELECT
			*
		FROM
			(
				SELECT
					LST.DT_FRT,
					LST.JOIN_PERSON_CNT,
					LST.LOGIN_PERSON_CNT,
					ROWNUM RNUM
				FROM
					(
						SELECT
							L.DT_FRT,
							COUNT( DISTINCT P.NO_PERSON ) AS JOIN_PERSON_CNT,
							COUNT( DISTINCT L.NO_PERSON ) AS LOGIN_PERSON_CNT
						FROM
							(
								SELECT
									TO_CHAR( DT_FRT, 'YYYY-MM-DD' ) AS DT_FRT,
									NO_PERSON
								FROM
									PERSON_LOGIN_HIST
								WHERE
									1=1
									<include refid="statDailyUse_WHERE"/>
							) L
						LEFT JOIN PERSON_INFO P ON
							L.DT_FRT = TO_CHAR( P.DT_FRT, 'YYYY-MM-DD' )
						GROUP BY
							L.DT_FRT
						ORDER BY
							L.DT_FRT DESC
					) LST
				WHERE
					ROWNUM <![CDATA[<=]]> #{endPosition, jdbcType=NUMERIC}
			)
		WHERE
			RNUM <![CDATA[>=]]> #{startPosition, jdbcType=NUMERIC}
	</select>
	<select id="listStatDailyUseCount"  parameterType="com.koscom.stats.model.StatsForm" resultType="int">
		SELECT
            COUNT(DISTINCT TO_CHAR( DT_FRT, 'YYYY-MM-DD' )) AS recordCount
        FROM
        	PERSON_LOGIN_HIST
        WHERE 1=1
        <include refid="statDailyUse_WHERE"/>
	</select>
	<select id="listStatDailyUseDetail" parameterType="com.koscom.stats.model.StatsForm" resultType="com.koscom.stats.model.StatsVO">
		SELECT
			P.NO_PERSON,
			P.NM_PERSON,
			KCL.GRADE_CREDIT,
			DEBT.DEBT_CNT,
			FN_AMT_VIEW(DEBT.AMT_REMAIN) AS DEBT_AMT_REMAIN
		FROM
			PERSON_INFO P
		<if test='"cn"      .equals(sel_detail)'>
		INNER JOIN(
			SELECT
				DISTINCT NO_PERSON
			FROM
				PERSON_LOGIN_HIST
			WHERE
				TO_CHAR( DT_FRT, 'YYYY-MM-DD' )= #{sel_dt_kind}
		) L ON
		P.NO_PERSON = L.NO_PERSON
		</if>
		LEFT OUTER JOIN (SELECT NO_PERSON
		                       ,MAX(GRADE_CREDIT) KEEP(DENSE_RANK FIRST ORDER BY REQ_YYYYMM DESC) AS GRADE_CREDIT
		                   FROM KCB_CREDIT_LIST
		                  GROUP BY NO_PERSON) KCL 
		  ON P.NO_PERSON = KCL.NO_PERSON
		LEFT OUTER JOIN(
			SELECT
				DPI.NO_PERSON,
				SUM( DPI.AMT_REMAIN ) AS AMT_REMAIN,
				COUNT( DPI.NO_MANAGE_INFO ) AS DEBT_CNT
			FROM
				DEBT_PERSONAL_INFO DPI
			WHERE
			DPI.YMD_CANCEL IS NULL
			AND DPI.DISPLAY_YN='Y'
			GROUP BY
				DPI.NO_PERSON
		) DEBT ON
		P.NO_PERSON = DEBT.NO_PERSON
		WHERE 1=1
			<if test='"ji"      .equals(sel_detail)'>
				AND	TO_CHAR( P.DT_FRT, 'YYYY-MM-DD' )= #{sel_dt_kind}
			</if>
		ORDER BY
			P.NO_PERSON
	</select>
	<select id="listStatDailyUseChart" parameterType="com.koscom.stats.model.StatsChartForm" resultType="com.koscom.stats.model.StatsVO">
		SELECT
			L.DT_FRT,
			COUNT( DISTINCT P.NO_PERSON ) AS JOIN_PERSON_CNT,
			COUNT( DISTINCT L.NO_PERSON ) AS LOGIN_PERSON_CNT
		FROM
		(
		SELECT
			TO_CHAR( DT_FRT, 'YYYY-MM-DD' ) AS DT_FRT,
			NO_PERSON
		FROM
			PERSON_LOGIN_HIST
		WHERE 1=1
			<include refid="statDailyUse_WHERE"/>
		) L
		LEFT JOIN PERSON_INFO P ON
		L.DT_FRT = TO_CHAR( P.DT_FRT, 'YYYY-MM-DD' )
		GROUP BY
			L.DT_FRT
		ORDER BY
			L.DT_FRT ASC
	</select>

</mapper>