<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">정보수정</p>
        </div>
        
        <div class="container">
            <p>금리 등 부채 정보를 수정합니다.</p>
            <ul class="debt-modify">
                <li>
                    <p class="key">금리</p>
                    <p><input type="text"><em>%</em></p>
                </li>
                <li>
                    <p class="key">상환방법</p>
                    <p>
                        <select>
                            <option>원금분할상환</option>
                        </select>
                    </p>
                </li>
                <li>
                    <p class="key">거치기간</p>
                    <p>
                        <select>
                            <option>없음</option>
                        </select>
                    </p>
                </li>
                <li>
                    <p class="key">이자납입주기</p>
                    <p>
                        <select>
                            <option>매월</option>
                        </select>
                    </p>
                </li>
                <li>
                    <p class="key">이자납입일</p>
                    <p>
                        <select>
                            <option>25일</option>
                        </select>
                    </p>
                </li>
            </ul>
            <div class="btn-wrap">
                <a href="#" class="solid blue">확인</a>
            </div>
        </div> 
        
    </section>
	
</body>
</html>
