<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">상환정보 입력</p>
        </div>
        
        <div class="container">
            <ul class="debt-modify">
                <li>
                    <p class="key">상환일</p>
                    <p><input type="text" placeholder="상환일을 입력하세요"><button class="cal"></button></p>
                </li>
                <li>
                    <p class="key">금액</p>
                    <p><input type="text" placeholder="상환금액을 입력하세요"><em>만원</em></p>
                </li>
            </ul>
            <div class="btn-wrap float">
                <a href="#" class="solid blue box">저장</a>
            </div>
        </div> 
        
    </section>
	
</body>
</html>
