<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.goods.dao.GoodsMapper">

	<select id="listGoodsAllianceCredit" parameterType="com.koscom.goods.model.GoodsForm" resultType="com.koscom.goods.model.GoodsVO">
    /* com.koscom.goods.dao.GoodsMapper.listGoodsAllianceCredit  */
    <![CDATA[
      SELECT CD_GOODS
             ,CD_FC
             ,DESC_FEATURE
             ,KEYWORD_LIST
             ,CD_GOODS_CLASS_L
             ,CD_GOODS_CLASS_M
             ,NM_GOODS
             ,CD_TYPE_INTEREST
             ,RTO_INTEREST_FROM
             ,RTO_INTEREST_TO
             ,AMT_LIMIT
             ,CD_LOAN_TERM
             ,YN_FAVORITE
             ,PATH_FILE1
             ,RNUM
        FROM(SELECT LST.CD_GOODS
                    ,LST.CD_FC
                    ,LST.DESC_FEATURE
                    ,LST.KEYWORD_LIST
                    ,LST.CD_GOODS_CLASS_L
                    ,LST.CD_GOODS_CLASS_M
                    ,LST.NM_GOODS
                    ,LST.CD_TYPE_INTEREST
                    ,LST.RTO_INTEREST_FROM
                    ,LST.RTO_INTEREST_TO
                    ,LST.AMT_LIMIT
                    ,LST.CD_LOAN_TERM
                    ,LST.YN_FAVORITE
                    ,LST.PATH_FILE1
                   ,ROWNUM RNUM
               FROM (SELECT GI.CD_GOODS
                            ,GI.CD_FC
                            ,GI.DESC_FEATURE
                            ,GI.KEYWORD_LIST
                            ,GI.CD_GOODS_CLASS_L
                            ,GI.CD_GOODS_CLASS_M
                            ,GI.NM_GOODS
                            ,GI.CD_TYPE_INTEREST
                            ,GI.RTO_INTEREST_FROM
                            ,GI.RTO_INTEREST_TO
                            ,GI.AMT_LIMIT
                            ,GI.CD_LOAN_TERM
                           ,(CASE WHEN( SELECT COUNT(*)
                                          FROM COOCON_GOODS_FAVORITE_INFO CGFI
                                         WHERE CGFI.CD_FC = GI.CD_FC
                                           AND CGFI.CD_NON_GOODS = GI.CD_GOODS
                                           AND CGFI.YN_ALLIANCE = 'Y'
                                           AND CGFI.NO_PERSON = #{no_person, jdbcType=VARCHAR}
                                      )> 0 THEN 'Y'
                                  ELSE 'N' END) AS YN_FAVORITE
                            ,FI.PATH_FILE1
                        FROM (SELECT A.CD_GOODS
                                    ,A.CD_FC
                                    ,A.DESC_FEATURE
                                    ,A.KEYWORD_LIST
                                    ,A.CD_GOODS_CLASS_L
                                    ,A.CD_GOODS_CLASS_M
                                    ,A.NM_GOODS
                                    ,A.CD_TYPE_INTEREST
                                    ,A.RTO_INTEREST_FROM
                                    ,A.RTO_INTEREST_TO
                                    ,A.AMT_LIMIT
                                    ,A.CD_LOAN_TERM
                                FROM GOODS_INFO A
                               WHERE A.YN_USE = 'Y'
                            ) GI
                        LEFT OUTER JOIN FC_INFO FI ON
                             GI.CD_FC = FI.CD_FC
                       WHERE GI.CD_GOODS_CLASS_L = #{cd_goods_class_l, jdbcType=VARCHAR}
				         AND GI.CD_GOODS_CLASS_M IN
				      ]]>
					  <foreach item="item" collection="cd_goods_array_m" index="index" open="(" separator="," close=")">
			       		#{item, jdbcType=VARCHAR}
				      </foreach>
                        ORDER BY  <choose>
                                      <when test="'01'.equals(orderby)">
                                          RTO_INTEREST_FROM ASC/*금리낮은순*/,
                                      </when>
                                      <when test="'02'.equals(orderby)">
                                          AMT_LIMIT DESC /*한도높은순*/,
                                      </when>
                                      <when test="'03'.equals(orderby)">
                                          NVL(CD_LOAN_TERM,'-1') DESC/*기간높은순*/,
                                      </when>
                                  </choose>
                                YN_FAVORITE       DESC

        <![CDATA[
                    ) LST
                WHERE ROWNUM <= #{endPosition, jdbcType=NUMERIC}
            )
        WHERE RNUM >= #{startPosition, jdbcType=NUMERIC}
        ]]>
	</select>
	
	<select id="listGoodsAllianceCreditCount" parameterType="com.koscom.goods.model.GoodsForm" resultType="int">
        /* com.koscom.goods.dao.GoodsMapper.listGoodsAllianceCreditCount */
        SELECT COUNT(*) AS recordCount
               FROM (SELECT GI.CD_GOODS
                            ,GI.CD_FC
                            ,GI.DESC_FEATURE
                            ,GI.KEYWORD_LIST
                            ,GI.CD_GOODS_CLASS_L
                            ,GI.CD_GOODS_CLASS_M
                            ,GI.NM_GOODS
                            ,GI.CD_TYPE_INTEREST
                            ,GI.RTO_INTEREST_FROM
                            ,GI.RTO_INTEREST_TO
                            ,GI.AMT_LIMIT
                            ,GI.CD_LOAN_TERM
                           ,(CASE WHEN( SELECT COUNT(*)
                                          FROM COOCON_GOODS_FAVORITE_INFO CGFI
                                         WHERE CGFI.CD_FC = GI.CD_FC
                                           AND CGFI.CD_NON_GOODS = GI.CD_GOODS
                                           AND CGFI.YN_ALLIANCE = 'Y'
                                           AND CGFI.NO_PERSON = #{no_person, jdbcType=VARCHAR}
                                      )> 0 THEN 'Y'
                                  ELSE 'N' END) AS YN_FAVORITE
                            ,FI.PATH_FILE1
                        FROM (SELECT A.CD_GOODS
                                    ,A.CD_FC
                                    ,A.DESC_FEATURE
                                    ,A.KEYWORD_LIST
                                    ,A.CD_GOODS_CLASS_L
                                    ,A.CD_GOODS_CLASS_M
                                    ,A.NM_GOODS
                                    ,A.CD_TYPE_INTEREST
                                    ,A.RTO_INTEREST_FROM
                                    ,A.RTO_INTEREST_TO
                                    ,A.AMT_LIMIT
                                    ,A.CD_LOAN_TERM
                                FROM GOODS_INFO A
                               WHERE A.YN_USE = 'Y'
                            ) GI
                        LEFT OUTER JOIN fc_info FI ON
                            GI.CD_FC = FI.CD_FC
		       		   WHERE GI.CD_GOODS_CLASS_L = #{cd_goods_class_l, jdbcType=VARCHAR}
				         AND GI.CD_GOODS_CLASS_M IN
					  <foreach item="item" collection="cd_goods_array_m" index="index" open="(" separator="," close=")">
			       		#{item, jdbcType=VARCHAR}
				      </foreach>
     			) LST
	</select>
	
	<select id="listGoodsAllianceBiz" parameterType="com.koscom.goods.model.GoodsForm" resultType="com.koscom.goods.model.GoodsVO">
    <![CDATA[
      /* com.koscom.goods.dao.GoodsMapper.listGoodsAllianceBiz  */
      SELECT
      		CD_GOODS
            ,CD_FC
            ,DESC_FEATURE
            ,KEYWORD_LIST
            ,CD_GOODS_CLASS_L
            ,CD_GOODS_CLASS_M
            ,NM_GOODS
            ,CD_TYPE_INTEREST
            ,RTO_INTEREST_FROM
            ,RTO_INTEREST_TO
            ,AMT_LIMIT
            ,CD_LOAN_TERM
            ,YN_FAVORITE
            ,PATH_FILE1
            ,RNUM
        FROM(SELECT LST.CD_GOODS
                    ,LST.CD_FC
                    ,LST.DESC_FEATURE
                    ,LST.KEYWORD_LIST
                    ,LST.CD_GOODS_CLASS_L
                    ,LST.CD_GOODS_CLASS_M
                    ,LST.NM_GOODS
                    ,LST.CD_TYPE_INTEREST
                    ,LST.RTO_INTEREST_FROM
                    ,LST.RTO_INTEREST_TO
                    ,LST.AMT_LIMIT
                    ,LST.CD_LOAN_TERM
                    ,LST.YN_FAVORITE
                    ,LST.PATH_FILE1
                   ,ROWNUM RNUM
               FROM (SELECT GI.CD_GOODS
                            ,GI.CD_FC
                            ,GI.DESC_FEATURE
                            ,GI.KEYWORD_LIST
                            ,GI.CD_GOODS_CLASS_L
                            ,GI.CD_GOODS_CLASS_M
                            ,GI.NM_GOODS
                            ,GI.CD_TYPE_INTEREST
                            ,GI.RTO_INTEREST_FROM
                            ,GI.RTO_INTEREST_TO
                            ,GI.AMT_LIMIT
                            ,GI.CD_LOAN_TERM
                           ,(CASE WHEN( SELECT COUNT(*)
                                          FROM COOCON_GOODS_FAVORITE_INFO CGFI
                                         WHERE CGFI.CD_FC = GI.CD_FC
                                           AND CGFI.CD_NON_GOODS = GI.CD_GOODS
                                           AND CGFI.YN_ALLIANCE = 'Y'
                                           AND CGFI.NO_PERSON = #{no_person, jdbcType=VARCHAR}
                                      )> 0 THEN 'Y'
                                  ELSE 'N' END) AS YN_FAVORITE
                            ,FI.PATH_FILE1
                        FROM (SELECT
                        			A.CD_GOODS
                                     ,A.CD_FC
                                     ,A.DESC_FEATURE
                                     ,A.KEYWORD_LIST
                                     ,A.CD_GOODS_CLASS_L
                                     ,A.CD_GOODS_CLASS_M
                                     ,A.NM_GOODS
                                     ,A.CD_TYPE_INTEREST
                                     ,A.RTO_INTEREST_FROM
                                     ,A.RTO_INTEREST_TO
                                     ,A.AMT_LIMIT
                                     ,A.CD_LOAN_TERM
                              FROM
                              	GOODS_INFO A
                              WHERE A.YN_USE = 'Y'
                            ) GI
                        LEFT OUTER JOIN FC_INFO FI
                        ON GI.CD_FC = FI.CD_FC
                        ]]>
                        <choose>
                            <when test="cd_goods_class_l.equals('01')">
                                WHERE GI.CD_GOODS_CLASS_L = #{cd_goods_class_l, jdbcType=VARCHAR}
                                  AND (    GI.CD_GOODS_CLASS_M = #{cd_goods_class_m, jdbcType=VARCHAR}
                                        OR GI.CD_GOODS_CLASS_M = '03'
                                      )
                            </when>
                            <when test="cd_goods_class_l.equals('02')">
                                WHERE GI.CD_GOODS_CLASS_L = #{cd_goods_class_l, jdbcType=VARCHAR}
                                  AND GI.CD_GOODS_CLASS_M = #{cd_goods_class_m, jdbcType=VARCHAR}
                            </when>
                        </choose>
            ORDER BY  <choose>
                            <when test="'01'.equals(orderby)">
                                RTO_INTEREST_FROM ASC/*금리낮은순*/,
                            </when>
                            <when test="'02'.equals(orderby)">
                                AMT_LIMIT DESC /*한도높은순*/,
                            </when>
                            <when test="'03'.equals(orderby)">
                                NVL(CD_LOAN_TERM,'-1') DESC/*기간높은순*/,
                            </when>
                        </choose>
                        YN_FAVORITE       DESC
                        <![CDATA[
                    ) LST
                WHERE ROWNUM <= #{endPosition, jdbcType=NUMERIC}
            )
        WHERE RNUM >= #{startPosition, jdbcType=NUMERIC}
     ]]>
    </select>

    <select id="listGoodsAllianceBizCount" parameterType="com.koscom.goods.model.GoodsForm" resultType="int">
        <![CDATA[
        /* com.koscom.goods.dao.GoodsMapper.listGoodsAllianceBizCount */
        SELECT COUNT(*) AS recordCount
          FROM (SELECT
          				GI.CD_GOODS
                        ,GI.CD_FC
                        ,GI.DESC_FEATURE
                        ,GI.KEYWORD_LIST
                        ,GI.CD_GOODS_CLASS_L
                        ,GI.CD_GOODS_CLASS_M
                        ,GI.NM_GOODS
                        ,GI.CD_TYPE_INTEREST
                        ,GI.RTO_INTEREST_FROM
                        ,GI.RTO_INTEREST_TO
                        ,GI.AMT_LIMIT
                        ,GI.CD_LOAN_TERM
                        ,(CASE WHEN( SELECT COUNT(*)
                                          FROM COOCON_GOODS_FAVORITE_INFO CGFI
                                         WHERE CGFI.CD_FC = GI.CD_FC
                                           AND CGFI.CD_NON_GOODS = GI.CD_GOODS
                                           AND CGFI.YN_ALLIANCE = 'Y'
                                           AND CGFI.NO_PERSON = #{no_person, jdbcType=VARCHAR}
                                      )> 0 THEN 'Y'
                                  ELSE 'N' END) AS YN_FAVORITE
                         ,FI.PATH_FILE1
                    FROM (SELECT
                        		 A.CD_GOODS
                                 ,A.CD_FC
                                 ,A.DESC_FEATURE
                                 ,A.KEYWORD_LIST
                                 ,A.CD_GOODS_CLASS_L
                                 ,A.CD_GOODS_CLASS_M
                                 ,A.NM_GOODS
                                 ,A.CD_TYPE_INTEREST
                                 ,A.RTO_INTEREST_FROM
                                 ,A.RTO_INTEREST_TO
                                 ,A.AMT_LIMIT
                                 ,A.CD_LOAN_TERM
                          	FROM
                            	GOODS_INFO A
                            WHERE A.YN_USE = 'Y'
                            ) GI
                   LEFT OUTER JOIN FC_INFO FI
                   ON GI.CD_FC = FI.CD_FC
                   ]]>
            <choose>
                <when test="cd_goods_class_l.equals('01')">
                    WHERE GI.CD_GOODS_CLASS_L = #{cd_goods_class_l, jdbcType=VARCHAR}
                      AND (    GI.CD_GOODS_CLASS_M = #{cd_goods_class_m, jdbcType=VARCHAR}
                            OR GI.CD_GOODS_CLASS_M = '03'
                          )
                </when>
                <when test="cd_goods_class_l.equals('02')">
                    WHERE GI.CD_GOODS_CLASS_L = #{cd_goods_class_l, jdbcType=VARCHAR}
                      AND GI.CD_GOODS_CLASS_M = #{cd_goods_class_m, jdbcType=VARCHAR}
                </when>
            </choose>
        ) LST
	</select>
	
	<select id="getGoodsFavorite" parameterType="com.koscom.goods.model.GoodsVO" resultType="com.koscom.goods.model.GoodsVO">
         SELECT
             GI.CD_GOODS,
			 GI.CD_FC,
			 GI.NM_GOODS,
			 GI.YN_USE,
			 GI.YN_ZERO_RATIO,
			 GI.CD_GOODS_CLASS_L,
			 GI.CD_GOODS_CLASS_M,
			 GI.CD_GOODS_CLASS_S,
			 GI.CD_GOODS_TYPE,
			 GI.CD_LOAN_TERM,
			 GI.CD_TYPE_INTEREST,
			 GI.RTO_INTEREST_FROM,
			 GI.RTO_INTEREST_TO,
			 GI.AMT_LIMIT,
			 GI.CD_TYPE_PAY,
			 GI.CD_EVENT,
			 GI.YN_ONLINE,
			 GI.YN_PROC_NOPAPERS,
			 GI.DESC_TRADE_CLAUSE,
			 GI.DESC_GOODS,
			 GI.DESC_LOAN,
			 GI.DESC_LIMIT,
			 GI.DESC_PAYMETHOD,
			 GI.DESC_PAPERS,
			 GI.AGE_LOAN_FROM,
			 GI.AGE_LOAN_TO,
			 GI.AMT_APPLY_FROM,
			 GI.AMT_APPLY_TO,
			 GI.NO_MONTH_APPLY_FROM,
			 GI.NO_MONTH_APPLY_TO,
			 GI.CD_TYPE_INCOME,
			 GI.CD_EMPLOY_TYPE,
			 GI.CD_LOAN_USE,
			 GI.AMT_YEAR_INCOME,
			 GI.OU_YEAR_INCOME,
			 GI.AMT_YEAR_SALE,
			 GI.OU_SALE_INCOME,
			 GI.YMD_START_COMP,
			 GI.NO_JOB_YEAR,
			 GI.CD_LIVE_TYPE,
			 GI.CD_HOUSE_TYPE,
			 GI.YN_PROOF_INCOME,
			 GI.YN_4INSU,
			 GI.YN_BAD_CREDIT,
			 GI.YN_DELAY_CURRENT,
			 GI.DAY_DELAY_6MONTH,
			 GI.DAY_DELAY_12MONTH,
			 GI.GRADE_KCB,
			 GI.GRADE_NICE,
			 GI.DTI_GRADE1,
			 GI.DTI_GRADE2,
			 GI.DTI_GRADE3,
			 GI.DTI_GRADE4,
			 GI.DTI_GRADE5,
			 GI.DTI_GRADE6,
			 GI.DTI_GRADE7,
			 GI.DTI_GRADE8,
			 GI.DTI_GRADE9,
			 GI.DTI_GRADE10,
			 GI.CHK_AGE_LOAN,
			 GI.CHK_AMT_APPLY,
			 GI.CHK_NO_MONTH_APPLY,
			 GI.CHK_CD_TYPE_INCOME,
			 GI.CHK_CD_EMPLOY_TYPE,
			 GI.CHK_CD_LOAN_USE,
			 GI.CHK_AMT_YEAR_INCOME,
			 GI.CHK_AMT_YEAR_SALE,
			 GI.CHK_YMD_START_COMP,
			 GI.CHK_NO_JOB_YEAR,
			 GI.CHK_CD_LIVE_TYPE,
			 GI.CHK_CD_HOUSE_TYPE,
			 GI.CHK_YN_PROOF_INCOME,
			 GI.CHK_YN_4INSU,
			 GI.CHK_YN_BAD_CREDIT,
			 GI.CHK_YN_DELAY_CURRENT,
			 GI.CHK_DAY_DELAY_6MONTH,
			 GI.CHK_DAY_DELAY_12MONTH,
			 GI.CHK_GRADE_KCB,
			 GI.CHK_GRADE_NICE,
			 GI.CHK_DTI_GRADE,
			 GI.CHK_GRADE_LTV,
			 GI.CHK_GRADE_DTI,
			 GI.GRADE_LTV,
			 GI.GRADE_DTI,
			 GI.CD_SEX,
			 GI.CD_OWNCAR_TYPE,
			 GI.CD_CAR_TYPE,
			 GI.CNT_CASH_SERVICE,
			 GI.AMT_CASH_SERVICE,
			 GI.AMT_CARPRICE_FROM,
			 GI.AMT_CARPRICE_TO,
			 GI.NO_CARYEAR_FROM,
			 GI.NO_CARYEAR_TO,
			 GI.CHK_CD_SEX,
			 GI.CHK_CASH_SERVICE,
			 GI.CHK_CD_OWNCAR_TYPE,
			 GI.CHK_CD_CAR_TYPE,
			 GI.CHK_AMT_CARPRICE,
			 GI.CHK_NO_CARYEAR,
			 GI.DESC_REPAYMETHOD,
			 GI.DESC_COMMISSION,
			 GI.DESC_INQUIRY,
			 GI.CONTENT_INTEREST,
			 GI.PREFER_INTEREST,
			 GI.CD_APPLY_TYPE,
			 GI.CD_TRADE_TYPE,
			 GI.CD_TIME_EXEC,
			 GI.YN_SEND_DOCU,
			 GI.YN_VISIT,
			 GI.YN_ERLY_RPAY_FEE,
			 GI.YN_SRCH_RATIO_LIMIT,
			 GI.CD_RATIO_TYPE,
			 GI.CD_CATEGORY_GOODS,
			 GI.CD_AREA,
			 GI.CD_DEFER,
			 GI.CD_OBJECT,
			 GI.YN_POST_RANKING,
			 GI.CD_COLLATERAL_HOUSE_TYPE,
			 GI.CD_COLLATERAL_LOAN_USE,
			 GI.DESC_FEATURE,
			 GI.KEYWORD_LIST,
			 GI.ID_FRT,
			 GI.DT_FRT,
			 GI.ID_LST,
			 GI.DT_LST
             , (CASE WHEN (
                            SELECT COUNT(*)
                            FROM COOCON_GOODS_FAVORITE_INFO CGFI
                            WHERE CGFI.CD_FC = GI.CD_FC
                                AND CGFI.CD_NON_GOODS = GI.CD_GOODS
                                AND CGFI.YN_ALLIANCE = 'Y'
                                AND CGFI.NO_PERSON = #{no_person, jdbcType=VARCHAR}
                            ) <![CDATA[>]]> 0 THEN 'Y'
                ELSE 'N'
                END ) AS YN_FAVORITE
             , FI.PATH_FILE1
             , FI.NM_FC
         FROM GOODS_INFO GI
         LEFT OUTER JOIN FC_INFO FI
         ON GI.CD_FC = FI.CD_FC
         <where>
            <if test='@com.koscom.util.MybatisUtil@isNotEmpty(cd_fc)'>
                GI.CD_FC = #{cd_fc}
            </if>
            <if test='@com.koscom.util.MybatisUtil@isNotEmpty(cd_goods)'>
                AND GI.CD_GOODS = #{cd_goods}
            </if>
         </where>
    </select>
</mapper>      