<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">입출금내역</p>
        </div>
        
        <div class="gray-search-box">
            <div class="search">
                <div class="left">
                    <button class="on">1주일</button>
                    <button>3개월</button>
                    <button>6개월</button>
                </div>
                <div class="right">
                    <button class="acco">조건검색</button>
                </div>
            </div>
            <div class="form">
                <p>은행계좌선택</p>
                <p>
                    <select>
                        <option>전체</option>
                    </select>
                </p>
            </div>
            <div class="wrap">
                <div class="date-pick">
                    <p>
                        <input type="text"><button></button>
                    </p>
                    <p>
                        <input type="text"><button></button>
                    </p>
                </div>
                <div class="btn-wrap mt20">
                    <a href="#" class="solid blue">검색</a>
                </div>
            </div>
        </div>
        
        <div class="bank-detail noMG">
            <div class="select">
                 <div class="left">
                    <select>
                        <option>금리순</option>
                    </select>
                 </div>
                 <div class="right">
                    <button class="btn-search"></button>
                 </div>
             </div>
            
            <div class="inout">
                <div>
                    <p class="key red">입금<em>(원)</em></p>
                    <p class="number">4,350,000</p>
                </div>
                <div>
                    <p class="key blue">출금<em>(원)</em></p>
                    <p class="number">4,350,000</p>
                </div>
            </div>
            
            <div class="nobox-list">
                <p class="date">07.12</p>
                <div class="item">
                    <div class="flex">
                        <p><em class="circle red">준수</em><em>급여</em></p>
                        <p><em class="number red">5,340,000</em>원</p>
                    </div>
                    <div class="flex">
                        <p class="key">신한은행</p>
                        <p class="key">8,560,000원</p>
                    </div>
                </div>
                <div class="item">
                    <div class="flex">
                        <p><em class="circle blue">준수</em><em>급여</em></p>
                        <p><em class="number blue">5,340,000</em>원</p>
                    </div>
                    <div class="flex">
                        <p class="key">신한은행</p>
                        <p class="key">8,560,000원</p>
                    </div>
                </div>
                
                <p class="date">07.12</p>
                <div class="item">
                    <div class="flex">
                        <p><em class="circle red">준수</em><em>급여</em></p>
                        <p><em class="number red">5,340,000</em>원</p>
                    </div>
                    <div class="flex">
                        <p class="key">신한은행</p>
                        <p class="key">8,560,000원</p>
                    </div>
                </div>
                <div class="item">
                    <div class="flex">
                        <p><em class="circle blue">준수</em><em>급여</em></p>
                        <p><em class="number blue">5,340,000</em>원</p>
                    </div>
                    <div class="flex">
                        <p class="key">신한은행</p>
                        <p class="key">8,560,000원</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    
    <aside class="search-wrap">
        <div class="top">
            <button>검색</button>
        </div>
        <div class="wrap">
            <div class="hash">
                <a href="#"># 이체</a>
                <a href="#"># 국민대출</a>
                <a href="#"># 급여</a>
                <a href="#"># 황</a>
                <a href="#"># 통신비</a>
                <a href="#"># N빵</a>
                <a href="#"># 보험료</a>
                <a href="#"># 쇼파</a>
                <a href="#"># 신용카드</a>
                <a href="#"># 어머니 생신</a>
                <a href="#"># 입출금이자</a>
                <a href="#"># 자전거 계약금</a>
                <a href="#"># 대출</a>
                <a href="#"># 김수진</a>
                <a href="#"># 국민입금</a>
                <a href="#"># 공기청청기</a>
                <a href="#"># 집대출</a>
            </div>
        </div>
    </aside>
	
</body>
</html>
