<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/main.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="top main">
            <ul>
                <li><a href="../mypage/Main.html">MY</a></li>
                <li><a href="../credit/Main.html">신용</a></li>
                <li><a href="../debt/Main.html">부채</a></li>
                <li><a href="../consume/Main.html">지출</a></li>
                <li class="on"><a href="../assets/Main.html">자산</a></li>
            </ul>
        </div>
        
        <div class="assets-top">
            <div class="wrap">
                <div class="item">
                    <p class="key">자산<em>(원)</em></p>
                    <p class="value">165,550,000</p>
                </div>
                <div class="item">
                    <p class="key">부채<em>(원)</em></p>
                    <p class="value">89,000,000</p>
                </div>
            </div>
        </div>
        
        <div class="banner-wrap owl-carousel">
            <div class="item">
                <a href="#">
                    <div class="banner">
                        <div class="left">
                            <p class="key">우리가족 가계부</p>
                            <p class="value">가족이 사용한 지출을<br>한꺼번에 관리하세요</p>
                        </div>
                        <div class="right">
                            <img src="../../assets/images/main/banner_ico.png" alt=""/>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="banner">
                        <div class="left">
                            <p class="key">우리가족 가계부</p>
                            <p class="value">가족이 사용한 지출을<br>한꺼번에 관리하세요</p>
                        </div>
                        <div class="right">
                            <img src="../../assets/images/main/banner_ico.png" alt=""/>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="banner">
                        <div class="left">
                            <p class="key">우리가족 가계부</p>
                            <p class="value">가족이 사용한 지출을<br>한꺼번에 관리하세요</p>
                        </div>
                        <div class="right">
                            <img src="../../assets/images/main/banner_ico.png" alt=""/>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="list02 box-list pb90">
            
            <div class="item">
                <div class="flex">
                    <p class="corp big">은행<em>3건</em></p>
                    <p class="number big">46,570,000<em>원</em></p>
                </div>
            </div>
            <div class="item">
                <div class="flex">
                    <p class="corp big">은행<em>3건</em></p>
                    <p class="number big">46,570,000<em>원</em></p>
                </div>
            </div>
            <div class="item">
                <div class="flex">
                    <p class="corp big">은행<em>3건</em></p>
                    <p class="number big">46,570,000<em>원</em></p>
                </div>
            </div>
            <div class="item">
                <div class="flex">
                    <p class="corp big">은행<em>3건</em></p>
                    <p class="number big">46,570,000<em>원</em></p>
                </div>
            </div>
            <div class="item">
                <div class="flex">
                    <p class="corp big">은행<em>3건</em></p>
                    <p class="number big">46,570,000<em>원</em></p>
                </div>
            </div>
            <button class="btn-spend-add"></button>
        </div>
        
    </section>
	
	<!--   FOOTER 로드   -->
	<aside>
        <div class="top">
            <button>이벤트</button>
        </div>
        <div class="wrap">
            <div class="list-wrap">
                <a href="#">
                    <div class="banner">
                        <div class="left">
                            <p class="key">짠돌이에 도전해 보세요</p>
                            <p class="value">매월 1등에게<br>100만원의 상금을 드립니다</p>
                        </div>
                        <div class="right">
                            <img src="../../assets/images/common/event_banner_ico1.png" alt=""/>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="banner">
                        <div class="left">
                            <p class="key">우리가족 가계부</p>
                            <p class="value">가족이 사용한 지출을<br>한꺼번에 관리하세요</p>
                        </div>
                        <div class="right">
                            <img src="../../assets/images/common/event_banner_ico2.png" alt=""/>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="banner">
                        <div class="left">
                            <p class="key">지출일 알림</p>
                            <p class="value">지출일을 사전에 등록해서<br>잔액을 미리 확인하세요</p>
                        </div>
                        <div class="right">
                            <img src="../../assets/images/common/event_banner_ico3.png" alt=""/>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </aside>
	
</body>
</html>
