<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.board.dao.BoardMapper">
	<resultMap id="boardImgMap" type="hashMap">
	    <result column="img_files" property="img_files" jdbcType="BLOB" javaType="[B"></result>
	    <result column="nm_img_files" property="nm_img_files" jdbcType="VARCHAR" javaType="String"></result>
	</resultMap>

	<sql id="listBoardInfo_WHERE">
		<where>
			<!-- 상세검색 -->
			<if test="@com.koscom.util.MybatisUtil@isNotEmpty(sel_detail)">
				<choose>
					<when test="'yn_popup'.equals(sel_detail)">
						BO.yn_popup = 'Y'
					</when>
					<otherwise>
						<if test='"title"   .equals(sel_detail)'>AND title    LIKE '%'||#{txt_detail}||'%'</if>
						<if test='"content" .equals(sel_detail)'>AND content  LIKE '%'||#{txt_detail}||'%'</if>
						<if test='"seq"     .equals(sel_detail)'>AND seq      LIKE '%'||#{txt_detail}||'%'</if>
						<if test='"yn_popup".equals(sel_detail)'>AND yn_popup LIKE '%'||#{txt_detail}||'%'</if>
					</otherwise>
				</choose>
			</if>

			<if test="@com.koscom.util.MybatisUtil@isNotEmpty(sel_dt_kind)">
				<choose>
					<when test="@com.koscom.util.MybatisUtil@contains('dt_',sel_dt_kind)">
						<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_from)">
							<if test='"dt_frt".equals(sel_dt_kind)'>AND TO_CHAR(dt_frt,'yyyyMMdd') <![CDATA[>=]]> #{txt_dt_from}</if>
							<if test='"dt_lst".equals(sel_dt_kind)'>AND TO_CHAR(dt_lst,'yyyyMMdd') <![CDATA[>=]]> #{txt_dt_from}</if>
						</if>
						<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_to)">
							<if test='"dt_frt".equals(sel_dt_kind)'>AND TO_CHAR(dt_frt,'yyyyMMdd') <![CDATA[<=]]> #{txt_dt_to}</if>
							<if test='"dt_lst".equals(sel_dt_kind)'>AND TO_CHAR(dt_lst,'yyyyMMdd') <![CDATA[<=]]> #{txt_dt_to}</if>
						</if>
					</when>
					<otherwise>
						<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_from)">
							<if test='"dt_frt".equals(sel_dt_kind)'>AND dt_frt <![CDATA[>=]]> #{txt_dt_from}</if>
							<if test='"dt_lst".equals(sel_dt_kind)'>AND dt_lst <![CDATA[>=]]> #{txt_dt_from}</if>
						</if>
						<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_to)">
							<if test='"dt_frt".equals(sel_dt_kind)'>AND dt_frt <![CDATA[<=]]> #{txt_dt_to}</if>
							<if test='"dt_lst".equals(sel_dt_kind)'>AND dt_lst <![CDATA[<=]]> #{txt_dt_to}</if>
						</if>
					</otherwise>
				</choose>
			</if>

			<if test="@com.koscom.util.MybatisUtil@isNotEmpty(id_board)">
				AND BO.id_board = #{id_board}
			</if>
				AND BO.yn_use = 'Y'
		</where>
	</sql>

	<select id="listBoardInfo"  parameterType="com.koscom.board.model.BoardForm" resultType="com.koscom.board.model.BoardInfoVO">
		SELECT
	        *
	    FROM
	        (SELECT
	              LST.seq
	          	  , LST.seq_group
	          	  , LST.seq_level
		          , LST.seq_order
		          , LST.id_board
		          , LST.title
		          , LST.hit
		          , LST.pass_board
		          , LST.content
		          , LST.url_files1
		          , LST.url_files2
		          , LST.yn_use
		          , LST.yn_popup
		          , LST.id_frt
		          , LST.dt_frt
		          , LST.id_lst
		          , LST.dt_lst
		          , LST.nm_person
		          , ROWNUM RNUM
		          , ROWNUM || LST.seq || LST.id_board AS BOARD_IDX
		          , LST.cd_event_proc
		          , LST.ymd_post_strt
                  , LST.ymd_post_end
	         FROM
	            (SELECT
	                  BO.seq
	                , BO.seq_group
	                , BO.seq_level
	                , BO.seq_order
	                , BO.id_board
	                , BO.title
	                , BO.hit
	                , BO.pass_board
	                , BO.content
	                , BO.url_files1
	                , BO.url_files2
	                , BO.yn_use
	                , BO.yn_popup
	                , BO.id_frt
<!-- 	                , BO.dt_frt -->
	                ,TO_CHAR(BO.DT_FRT,'YYYYMMDD') AS dt_frt
	                , BO.id_lst
	                , BO.dt_lst
	                , PE.nm_person
	                , BO.cd_event_proc
	                , BO.ymd_post_strt
	                , BO.ymd_post_end
	             FROM board_info BO LEFT OUTER JOIN person_info PE ON BO.id_frt = PE.no_person
				 <include refid="listBoardInfo_WHERE"/>
				 ORDER BY BO.seq DESC
	             ) LST
	        WHERE ROWNUM <![CDATA[<=]]> #{endPosition, jdbcType=NUMERIC}
	        )
	    WHERE RNUM >= #{startPosition, jdbcType=NUMERIC}
	</select>

	<select id="listBoardInfoCount"  parameterType="com.koscom.board.model.BoardForm" resultType="int">
		SELECT
            COUNT(*) AS recordCount
         FROM board_info BO
         <include refid="listBoardInfo_WHERE"/>
	</select>

	<select id="getBoardInfo"  parameterType="com.koscom.board.model.BoardInfoVO" resultType="com.koscom.board.model.BoardInfoVO">
		SELECT
	           seq
	          ,seq_group
	          ,seq_level
	          ,seq_order
	          ,id_board
	          ,title
	          ,hit
	          ,pass_board
	          ,content
	          ,url_files1
	          ,url_files2
	          ,yn_use
	          ,yn_popup
	          ,id_frt
	          ,TO_CHAR(DT_FRT,'YYYYMMDD') AS dt_frt
	          ,id_lst
	          ,dt_lst
	          , ymd_post_strt
	          , ymd_post_end
	          , cd_event_proc
	     FROM board_info
	     WHERE seq = #{seq}
	       AND yn_use = 'Y'
	</select>

	<select id="getBoardNm"  parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
		 	NM_BOARD
 		FROM BOARD_MANAGE

		 WHERE ID_BOARD = #{ID_BOARD}
	</select>

	<select id="SearchBoard"  parameterType="com.koscom.board.model.BoardForm" resultType="com.koscom.board.model.BoardInfoVO">
		SELECT
	        *
	    FROM
	        (SELECT
	            LST.*,
	            ROWNUM RNUM
	          , ROWNUM || LST.seq || LST.id_board AS BOARD_IDX
	         FROM
	            (SELECT
	                  BO.seq
	                , BO.seq_group
	                , BO.seq_level
	                , BO.seq_order
	                , BO.id_board
 	                , Replace(BO.title, #{txt_detail, jdbcType=VARCHAR}, '&lt;em style="color:#15689f;font-weight:bold;"&gt;'|| #{txt_detail, jdbcType=VARCHAR} || '&lt;/em&gt;') AS title
<!--  	                BO.title -->
	                , BO.hit
	                , BO.pass_board
	                , BO.content
	                , BO.url_files1
	                , BO.url_files2
	                , BO.yn_use
	                , BO.yn_popup
	                , BO.id_frt
	                ,TO_CHAR(BO.DT_FRT,'YYYYMMDD') AS dt_frt
	                , BO.id_lst
	                , BO.dt_lst
	                , PE.nm_person
	             FROM board_info BO LEFT OUTER JOIN person_info PE ON BO.id_frt = PE.no_person
	             WHERE BO.YN_USE = 'Y'
				  AND BO.ID_BOARD <![CDATA[<>]]> 'notice'
				  AND (BO.TITLE LIKE '%' || #{txt_detail, jdbcType=VARCHAR} || '%' OR BO.CONTENT LIKE '%' || #{txt_detail, jdbcType=VARCHAR}  || '%' )
				 ORDER BY BO.seq DESC
	             ) LST
	        WHERE ROWNUM <![CDATA[<=]]> #{endPosition, jdbcType=NUMERIC}
	        )
	    WHERE RNUM >= #{startPosition, jdbcType=NUMERIC}
	</select>

	<select id="SearchBoardCount"  parameterType="com.koscom.board.model.BoardForm" resultType="int">
		SELECT
            COUNT(*) AS recordCount
         FROM board_info BO
		  WHERE BO.YN_USE = 'Y'
 			 AND BO.ID_BOARD <![CDATA[<>]]> 'notice'
			  AND (BO.TITLE LIKE '%' || #{txt_detail, jdbcType=VARCHAR} || '%' OR BO.CONTENT LIKE '%' || #{txt_detail, jdbcType=VARCHAR}  || '%' )
	</select>

	<select id="getBoardFileInfo" parameterType="com.koscom.board.model.BoardInfoVO" resultType="com.koscom.board.model.BoardInfoVO">
		SELECT
			ID_BOARD
			, SEQ
			, SEQ_FILE
			, FILE_TYPE
			, IMG_FILES
			, NM_IMG_FILES
		FROM BOARD_FILE_INFO
		WHERE ID_BOARD = #{id_board, jdbcType=VARCHAR}
			AND SEQ = #{seq}
			AND FILE_TYPE = #{file_type, jdbcType=VARCHAR}
	</select>

	<select id="getBoardImg" parameterType="com.koscom.board.model.BoardInfoVO" resultMap="boardImgMap">
		SELECT tb.img_files, tb.nm_img_files
		FROM (
	    	SELECT
				img_files, nm_img_files
				, ROW_NUMBER() OVER(ORDER BY dt_frt DESC) AS rnum
			FROM BOARD_FILE_INFO
			WHERE ID_BOARD = #{id_board, jdbcType=VARCHAR}
				AND SEQ = #{seq}
				AND FILE_TYPE = #{file_type, jdbcType=VARCHAR}
			) tb
		WHERE tb.rnum = 1
	</select>

	<select id="listMainEventBoard" resultType="com.koscom.board.model.BoardInfoVO">
		SELECT
			ID_BOARD,
			SEQ,
			TITLE,
			CONTENT,
			YN_USE,
			YMD_POST_STRT,
			YMD_POST_END,
			CD_EVENT_PROC,
			DECODE( CD_EVENT_PROC, '01', '예정', '02', '진행중', '03', '종료' ) AS NM_EVENT_PROC,
			DT_FRT
		FROM
			BOARD_INFO
		WHERE
			ID_BOARD = 'event'
			AND YN_USE = 'Y'
		ORDER BY
			YMD_POST_END DESC NULLS LAST, DT_FRT DESC NULLS LAST
	</select>

</mapper>