<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<!--<script type="text/javascript" src="../../assets/js/jquery-1.9.1.js"></script>-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/owl.carousel.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">소득과 소비</p>
        </div>
        
        <div class="container">
            <ul class="debt-modify">
                <li>
                    <div>
                        <p class="key">소득금액</p>
                        <p>8,000 만원</p>
                    </div>
                </li>
            </ul>
            <div class="btn-wrap">
                <a href="#" class="solid">나의 소득 알아보기</a>
            </div>
            <ul class="debt-modify mt40">
                <li>
                    <div>
                        <p class="key">월평균 지출액</p>
                        <p>250 만원</p>
                    </div>
                </li>
            </ul>
            <div class="btn-wrap">
                <a href="#" class="solid">나의 소비 성향 알아보기</a>
            </div>
        </div>
        <div class="btn-wrap float">
            <a href="#" class="solid box blue">완료</a>
        </div>
        
        
    </section>
	
</body>
</html>
