<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
    
</head>
<body>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="pop-top">
            <p class="title">비목별 소비 금액</p>
            <a href="#" class="btn-close" onClick="window.close();"></a>
        </div>
        
        <div class="container pop-wrap">
            <ul class="debt-modify pb90">
                <li>
					<div>
						<p class="key">식료품</p>
						<p>250 만원</p>
					</div>
                </li>
                <li>
					<div>
						<p class="key">주거비</p>
						<p>250 만원</p>
					</div>
                </li>
                <li>
					<div>
						<p class="key">교육비(보육비 포함)</p>
						<p>250 만원</p>
					</div>
                </li>
                <li>
					<div>
						<p class="key">의료비</p>
						<p>250 만원</p>
					</div>
                </li>
                <li>
					<div>
						<p class="key">교통비</p>
						<p>250 만원</p>
					</div>
                </li>
                <li>
					<div>
						<p class="key">통신비</p>
						<p>250 만원</p>
					</div>
                </li>
                <li>
					<div>
						<p class="key">기타지출</p>
						<p>250 만원</p>
					</div>
                </li>
                <li>
					<div>
						<p class="key">세금 및 이자</p>
						<p>250 만원</p>
					</div>
                </li>
            </ul>
            <div class="btn-wrap float">
                <a href="#" class="solid blue box">확인</a>
            </div>
        </div>
        
        
        
    </section>
	
</body>
</html>
