<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<!--<script type="text/javascript" src="../../assets/js/jquery-1.9.1.js"></script>-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/owl.carousel.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">재무진단</p>
        </div>
        
        <div class="banner-wrap owl-carousel">
            <div class="item noBD">
                <div class="finance-check">
                    <div class="wrap">
                        <div class="top">
                            <div>
                                <p class="key">홍길동님의 부채상환 지수는</p>
                                <p class="number">32<em>%</em></p>
                            </div>
                            <div class="sunny"></div>
                        </div>
                        <div class="bar"><p style="width: 50%"></p></div>
                        <div class="peaker"><p class="rt">유사그룹 (43%)</p></div>
                    </div>
                    <a href="#" class="finance">부채상환지수란?</a>
                </div>
            </div>
            <div class="item noBD">
                <div class="finance-check">
                    <div class="wrap">
                        <div class="top">
                            <div>
                                <p class="key">홍길동님의 부채상환 지수는</p>
                                <p class="number">32<em>%</em></p>
                            </div>
                            <div class="sunny"></div>
                        </div>
                        <div class="bar"><p style="width: 50%"></p></div>
                        <div class="peaker"><p class="rt">유사그룹 (43%)</p></div>
                    </div>
                    <a href="#" class="finance">부채상환지수란?</a>
                </div>
            </div>
        </div>
        
        <div class="box-list">
            <div class="portfolio-list">
                <p class="title">진단결과</p>
                <p class="text">홍길동님의 소득에서 부채상환액이 차지하는 비중은 40% 입니다</p>
                <p class="text">전문가들은 주택마련을 위한 대출이 있는 경우<br>총소득에서 부채상환액이 차지하는 비중이 30% 이하가 되어야 한다고 제안합니다.</p>
                <p class="text">실제 홍길동님과 동일한 특성을 가진 집단의 부채보유비율은 46%이며, 이들의 부채상환지표는 9% 입니다.</p>
                <p class="text">원하는 목표를 달성하고 장기적으로 재무적 문제에서 유로워 지기 위해서는 부채를 상환해야 합니다.</p>
            </div>
            <div class="portfolio-list">
                <p class="title mt20">통계분석</p>
                <div class="graph">그래프 영역</div>
            </div>
            <div class="portfolio-list">
                <p class="title mt20">일반적으로 부채를 상환하는 순서는 …입니다.</p>
                <p class="text">현재 나의 부채 현황을 보시려면</p>
            </div>
            <div class="btn-wrap mt10">
                <a href="#" class="blue solid">부채관리 화면으로 이동</a>
            </div>
            <div class="portfolio-list">
                <p class="text mt20">부채상환과 관련하여 상담이 필요하시면  아래의 버튼을 선택해 주세요</p>
            </div>
            <div class="btn-wrap mt10">
                <a href="#" class="blue solid">신규 대출 목적으로  상담 신청하기</a>
                <a href="#" class="blue solid mt10">추가 대출 목적으로  상담 신청하기</a>
                <a href="#" class="blue solid mt10">부채상환관리 목적으로 상담 신청하기</a>
            </div>
            <div class="portfolio-list">
                <p class="text mt20">보다 낮은 금리의 대출상품을 검색해 보세요</p>
            </div>
            <div class="btn-wrap mt10">
                <a href="#" class="blue solid">상품 검색</a>
            </div>
        </div>
        
        
    </section>
	
</body>
</html>
