<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="../../assets/js/jquery-1.9.1.js"></script>
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/owl.carousel.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">재무진단</p>
        </div>
        
        <div class="banner-wrap owl-carousel">
            <div class="item noBD">
                <div class="finance-check">
                    <div class="chart"><img src="../../assets/images/assets/chart.png" width="100%" alt=""/></div>
                    <a href="#" class="finance">항목 조정하기</a>
                </div>
            </div>
            <div class="item noBD">
                <div class="finance-check">
                    <div class="chart"><img src="../../assets/images/assets/chart.png" width="100%" alt=""/></div>
                    <a href="#" class="finance">항목 조정하기</a>
                </div>
            </div>
        </div>
        
        <div class="box-list">
            <p class="info-massage">동일한 가계특성을 가진 집단이란, 연령대, 근로유형 및 주거 관련 부채보유에 있어 홍길동과 동일한 집단입니다.</p>
            <div class="portfolio-list mt20">
                <p class="title">홍길동님은 총소득보다 총지충이 크고<br>소득에서 부채 상환에 사용되는 지출이 위험한 수준이므로 추가적인 대출을 자제하는것이 좋습니다.</p>
                <p class="text">새로운 대출이 반드시 필요하다면 지출을 줄이고 대출잔액도 출여야 합니다.</p>
                <p class="text">기존의 부채를 일부하도 상환할 수 있는 여력이 생긴다면<br>이자의 부담이 큰 부채, 잔액의 규모가 작은 부채<br>기간이 오래된 부채등을 먼저 갚는 것이 도움이 됩니다 </p>
            </div>
        </div>
        
        
    </section>
	
</body>
</html>
