<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">신청 가능한 상품</p>
        </div>
        
        <div class="con-top credit-up">
            <p><em>홍길동님이 신청 가능한<br>상품과 금리입니다<br>신청은</em> 증권사 HTS<em>를 <br>접속하시어 이용하시기 <br>바랍니다</em></p>
        </div>
        
        <div class="box-list list01 noMG pb90">
            
            <div class="item">
                <div class="top">
                    <p class="symbol checks">
                        <img src="../../assets/images/common/bu_city.png" alt=""/>삼성생명보험</p>
                    <p class="text blue">가능</p>
                </div>
                <p class="goods-name">하이스탁론</p>
                <div class="hide-con show">
                    <div class="list">
                        <p class="left">금리</p>
                        <p class="right">2.7% ( 41만원)</p>
                    </div>
                    <div class="list">
                        <p class="left">한도</p>
                        <p class="right">4,000 만원</p>
                    </div>
                    <div class="list">
                        <p class="left">기간</p>
                        <p class="right">6개월</p>
                    </div>
                </div>
            </div>
            
            <div class="item">
                <div class="top">
                    <p class="symbol checks">
                        <img src="../../assets/images/common/bu_city.png" alt=""/>삼성생명보험</p>
                    <p class="text red">불가능</p>
                </div>
                <p class="goods-name">하이스탁론</p>
                <div class="hide-con show">
                    <div class="list">
                        <p class="left">금리</p>
                        <p class="right">2.7% ( 41만원)</p>
                    </div>
                    <div class="list">
                        <p class="left">한도</p>
                        <p class="right">4,000 만원</p>
                    </div>
                    <div class="list">
                        <p class="left">기간</p>
                        <p class="right">6개월</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="btn-wrap float">
            <a href="#" class="box blue solid">홈으로</a>
        </div>
        
    </section>
	
</body>
</html>
