<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/main.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="top main">
            <ul>
                <li class="on"><a href="Main.html">MY</a></li>
                <li><a href="../credit/Main.html">신용</a></li>
                <li><a href="../debt/Main.html">부채</a></li>
                <li><a href="../consume/Main.html">지출</a></li>
                <li><a href="../assets/Main.html">자산</a></li>
            </ul>
        </div>
        
        <div class="my-graph-wrap">
            <p class="title">신용등급</p>
            <div class="graph">
                <img src="../../assets/images/main/graph_sample.png" width="100%" alt=""/>
                <p class="graph-text">2등급</p>
            </div>
            <a href="#">자세히보기</a>
            <div class="info-wrap">
                <div class="left">
                    <p class="key">내 상태(상위)</p>
                    <p class="value">18<em>%</em></p>
                </div>
                <div class="right">
                    <p class="key">신용점수</p>
                    <p class="value">914</p>
                </div>
                
            </div>
        </div>
        
        <div class="my-main-list">
            <div class="list">
                <div class="item">
                    <div class="left">
                        <a href="#">지출</a>
                        <p>3,200,000<em>원</em></p>
                    </div>
                    <div class="right">
                        <a href="#"></a>
                        <p class="minus">-850,000<em>원</em></p>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="item">
                    <div class="left">
                        <a href="#">자산</a>
                        <p>89,000,000<em>원</em></p>
                    </div>
                    <div class="right">
                        <a href="#"></a>
                        <p class="plus">+230,000<em>원</em></p>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="item">
                    <div class="left">
                        <a href="#">부채</a>
                        <p>89,000,000<em>원</em></p>
                    </div>
                    <div class="right">
                        <a href="#"></a>
                        <p class="plus">-450,000<em>원</em></p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="my-links">
            <div class="wrap">
                <a href="#">신용등급<br>올리기</a>
                <a href="#">신용<br>리포트</a>
                <a href="#">정보<br>공유하기</a>
            </div>
        </div>
        
    </section>
	
	<!--   FOOTER 로드   -->
	<aside>
        <div class="top">
            <button>이벤트</button>
        </div>
        <div class="wrap">
            <div class="list-wrap">
                <a href="#">
                    <div class="banner">
                        <div class="left">
                            <p class="key">짠돌이에 도전해 보세요</p>
                            <p class="value">매월 1등에게<br>100만원의 상금을 드립니다</p>
                        </div>
                        <div class="right">
                            <img src="../../assets/images/common/event_banner_ico1.png" alt=""/>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="banner">
                        <div class="left">
                            <p class="key">우리가족 가계부</p>
                            <p class="value">가족이 사용한 지출을<br>한꺼번에 관리하세요</p>
                        </div>
                        <div class="right">
                            <img src="../../assets/images/common/event_banner_ico2.png" alt=""/>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="banner">
                        <div class="left">
                            <p class="key">지출일 알림</p>
                            <p class="value">지출일을 사전에 등록해서<br>잔액을 미리 확인하세요</p>
                        </div>
                        <div class="right">
                            <img src="../../assets/images/common/event_banner_ico3.png" alt=""/>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </aside>
	
</body>
</html>
