/*   Main   */
/*   Common   */
.container { padding: 0 21px; }

.main section { padding-bottom: 95px; }

/* ListStyle */
.list-style01 { margin-top: 10px; }
.list-style01 > li { line-height: 24px; padding-left: 10px; text-align: left; background: url("../images/common/bu_line.png") no-repeat 0 10px; font-size: 12px; font-weight: normal; color: #666; }

.list-style02 { margin-top: 10px; }
.list-style02 > li { line-height: 18px; padding-left: 6px; text-align: left; background: url("../images/common/bu_box.png") no-repeat 0 7px; font-size: 12px; background-size: 2px; }
.list-style02 > li p { font-weight: normal; line-height: 18px; }

.list-style03 { margin-top: 10px; }
.list-style03 > li { font-size: 12px; list-style: decimal; margin-left: 20px; line-height: 18px; margin-bottom: 10px; }

.list-style04 { margin-top: 10px; }
.list-style04 > li { position: relative; padding-left: 15px; line-height: 18px; font-size: 12px; }
.list-style04 > li span { position: absolute; top: 0; left: 0; font-size: inherit; }

.list-style05 { margin-top: 10px; }
.list-style05 > li { position: relative; padding-left: 40px; margin-bottom: 10px; font-size: 12px; }
.list-style05 > li span { position: absolute; top: 0; left: 0; color: #e52638; padding-right: 10px; border-right: 1px solid #e5e5e5; }

.point { color: #e52638 !important; }

/*   Common   */
.pop-top { text-align: center; position: relative; }
.pop-top .title { font-size: 16px; line-height: 60px; color: #222; font-weight: 500; background: #efeeec; }
.pop-top a { display: block; position: absolute; top: 0; right: 0; width: 60px; height: 60px; background: url(../images/common/btn_close_pop.png) no-repeat center/contain; }

.container { padding: 30px 21px; }

.date { font-size: 12px; color: #888; }

h2 { font-size: 15px; color: #333; font-weight: 500; margin-top: 25px; }

h3 { font-size: 12px; color: #333; font-weight: 500; margin-top: 20px; }

p { line-height: 18px; font-size: 12px; color: #666; }
