@charset "UTF-8";
/*   Main   */
/* form */
select { /*padding: .58em .5em;  */ padding-left: 14px; padding-right: 40px; font-family: inherit; border: 1px solid #ccc; background: url(../images/_form/select.png) no-repeat right center #fff; background-size: contain; vertical-align: middle; height: 33px; border-radius: 0px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

select::-ms-expand { display: none; }

input[type="text"], input[type="password"], input[type="tel"], input[type="email"] { line-height: 43px; height: 45px; text-indent: 20px; width: 400px; font-size: 20px; border: 1px solid #ccc; vertical-align: middle; padding-left: 5px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

input[type="tel"] { width: 110px; }

input[type="email"] { width: 200px; }

input[type="button"] { height: 30px; line-height: 30px; background: #e52638; color: #fff; text-align: center; min-width: 130px; border: none; font-size: 12px; cursor: pointer; margin: 0 2px; -moz-appearance: none; -webkit-appearance: none; }

textarea { width: 100%; height: 250px; padding: 20px; border: 1px solid #e5e5e5; color: #666; margin-top: 40px; line-height: 26px; font-size: 16px; vertical-align: baseline; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.checks { /*input[type="radio"]:focus+label, input[type="checkbox"]:focus+label{
	border: 1px dotted #000;
	//margin: -1px
}*/ /*   전체동의   */ }
.checks input[type="radio"], .checks input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.checks input[type="radio"]:focus, .checks input[type="checkbox"]:focus { width: 20px; height: 20px; outline: solid; }
.checks input[type="radio"] + label { display: inline-block; position: relative; padding-left: 40px; cursor: pointer; color: #333; min-width: 0; font-weight: 700; font-size: 15px; line-height: 30px; text-align: left; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; margin-right: 40px; position: relative; }
.checks input[type="radio"] + label:before { position: absolute; left: 0; top: 0; display: inline-block; content: ""; width: 30px; height: 30px; vertical-align: middle; margin-right: 10px; background: url(../images/_form/radio.png) no-repeat left top/30px; }
.checks input[type="radio"] + label:last-of-type { margin: 0; }
.checks input[type="checkbox"] + label { display: inline-block; position: relative; padding-left: 40px; cursor: pointer; color: #333; min-width: 0; font-weight: 700; font-size: 15px; line-height: 30px; text-align: left; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.checks input[type="checkbox"] + label:before { position: absolute; left: 0; top: 0; display: inline-block; content: ""; width: 30px; height: 30px; vertical-align: top; margin-right: 10px; background: url(../images/_form/checkbox.png) no-repeat left top/30px; }
.checks input[type="radio"]:checked + label:before, .checks input[type="checkbox"]:checked + label:before { background-position: left bottom; }
.checks input[type="checkbox"]#check-all + label { display: block; padding-left: 0; color: #62c1d0; line-height: 45px; text-align: center; border: 1px solid #62c1d0; border-radius: 45px; }
.checks input[type="checkbox"]#check-all + label:before { position: relative; display: inline-block; content: ""; width: 13px; height: 15px; vertical-align: middle; margin-right: 10px; background: url(../images/_form/checkbox_all.png) no-repeat left top/13px; }
.checks input[type="checkbox"]#check-all:checked + label { background: #62c1d0; color: #fff; }
.checks input[type="checkbox"]#check-all:checked + label:before { background-position: left bottom; }

.filter-wrap { display: table; margin-bottom: 15px; }
.filter-wrap .filter { display: table-cell; padding-right: 10px; }
.filter-wrap .filter input[type="radio"], .filter-wrap .filter input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.filter-wrap .filter input[type="radio"]:focus, .filter-wrap .filter input[type="checkbox"]:focus { width: 18px; height: 18px; outline: solid; }
.filter-wrap .filter input[type="checkbox"] + label { display: inline-block; position: relative; padding-left: 25px; cursor: pointer; color: #333; min-width: 0; font-weight: 700; font-size: 12px; line-height: 18px; text-align: left; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.filter-wrap .filter input[type="checkbox"] + label:before { position: absolute; left: 0; top: 0; display: inline-block; content: ""; width: 18px; height: 18px; vertical-align: top; background: url("../images/_form/filter.png") no-repeat left top/90px; }
.filter-wrap .filter input[type="radio"]:checked + label:before, .filter-wrap .filter input[type="checkbox"]:checked + label:before { background-position: left bottom; }
.filter-wrap .filter.orange input[type="checkbox"] + label:before { background-position: -18px top; }
.filter-wrap .filter.orange input[type="radio"]:checked + label:before, .filter-wrap .filter.orange input[type="checkbox"]:checked + label:before { background-position: -18px bottom; }
.filter-wrap .filter.green input[type="checkbox"] + label:before { background-position: -36px top; }
.filter-wrap .filter.green input[type="radio"]:checked + label:before, .filter-wrap .filter.green input[type="checkbox"]:checked + label:before { background-position: -36px bottom; }
.filter-wrap .filter.blue input[type="checkbox"] + label:before { background-position: -54px top; }
.filter-wrap .filter.blue input[type="radio"]:checked + label:before, .filter-wrap .filter.blue input[type="checkbox"]:checked + label:before { background-position: -54px bottom; }
.filter-wrap .filter.purple input[type="checkbox"] + label:before { background-position: -72px top; }
.filter-wrap .filter.purple input[type="radio"]:checked + label:before, .filter-wrap .filter.purple input[type="checkbox"]:checked + label:before { background-position: -72px bottom; }

input[type="file"] { padding: 0; margin: 0px; background: #f5f5f5; border: 1px solid #e5e5e5; width: 400px; }

input[type="file"]::-webkit-file-upload-button { appearance: none; -webkit-appearance: none; -moz-appearance: none; box-sizing: border-box; color: #fff; border: 0; background: #343f4e; line-height: 45px; margin: 0px; width: 100px; cursor: pointer; }

input[type="file"]::-ms-value { border: 0; height: 45px; }

input[type="file"]::-ms-browse { color: #fff; border: 0; background: #343f4e; width: 100px; }

/* table */
table { border-top: 2px solid #333; text-align: left; width: 100%; margin-top: 40px; }
table th { border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; padding: 20px; color: #222; font-weight: 500; background: #f5f5f5; vertical-align: middle; line-height: 26px; font-size: 16px; text-align: center; }
table th button { line-height: 16px; background: #7c7c7c; color: #fff; min-width: 60px; text-align: center; border: none; font-weight: 700; padding: 0 10px; cursor: pointer; vertical-align: middle; }
table td { border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; padding: 17px 20px; vertical-align: middle; line-height: 18px; }
table td button { line-height: 16px; background: #7c7c7c; color: #fff; min-width: 60px; text-align: center; border: none; font-weight: 700; padding: 0 10px; cursor: pointer; vertical-align: middle; }

/*   Common   */
.container { padding: 0 21px; }

/* ListStyle */
.list-style01 { margin-top: 10px; }
.list-style01 > li { line-height: 24px; padding-left: 10px; text-align: left; background: url("../images/common/bu_line.png") no-repeat 0 10px; font-size: 12px; font-weight: normal; color: #666; }

.list-style02 { margin-top: 10px; }
.list-style02 > li { line-height: 18px; padding-left: 6px; text-align: left; background: url("../images/common/bu_box.png") no-repeat 0 7px; font-size: 12px; background-size: 2px; }
.list-style02 > li p { font-weight: normal; line-height: 18px; }

.list-style03 { margin-top: 10px; }
.list-style03 > li { font-size: 12px; list-style: decimal; margin-left: 20px; line-height: 18px; margin-bottom: 10px; }

.list-style04 { margin-top: 10px; }
.list-style04 > li { position: relative; padding-left: 15px; line-height: 18px; font-size: 12px; }
.list-style04 > li span { position: absolute; top: 0; left: 0; font-size: inherit; }

.list-style05 { margin-top: 10px; }
.list-style05 > li { position: relative; padding-left: 40px; margin-bottom: 10px; font-size: 12px; }
.list-style05 > li span { position: absolute; top: 0; left: 0; color: #e52638; padding-right: 10px; border-right: 1px solid #e5e5e5; }

.point { color: #e52638 !important; }

/*  GNB  */
header { position: absolute; right: 0; top: 0; width: 100%; z-index: 2; }
header .open-menu { width: 60px; height: 60px; background: url(../images/common/header_menu_btn.png) no-repeat center/contain; position: absolute; top: 0; right: 0; text-indent: -9999px; }
header .gnb-wrap { overflow: hidden; position: absolute; width: 0; background: #fff; top: 0; right: 0; height: 100vh; transition: .5s ease; transform: translateX(100%); z-index: 3; }
header .gnb-wrap .top { height: 60px; position: relative; border-bottom: 1px solid #e5e5e5; }
header .gnb-wrap .top .left { position: absolute; left: 6px; top: 6px; }
header .gnb-wrap .top .left button { width: 48px; height: 48px; float: left; }
header .gnb-wrap .top .left button.alarm { background: url(../images/common/gnb_alarm.png) no-repeat center/contain; }
header .gnb-wrap .top .left button.logout { background: url(../images/common/gnb_logout.png) no-repeat center/contain; }
header .gnb-wrap .top .right { position: absolute; top: 0; right: 0; }
header .gnb-wrap .top .right button { width: 60px; height: 60px; background: url(../images/common/gnb_close.png) no-repeat center/contain; }
header .gnb-wrap .scroll-wrap { height: calc(100vh - 120px); overflow: auto; }
header .gnb-wrap .scroll-wrap .info { padding: 25px 20px; border-bottom: 1px solid #e5e5e5; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
header .gnb-wrap .scroll-wrap .info .name { color: #222; font-weight: 700; font-size: 16px; }
header .gnb-wrap .scroll-wrap .info .date { color: #bfada1; margin-top: 10px; color: #9b9489; }
header .gnb-wrap .scroll-wrap .info a { display: inline-block; line-height: 28px; padding: 0 15px; border: 1px solid #9b9489; color: #9b9489; font-size: 12px; font-weight: 500; text-align: center; position: absolute; right: 21px; top: 50%; margin-top: -15px; border-radius: 15px; }
header .gnb-wrap .scroll-wrap .links { display: flex; flex-wrap: wrap; }
header .gnb-wrap .scroll-wrap .links a { display: block; width: 25%; text-align: center; padding-top: 64px; padding-bottom: 30px; color: #333; font-size: 12px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
header .gnb-wrap .scroll-wrap .links a:nth-child(1) { background: url("../images/common/gnb_ico1.png") no-repeat 50% 30px/24px; }
header .gnb-wrap .scroll-wrap .links a:nth-child(2) { background: url("../images/common/gnb_ico2.png") no-repeat 50% 30px/24px; }
header .gnb-wrap .scroll-wrap .links a:nth-child(3) { background: url("../images/common/gnb_ico3.png") no-repeat 50% 30px/24px; }
header .gnb-wrap .scroll-wrap .links a:nth-child(4) { background: url("../images/common/gnb_ico4.png") no-repeat 50% 30px/24px; }
header .gnb-wrap .scroll-wrap .links a:nth-child(5) { background: url("../images/common/gnb_ico5.png") no-repeat 50% 30px/24px; }
header .gnb-wrap .scroll-wrap .links a:nth-child(6) { background: url("../images/common/gnb_ico6.png") no-repeat 50% 30px/24px; }
header .gnb-wrap .scroll-wrap .links a:nth-child(7) { background: url("../images/common/gnb_ico7.png") no-repeat 50% 30px/24px; }
header .gnb-wrap .scroll-wrap .links a:nth-child(8) { background: url("../images/common/gnb_ico8.png") no-repeat 50% 30px/24px; }
header .gnb-wrap.on { transform: translateX(0); width: 100%; overflow: auto; }

#gnb dt { background: #f0efed; line-height: 30px; font-size: 12px; color: #666; text-indent: 20px; }
#gnb dd a { font-size: 14px; font-weight: 500; color: #333; line-height: 40px; text-indent: 20px; display: block; }

/*@import "modal";*/
/*   Common   */
.loading { height: 100vh; background: url("../images/common/loading.svg") no-repeat center/25%; text-align: center; padding-top: 100%; line-height: 17px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

aside.search-wrap { position: fixed; left: 0; bottom: 0; width: 100%; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); border-top-left-radius: 21px; border-top-right-radius: 21px; transition: .5s ease; transform: translateY(100%); }
aside.search-wrap.on { transform: translateY(0); }
aside.search-wrap .top { border-top-left-radius: 21px; border-top-right-radius: 21px; background: #fff; }
aside.search-wrap .top button { color: #222; font-size: 15px; font-weight: 700; line-height: 50px; text-indent: 21px; background: none; width: 100%; text-align: left; }
aside.search-wrap .top:after { display: block; position: absolute; top: 19px; right: 23px; width: 13px; height: 13px; content: ""; background: url("../images/common/btn_search_close.png") no-repeat center/contain; }
aside.search-wrap .wrap { background: #fff; }
aside.search-wrap .wrap .item { padding: 10px 21px 0; line-height: 40px; display: flex; }
aside.search-wrap .wrap .item .key { width: 66px; font-size: 13px; font-weight: 700; color: #9b9489; }
aside.search-wrap .wrap .item .bar { width: calc(100% - 96px); position: relative; }
aside.search-wrap .wrap .item .bar p { width: 100%; height: 2px; border-radius: 2px; position: absolute; background: #e1dfdb; top: 19px; left: 0; }
aside.search-wrap .wrap .item .bar p .active { height: 2px; border-radius: 2px; position: absolute; background: #62c1d0; top: 0; left: 0; }
aside.search-wrap .wrap .item .bar p .circle { width: 15px; height: 15px; position: absolute; border: 4px solid #fff; background: #62c1d0; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); border-radius: 100%; top: -6px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
aside.search-wrap .wrap .item .num { width: 30px; font-size: 20px; color: #333; text-align: right; }
aside.search-wrap .wrap .check-wrap { display: flex; padding: 10px 21px 0; }
aside.search-wrap .wrap .check-wrap .key { width: 66px; font-size: 13px; font-weight: 700; color: #9b9489; line-height: 40px; }
aside.search-wrap .wrap .check-wrap .search-check { display: grid; grid-column-gap: 10px; grid-template-columns: 1fr 1fr; width: 100%; }
aside.search-wrap .wrap .check-wrap .search-check input[type="radio"], aside.search-wrap .wrap .check-wrap .search-check input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
aside.search-wrap .wrap .check-wrap .search-check input[type="radio"]:focus, aside.search-wrap .wrap .check-wrap .search-check input[type="checkbox"]:focus { width: 20px; height: 20px; outline: solid; }
aside.search-wrap .wrap .check-wrap .search-check input[type="checkbox"] + label { display: block; position: relative; cursor: pointer; color: #666; min-width: 0; font-weight: 700; font-size: 15px; line-height: 38px; text-align: center; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; border: 1px solid #ccc; width: 100%; }
aside.search-wrap .wrap .check-wrap .search-check input[type="radio"]:checked + label, aside.search-wrap .wrap .check-wrap .search-check input[type="checkbox"]:checked + label { border: 2px solid #62c1d0; line-height: 36px; color: #62c1d0; }
aside.search-wrap .wrap .btns { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px; padding: 21px 21px; }
aside.search-wrap .wrap .btns button { border: 2px solid #62c1d0; line-height: 36px; color: #62c1d0; font-weight: 700; font-size: 15px; text-align: center; background: #fff; }
aside.search-wrap .wrap .btns button:active { background: #62c1d0; color: #fff; }
aside.search-wrap .action { padding: 40px 21px; display: grid; grid-column-gap: 5px; grid-template-columns: 1fr 1fr; background: #fff; }
aside.search-wrap .action a { text-align: center; line-height: 43px; border: 1px solid #213e6a; color: #213e6a; font-size: 15px; font-weight: 700; border-radius: 45px; }
aside.search-wrap .action a.solid { background: #213e6a; color: #fff; }

.sub-top { line-height: 60px; text-align: center; position: relative; }
.sub-top .title { font-size: 16px; color: #222; font-weight: 500; }
.sub-top a { display: block; width: 60px; height: 60px; position: absolute; left: 0; top: 0; background: url(../images/common/btn_top_back.png) no-repeat center/contain; }

.tab { border-top: 1px solid #e5e5e5; padding: 0 21px; }
.tab .wrap { display: table; width: 100%; }
.tab .wrap a { display: table-cell; width: 10%; line-height: 43px; text-align: center; font-size: 14px; font-weight: 700; color: #a1a1a1; border-bottom: 2px solid #fff; }
.tab .wrap a.on { color: #e52638; border-bottom: 2px solid #e52638; }

.col-top { margin-top: 40px; display: table; width: 100%; table-layout: fixed; }
.col-top div { display: table-cell; border-left: 1px solid #e5e5e5; text-align: center; width: 10%; }
.col-top div:first-child { border: none; }
.col-top div .key { font-size: 14px; font-weight: 700; color: #9b9489; }
.col-top div .key em { font-size: inherit; font-weight: 400; }
.col-top div .value { font-size: 24px; color: #222; font-weight: 700; margin-top: 10px; }

.info-massage { font-size: 12px; color: #666; padding-left: 25px; background: url(../images/main/bu_ju.png) no-repeat left top/16px; line-height: 18px; margin-top: 15px; }

.box-list { background: #efeeec; padding: 21px; margin-top: 40px; }

.list01 .item { background: #fff; border-radius: 10px; padding: 20px; margin-bottom: 20px; }
.list01 .item .top { display: flex; }
.list01 .item .top p { width: 50%; line-height: 24px; font-size: 12px; }
.list01 .item .top p.symbol { height: 24px; margin-right: 8px; vertical-align: middle; font-size: 12px; font-weight: 700; }
.list01 .item .top p.symbol img { height: 100%; vertical-align: middle; margin-right: 5px; }
.list01 .item .top p.text { text-align: right; }
.list01 .item .top p.text.blue { color: #62c1d0; }
.list01 .item .top p.text.red { color: #e52638; }
.list01 .item .top p.circle { text-align: right; }
.list01 .item .top p.circle span { display: inline-block; line-height: 24px; text-align: center; border-radius: 20px; color: #fff; padding: 0 9px; }
.list01 .item .top p.circle span.red { background: #e95071; }
.list01 .item .top p.circle span.orange { background: #ef903c; }
.list01 .item .top p.circle span.green { background: #89c11c; }
.list01 .item .top p.circle span.blue { background: #6993f3; }
.list01 .item .top p.circle span.purple { background: #bf65f3; }
.list01 .item .number-wrap { display: flex; margin-top: 15px; }
.list01 .item .number-wrap .left { width: 70%; }
.list01 .item .number-wrap .left .key { color: #9b9489; font-size: 12px; }
.list01 .item .number-wrap .left .number { font-size: 24px; font-weight: 700; color: #222; }
.list01 .item .number-wrap .left .number em { margin-left: 2px; font-size: 12px; color: #222; }
.list01 .item .number-wrap .right { width: 30%; }
.list01 .item .number-wrap .right .key { color: #9b9489; font-size: 12px; text-align: right; }
.list01 .item .number-wrap .right .value { font-size: 14px; color: #666; text-align: right; margin-top: 5px; }
.list01 .item .number-wrap .right .value em { font-size: 14px; margin-left: 2px; }
.list01 .item .bar { position: relative; height: 3px; background: #ecebe8; border-radius: 5px; margin-top: 10px; }
.list01 .item .bar p { position: absolute; height: 3px; background: #62c1d0; border-radius: 5px; }
.list01 .item .text-wrap { display: flex; margin-top: 15px; }
.list01 .item .text-wrap .left { width: 50%; }
.list01 .item .text-wrap .left .key { font-size: 12px; color: #9b9489; }
.list01 .item .text-wrap .left .key span { font-size: inherit; display: inline-block; margin-left: 5px; padding-left: 5px; border-left: 1px solid #e5e5e5; color: #9b9489; }
.list01 .item .text-wrap .left .key span:first-child { margin-left: 0; padding-left: 0; border-left: none; }
.list01 .item .text-wrap .left .value { font-size: 14px; color: #666; margin-top: 10px; }
.list01 .item .text-wrap .left .value span { font-size: inherit; color: #666; margin-left: 5px; padding-left: 5px; border-left: 1px solid #e5e5e5; }
.list01 .item .text-wrap .left .value span:first-child { margin-left: 0; padding-left: 0; border-left: none; }
.list01 .item .text-wrap .left .value span em { margin-left: 2px; font-size: 14px; }
.list01 .item .text-wrap .right { width: 50%; }
.list01 .item .text-wrap .right .key { text-align: right; font-size: 12px; color: #9b9489; }
.list01 .item .text-wrap .right .key span { font-size: inherit; color: #9b9489; }
.list01 .item .text-wrap .right .value { margin-top: 10px; text-align: right; color: #222; font-weight: 700; }
.list01 .item .text-wrap .right .value span { font-size: 14px; color: #666; margin-left: 5px; padding-left: 5px; border-left: 1px solid #e5e5e5; }
.list01 .item .text-wrap .right .value span:first-child { margin-left: 0; padding-left: 0; border-left: none; }
.list01 .item .text-wrap .right .value span em { margin-left: 2px; font-size: 14px; }
.list01 .item .flex-wrap { display: flex; width: 100%; margin-top: 10px; }
.list01 .item .flex-wrap .key { font-size: 12px; color: #9b9489; }
.list01 .item .flex-wrap .value { font-size: 14px; color: #666; margin-top: 5px; }
.list01 .item .flex-wrap .center { text-align: center; }
.list01 .item .flex-wrap .right { text-align: right; }
.list01 .item .flex-wrap.col3 div { width: 33.3%; }
.list01 .item .hide-con { border-top: 1px solid #e5e5e5; margin-top: 15px; padding-top: 10px; display: none; }
.list01 .item .hide-con .list { display: flex; }
.list01 .item .hide-con .list p { width: 50%; margin: 5px 0; }
.list01 .item .hide-con .list p.left { font-size: 12px; color: #9b9489; }
.list01 .item .hide-con .list p.right { text-align: right; font-size: 14px; color: #666; }
.list01 .item .hide-con.show { display: block; border: none; margin-top: 0; }
.list01 .item .btn-expand { margin-top: 10px; width: 100%; height: 30px; background: url(../images/common/btn_list_expand.png) no-repeat top center/18px; }
.list01 .item .btn-expand.on { background-position: bottom center; }
.list01 .item.expand { padding-bottom: 0; }

.list02 .item { background: #fff; border-radius: 10px; padding: 20px 15px; margin-bottom: 20px; }
.list02 .item .flex { width: 100%; display: flex; }
.list02 .item .flex p { width: 50%; line-height: 24px; font-size: 12px; }
.list02 .item .flex p.symbol { height: 24px; vertical-align: middle; font-size: 12px; font-weight: 700; }
.list02 .item .flex p.symbol img { height: 100%; vertical-align: middle; margin-right: 5px; }
.list02 .item .flex .btn { text-align: right; line-height: 0; position: relative; width: 50%; }
.list02 .item .flex .btn button { width: 24px; height: 24px; display: inline-block; background: url("../images/common/btn_list_option.png") no-repeat center right/contain; }
.list02 .item .flex .btn > a { color: #62c1d0; padding-right: 15px; display: inline-block; font-weight: 700; background: url("../images/common/btn_blue_arrow.png") no-repeat right center/6px; line-height: 24px; }
.list02 .item .flex .btn .menu { position: absolute; right: 0; bottom: 24px; border: 1px solid #666; display: none; }
.list02 .item .flex .btn .menu a { display: block; line-height: 40px; text-indent: 15px; width: 125px; font-size: 14px; color: #000; text-align: left; background: #fff; }
.list02 .item .flex .btn .menu a:nth-child(odd) { background: #e8e8e8; }
.list02 .item .flex .btn.on .menu { display: block; }
.list02 .item .warn { color: #e52638; padding-left: 20px; background: url("../images/common/ico_arlam.png") no-repeat left 15px/13px; margin-top: 15px; padding-top: 15px; border-top: 1px solid #e5e5e5; }
.list02 .item .warn a { color: inherit; display: block; background: url("../images/common/btn_red_arrow.png") no-repeat right center/6px; }

.btn-wrap { margin-top: 30px; }
.btn-wrap .btn-next { line-height: 60px; background: url(../images/common/btn-next.png) no-repeat right center #213e6a; background-size: 39px; font-size: 15px; color: #fff; font-weight: 500; display: block; text-align: center; border-radius: 0; }
.btn-wrap a { display: block; width: 100%; line-height: 45px; text-align: center; font-size: 15px; font-weight: 500; border-radius: 45px; }
.btn-wrap a.stroke { border: 1px solid #9b9489; color: #9b9489; }
.btn-wrap a.solid { background: #9b9489; color: #fff; }
.btn-wrap a.solid.blue { background: #213e6a; }
.btn-wrap a.box { border-radius: 0; }
.btn-wrap.col2 { border-top: 1px solid #213e6a; position: fixed; bottom: 0; left: 0; display: flex; width: 100%; }
.btn-wrap.col2 a { width: 50%; line-height: 59px; color: #213e6a; font-size: 17px; font-weight: 700; border-radius: 0; }
.btn-wrap.col2 a.btn-solid { background: #213e6a; color: #fff; }

.owl-theme .owl-dots { text-align: center; margin-top: 10px; line-height: 0; font-size: 0; -webkit-tap-highlight-color: transparent; }
.owl-theme .owl-dots .owl-dot { display: inline-block; }
.owl-theme .owl-dots .owl-dot a { width: 6px; height: 6px; padding: 0; margin: 0 3px; background: #d7d4d0; display: block; -webkit-backface-visibility: visible; transition: opacity 200ms ease; border-radius: 10px; }
.owl-theme .owl-dots .owl-dot.active a { background: #e52638; width: 6px; height: 6px; }

.accodion { padding: 0 21px; border-top: 1px solid #e5e5e5; }
.accodion ul { margin-top: 20px; }
.accodion ul li { border: 1px solid #e5e5e5; margin-bottom: 10px; }
.accodion ul li .top { padding: 20px; position: relative; }
.accodion ul li .top:after { position: absolute; right: 0; top: 50%; margin-top: -30px; display: inline-block; content: ""; width: 60px; height: 60px; background: url("../images/common/accodion_arrow.png") no-repeat left top/60px; }
.accodion ul li .top a { display: inline-block; position: relative; padding-left: 40px; color: #333; font-weight: 700; font-size: 15px; line-height: 19px; padding-top: 5px; }
.accodion ul li .top a:before { position: absolute; left: 0; top: 0; display: inline-block; content: ""; width: 30px; height: 30px; vertical-align: top; margin-right: 10px; background: url(../images/_form/checkbox.png) no-repeat left top/30px; }
.accodion ul li .con { padding: 20px; display: none; }
.accodion ul li .con .flex { display: flex; margin-bottom: 10px; }
.accodion ul li .con .flex p { width: 50%; line-height: 35px; }
.accodion ul li .con .flex p:first-child { font-size: 14px; font-weight: 700; color: #222; }
.accodion ul li .con .flex p:last-child { text-align: right; line-height: 0; }
.accodion ul li .con .flex p:last-child button { display: inline-block; width: 33px; height: 33px; border: 1px solid #e5e5e5; background: url("../images/common/btn_accodion_search.png") no-repeat center/contain; margin: 0; }
.accodion ul li .con .flex p:last-child input[type="text"] { line-height: 35px; height: 33px; width: 126px; font-size: 15px; text-align: right; padding: 0 15px; }
.accodion ul li .con .text { font-size: 12px; line-height: 16px; color: #888; }
.accodion ul li.on .top { border-bottom: 1px solid #e5e5e5; }
.accodion ul li.on .top:after { background-position: left bottom; }
.accodion ul li.on .top a:before { background-position: left bottom; }
.accodion ul li.on .con { display: block; }

/*   POP   */
.pop-top { text-align: center; position: relative; }
.pop-top .title { font-size: 16px; line-height: 60px; color: #222; font-weight: 500; background: #efeeec; }
.pop-top a { display: block; position: absolute; top: 0; right: 0; width: 60px; height: 60px; background: url(../images/common/btn_close_pop.png) no-repeat center/contain; }

.container { padding: 30px 21px; }

.date { font-size: 12px; color: #888; }

.pop-wrap h2 { font-size: 15px; color: #333; font-weight: 500; margin-top: 25px; }

.pop-wrap h3 { font-size: 12px; color: #333; font-weight: 500; margin-top: 20px; }

.pop-wrap p { line-height: 18px; font-size: 12px; color: #666; }

/*   공통   */
.box-agree { margin-top: 30px; border: 1px solid #e5e5e5; }
.box-agree p { padding: 15px 20px; border-bottom: 1px solid #e5e5e5; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.box-agree ul { padding: 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.box-agree ul li { line-height: 37px; }
.box-agree ul li a { display: block; font-size: 14px; color: #666; font-weight: 500; background: url(../images/common/btn_arrow.png) no-repeat right center/7px; }

/*   신용   */
.nodata { background: url("../images/common/nodata.png") no-repeat center top/330px; padding-top: 195px; text-align: center; font-size: 14px; color: #888; }

.bar-top { margin-top: 40px; }
.bar-top .key { font-size: 14px; font-weight: 700; color: #9b9489; }
.bar-top .wrap { display: flex; width: 100%; }
.bar-top .wrap .left { width: 50%; font-size: 24px; font-weight: 700; color: #222; margin-top: 10px; }
.bar-top .wrap .left em { font-size: 14px; padding-left: 5px; }
.bar-top .wrap .right { width: 50%; text-align: right; }
.bar-top .wrap .right .key { color: #9b9489; font-size: 12px; }
.bar-top .wrap .right .value { margin-top: 5px; font-size: 14px; color: #666; }
.bar-top .bar { margin-top: 15px; width: 100%; height: 5px; background: #ecebe8; border-radius: 10px; position: relative; }
.bar-top .bar p { position: absolute; left: 0; top: 0; height: 5px; border-radius: 10px; background: #62c1d0; }
.bar-top .bar-text-wrap { display: flex; }
.bar-top .bar-text-wrap p { font-size: 12px; color: #9b9489; width: 50%; margin-top: 10px; }
.bar-top .bar-text-wrap p em { font-size: 14px; color: #666; padding-left: 10px; }
.bar-top .bar-text-wrap p.bar-text { text-align: left; }
.bar-top .bar-text-wrap p.bar-card { text-align: right; }

.cert-check-wrap { margin-top: 30px; padding: 0 21px; }
.cert-check-wrap .text { margin-bottom: 20px; line-height: 17px; color: #666; }
.cert-check-wrap .title { font-size: 12px; font-weight: 700; color: #333; margin-top: 20px; }
.cert-check-wrap input { margin-top: 15px; border: 1px solid #e5e5e5; line-height: 38px; font-size: 15px; color: #333; text-indent: 10px; width: 100%; height: auto; }
.cert-check-wrap input:focus { border-color: #62c1d0; }
.cert-check-wrap .grid { display: grid; grid-template-columns: 5fr 1fr 5fr; align-items: center; text-align: center; margin-top: 15px; }
.cert-check-wrap .grid .number { text-align: left; letter-spacing: 10px; }
.cert-check-wrap .grid input { margin-top: 0; }

/*   부채   */
.cut-result-top { padding: 0 21px; }
.cut-result-top .item { border: 1px solid #e5e5e5; border-radius: 10px; padding: 20px; width: 100%; margin-bottom: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.cut-result-top .item .top { display: flex; }
.cut-result-top .item .top .symbol { width: 50%; line-height: 24px; height: 24px; margin-right: 8px; vertical-align: middle; font-size: 12px; font-weight: 700; color: #222; }
.cut-result-top .item .top .symbol img { height: 100%; vertical-align: middle; margin-right: 5px; display: inline; }
.cut-result-top .item .top .date { width: 50%; text-align: right; line-height: 24px; font-size: 12px; font-weight: 700; color: #333; }
.cut-result-top .item .goods-benefit { display: flex; margin-top: 20px; }
.cut-result-top .item .goods-benefit div { width: 50%; text-align: center; font-size: 24px; color: #222; font-weight: 700; border-left: 1px solid #e5e5e5; }
.cut-result-top .item .goods-benefit div:first-child { border: none; }
.cut-result-top .item .goods-benefit div em { font-size: 12px; }
.cut-result-top .item .btn { font-size: 12px; color: #62c1d0; font-weight: 700; border: 2px solid #62c1d0; line-height: 28px; text-align: center; display: block; margin-top: 20px; border-radius: 50px; }

/*   상품   */
.goods-wrap { margin-top: 30px; padding: 0 21px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.goods-wrap .item { border: 1px solid #e5e5e5; border-radius: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.goods .item a { display: block; width: 100%; background: #fff; padding: 20px; border-radius: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.goods .item a .top { display: flex; }
.goods .item a .top .symbol { width: 50%; line-height: 24px; height: 24px; margin-right: 8px; vertical-align: middle; font-size: 12px; font-weight: 700; color: #222; }
.goods .item a .top .symbol img { height: 100%; vertical-align: middle; margin-right: 5px; display: inline; }
.goods .item a .top .text { width: 50%; text-align: right; line-height: 24px; font-size: 12px; }
.goods .item a .top .text.blue { color: #62c1d0; }
.goods .item a .top .text.red { color: #e52638; }
.goods .item a .goods-benefit { display: flex; margin-top: 20px; }
.goods .item a .goods-benefit div { width: 50%; text-align: center; font-size: 24px; color: #222; font-weight: 700; border-left: 1px solid #e5e5e5; }
.goods .item a .goods-benefit div:first-child { border: none; }
.goods .item a .goods-benefit div em { font-size: 12px; }
.goods .item a .goods-text1 { margin-top: 25px; font-size: 12px; color: #666; }
.goods .item a .goods-text2 { margin-top: 5px; color: #888; font-size: 10px; }

.goods-list { margin-top: 0; }
.goods-list .select { display: flex; margin-bottom: 10px; }
.goods-list .select div { width: 50%; }
.goods-list .select div.right { text-align: right; }
.goods-list .select div.right button { width: 35px; height: 35px; background: url("../images/common/btn-search.png") no-repeat center/contain; }
.goods-list .item { margin-bottom: 10px; }

.goods-top { margin-top: 40px; padding: 0 21px; }
.goods-top .symbol { line-height: 24px; height: 24px; vertical-align: middle; font-size: 12px; font-weight: 700; color: #222; }
.goods-top .symbol img { height: 100%; vertical-align: middle; margin-right: 5px; display: inline; }
.goods-top .title { margin-top: 20px; font-size: 20px; color: #333; }
.goods-top .text { margin-top: 10px; font-size: 12px; color: #666; line-height: 16px; }
.goods-top .opt { margin-top: 15px; }
.goods-top .opt span { color: #62c1d0; font-size: 12px; font-weight: 700; margin-left: 5px; padding-left: 5px; border-left: 1px solid #e5e5e5; }
.goods-top .opt span:first-child { margin-left: 0; padding-left: 0; border: none; }

.goods-detail { background: #efeeec; overflow: hidden; padding-bottom: 20px; }
.goods-detail .key { margin-top: 30px; font-weight: 700; font-weight: 700; color: #9b9489; }
.goods-detail .value { margin-top: 10px; color: #666; font-size: 12px; line-height: 17px; }

/*   소비   */
.spend-top { margin-top: 30px; padding: 0 21px; }
.spend-top .date-wrap { margin-top: 25px; text-align: center; position: relative; }
.spend-top .date-wrap p { padding: 0 20px; font-size: 20px; font-weight: 700; color: #222; display: inline-block; }
.spend-top .date-wrap button { display: inline-block; width: 14px; height: 14px; }
.spend-top .date-wrap button.prev { background: url(../images/main/btn_date_prev.png) no-repeat center right/contain; }
.spend-top .date-wrap button.next { background: url(../images/main/btn_date_next.png) no-repeat center left/contain; }
.spend-top .spend-wrap .wrap { display: flex; }
.spend-top .spend-wrap .wrap .item { width: 50%; margin-top: 40px; border-left: 1px solid #e5e5e5; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.spend-top .spend-wrap .wrap .item:first-child { border: none; }
.spend-top .spend-wrap .wrap .item p { text-align: center; }
.spend-top .spend-wrap .wrap .item p.key { font-size: 14px; font-weight: 700; color: #9b9489; }
.spend-top .spend-wrap .wrap .item p.key em { font-size: 14px; font-weight: 300; }
.spend-top .spend-wrap .wrap .item p.value { font-size: 24px; font-weight: 500; color: #222; margin-top: 10px; }
.spend-top .btn { display: block; line-height: 43px; color: #62c1d0; font-size: 15px; font-weight: 700; text-align: center; border: 1px solid #62c1d0; margin-top: 30px; border-radius: 50px; }

/*   멤버   */
.cert-wrap { margin-top: 30px; padding: 0 21px; }
.cert-wrap .title { font-size: 12px; font-weight: 700; color: #333; }
.cert-wrap input { margin-top: 15px; border: 1px solid #e5e5e5; line-height: 38px; font-size: 15px; color: #333; text-indent: 10px; width: 100%; height: auto; }
.cert-wrap input:focus { border-color: #62c1d0; }
.cert-wrap .grid { display: grid; grid-template-columns: 5fr 1fr 5fr; align-items: center; text-align: center; margin-top: 15px; }
.cert-wrap .grid .number { text-align: left; letter-spacing: 10px; }
.cert-wrap .grid input { margin-top: 0; }
.cert-wrap .grid input[type="password"] { width: 30%; margin-right: 10px; }
.cert-wrap .grid select { line-height: 38px; height: 38px; }
.cert-wrap .grid.phone { grid-template-columns: 3fr 7fr; grid-gap: 10px; }
.cert-wrap button { line-height: 46px; border: 2px solid #62c1d0; text-align: center; font-size: 15px; font-weight: 700; width: 100%; background: #fff; color: #62c1d0; margin-top: 10px; }
.cert-wrap .warn { color: #e52638; padding-left: 20px; background: url("../images/common/ico_arlam.png") no-repeat left top/13px; margin-top: 10px; }
.cert-wrap .cert-num { display: grid; grid-template-columns: 7fr 3fr; align-items: center; margin-top: 15px; border: 1px solid #e5e5e5; }
.cert-wrap .cert-num .time { text-align: center; color: #e52638; text-align: right; padding-right: 15px; }
.cert-wrap .cert-num input { border: none; margin-top: 0; }

.certcode-wrap { padding-top: 50px; }
.certcode-wrap .text { font-size: 12px; color: #333; text-align: center; }
.certcode-wrap .textred { color: #e52638; margin-top: 10px; text-align: center; }
.certcode-wrap .pass-wrap { margin-top: 30px; display: grid; grid-column-gap: 15px; justify-content: center; grid-template-columns: 40px 40px 40px 40px; }
.certcode-wrap .pass-wrap input[type="password"] { border: none; border-bottom: 1px solid #e5e5e5; font-size: 40px; width: 100%; text-align: center; padding: 0; text-indent: 0; }
.certcode-wrap .number { display: grid; grid-column-gap: 35px; grid-row-gap: 15px; justify-content: center; margin: 30px auto 0; grid-template-columns: 75px 75px 75px; }
.certcode-wrap .number button { width: 75px; line-height: 75px; font-size: 30px; color: #333; font-weight: 700; border-radius: 100%; background: none; }
.certcode-wrap .number button:active { background: #62c1d0; color: #fff; }
.certcode-wrap .number button.del { background: url("../images/member/btn_delete.png") no-repeat center top/75px; }
.certcode-wrap .number button.del:active { background: url("../images/member/btn_delete.png") no-repeat center bottom #62c1d0; background-size: 75px; }
.certcode-wrap .number button.finger { background: url("../images/member/btn_fingerprint.png") no-repeat center top/75px; }
.certcode-wrap .number button.finger:active { background: url("../images/member/btn_fingerprint.png") no-repeat center bottom #62c1d0; background-size: 75px; }

.cert-finger { padding-top: 305px; background: url("../images/member/fingerprint.png") no-repeat 50% 150px; background-size: 117px; }
.cert-finger p { text-align: center; font-size: 15px; }

/*   스크랩   */
.con-top { height: 200px; padding: 0 21px; }
.con-top p { font-size: 20px; color: #222; font-weight: 700; padding-top: 40px; line-height: 27px; }
.con-top p em { font-size: inherit; color: inherit; font-weight: 400; }
.con-top a { font-size: 14px; color: #9b9489; padding-right: 10px; background: url("../images/common/btn_contop_arrow.png") no-repeat right center/7px; font-weight: 700; display: inline-block; margin-top: 15px; }
.con-top.cert-top { background: url("../images/scrap/con_top_cert.png") no-repeat top center/contain; }
.con-top.cut-top { background: url("../images/debt/con_top_cut.png") no-repeat top center/contain; }

/*   뉴스   */
.search { display: flex; margin-bottom: 15px; }
.search div { width: 50%; }
.search div.right { text-align: right; }
.search div.right button { width: 35px; height: 35px; background: url("../images/common/btn-search.png") no-repeat center/contain; }

.board-list { border-top: 1px solid #e5e5e5; }
.board-list .list { padding: 10px 0; border-bottom: 1px solid #e5e5e5; display: grid; grid-gap: 20px; grid-template-columns: 3fr 1fr; }
.board-list .list .left .title a { font-size: 14px; color: #222; line-height: 18px; display: -webkit-box; white-space: normal; -webkit-line-clamp: 2; word-break: break-all; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; }
.board-list .list .left .sub { margin-top: 30px; display: flex; }
.board-list .list .left .sub p { width: 50%; font-size: 12px; color: #666; }
.board-list .list .left .sub p:last-child { text-align: right; }
.board-list .list .right img { height: 80px; }
