<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.main.dao.MainMapper">

    <select id="getMainScrapCnt" parameterType="java.lang.String" resultType="int">
        /* com.koscom.main.dao.MainMapper.getMainCardScrapCnt 스크래핑건수*/
		SELECT
			COUNT(*) AS SCRAP_CNT
		FROM
			FC_LINK_INFO
		WHERE
			YN_LINK = 'Y'
			AND CD_AGENCY = #{cd_agency, jdbcType=VARCHAR}
			AND NO_PERSON = #{no_person, jdbcType=VARCHAR}
    </select>

	<select id="getMainConsumeSumAmt" parameterType="java.lang.String" resultType="java.lang.String">
		/* com.koscom.main.dao.MainMapper.getMainConsumeSumAmt 지출총금액*/
		<![CDATA[
		SELECT
			CASE WHEN PSI.DT_BASIC IS NULL
				THEN(
					SELECT
						NVL( SUM( AMT_IN_OUT ), 0)
					FROM
						CONSUME_INFO
					WHERE
						YN_CANCEL = 'N'
						AND YN_DELETE = 'N'
						AND TYPE_IN_OUT = '02'
						AND DT_TRD BETWEEN TO_CHAR( TRUNC( SYSDATE, 'MM' ), 'YYYYMMDD' )
						AND TO_CHAR( SYSDATE, 'YYYYMMDD' )
						AND NO_PERSON = PSI.NO_PERSON
				)
				WHEN PSI.DT_BASIC < TO_CHAR( SYSDATE, 'DD' )
				THEN(
					SELECT
						NVL( SUM( AMT_IN_OUT ), 0)
					FROM
						CONSUME_INFO
					WHERE
						YN_CANCEL = 'N'
						AND YN_DELETE = 'N'
						AND TYPE_IN_OUT = '02'
						AND DT_TRD BETWEEN TO_CHAR( SYSDATE, 'YYYYMM' )|| PSI.DT_BASIC
						AND TO_CHAR( SYSDATE, 'YYYYMMDD' )
						AND NO_PERSON = PSI.NO_PERSON
				)
				WHEN PSI.DT_BASIC = TO_CHAR( SYSDATE, 'DD' )
				THEN(
					SELECT
						NVL( SUM( AMT_IN_OUT ), 0)
					FROM
						CONSUME_INFO
					WHERE
						YN_CANCEL = 'N'
						AND YN_DELETE = 'N'
						AND TYPE_IN_OUT = '02'
						AND DT_TRD = TO_CHAR( SYSDATE, 'YYYYMMDD' )
						AND NO_PERSON = PSI.NO_PERSON
				)
				WHEN PSI.DT_BASIC > TO_CHAR( SYSDATE, 'DD' )
				THEN(
					SELECT
						NVL( SUM( AMT_IN_OUT ), 0)
					FROM
						CONSUME_INFO
					WHERE
						YN_CANCEL = 'N'
						AND YN_DELETE = 'N'
						AND TYPE_IN_OUT = '02'
						AND DT_TRD BETWEEN TO_CHAR( ADD_MONTHS( SYSDATE,- 1 ), 'YYYYMM' )|| PSI.DT_BASIC
						AND TO_CHAR( SYSDATE, 'YYYYMMDD' )
						AND NO_PERSON = PSI.NO_PERSON
				)
			END SUM_AMT
		FROM
			(
				SELECT
					DECODE( LENGTH( DT_BASIC ), 1, '0' || DT_BASIC, DT_BASIC ) AS DT_BASIC,
					NO_PERSON
				FROM
					PERSON_SET_INFO
			) PSI
		WHERE
			PSI.NO_PERSON = #{no_person, jdbcType=VARCHAR}
		]]>
	</select>

	<select id="getMainAssetsSumAmt" parameterType="java.lang.String" resultType="java.lang.String">
		/* com.koscom.main.dao.MainMapper.getMainAssetsSumAmt 자산총금액*/
		SELECT
			NVL( SUM( NVL( AMT_BALANCE, 0 )+ NVL( AMT_EVALUATION, 0 )), 0) AS SUM_AMT
		FROM
			ASSETS_INFO
		WHERE
			(DT_EXPIRE IS NULL OR DT_EXPIRE <![CDATA[>=]]> TO_CHAR(SYSDATE,'YYYYMMDD'))
			AND YN_DELETE = 'N'
			AND CD_ASSETS_CLASS = '10' <!-- 증권제외 금보원 -->
			AND NO_PERSON = #{no_person, jdbcType=VARCHAR}
	</select>

	<select id="getMainDebtSumAmt" parameterType="java.lang.String" resultType="java.lang.String">
		/* com.koscom.main.dao.MainMapper.getMainDebtSumAmt 부채총금액*/
		SELECT
			SUM( AMT_REMAIN ) AS SUM_AMT
		FROM
			DEBT_PERSONAL_INFO
		WHERE
			YMD_CANCEL IS NULL
			AND (YMD_LOANEND IS NULL OR YMD_LOANEND <![CDATA[>=]]> TO_CHAR(SYSDATE,'YYYYMMDD'))
			AND DISPLAY_YN = 'Y'
			AND NO_PERSON = #{no_person, jdbcType=VARCHAR}
	</select>

</mapper>