<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.main.dao.MainMapper">

	<select id="getMainConsumeSumAmt" parameterType="java.lang.String" resultType="java.lang.String">
		/* com.koscom.main.dao.MainMapper.getMainConsumeSumAmt */
		<![CDATA[
		SELECT
			CASE WHEN PSI.DT_BASIC IS NULL
				THEN(
					SELECT
						NVL( SUM( AMT_IN_OUT ), 0 )
					FROM
						CONSUME_INFO
					WHERE
						DT_TRD BETWEEN TO_CHAR( TRUNC( SYSDATE, 'MM' ), 'YYYYMMDD' )
									AND TO_CHAR( SYSDATE, 'YYYYMMDD' )
						AND NO_PERSON = PSI.NO_PERSON
				)
				WHEN PSI.DT_BASIC < TO_CHAR( SYSDATE, 'DD' )
				THEN(
					SELECT
						NVL( SUM( AMT_IN_OUT ), 0 )
					FROM
						CONSUME_INFO
					WHERE
						DT_TRD BETWEEN TO_CHAR( SYSDATE, 'YYYYMM' )|| PSI.DT_BASIC
									AND TO_CHAR( SYSDATE, 'YYYYMMDD' )
						AND NO_PERSON = PSI.NO_PERSON
				)
				WHEN PSI.DT_BASIC = TO_CHAR( SYSDATE, 'DD' )
				THEN(
					SELECT
						NVL( SUM( AMT_IN_OUT ), 0 )
					FROM
						CONSUME_INFO
					WHERE
						DT_TRD = TO_CHAR( SYSDATE, 'YYYYMMDD' )
						AND NO_PERSON = PSI.NO_PERSON
				)
				WHEN PSI.DT_BASIC > TO_CHAR( SYSDATE, 'DD' )
				THEN(
					SELECT
						NVL( SUM( AMT_IN_OUT ), 0 )
					FROM
						CONSUME_INFO
					WHERE
						DT_TRD BETWEEN TO_CHAR( ADD_MONTHS( SYSDATE,- 1 ), 'YYYYMM' )|| PSI.DT_BASIC
									AND TO_CHAR( SYSDATE, 'YYYYMMDD' )
						AND NO_PERSON = PSI.NO_PERSON
				)
			END SUM_AMT
		FROM
			(
				SELECT
					DECODE( LENGTH( DT_BASIC ), 1, '0' || DT_BASIC, DT_BASIC ) AS DT_BASIC,
					NO_PERSON
				FROM
					PERSON_SET_INFO
			) PSI
		WHERE
			PSI.NO_PERSON = #{no_person, jdbcType=VARCHAR}
		]]>
	</select>

	<select id="getMainAssetsSumAmt" parameterType="java.lang.String" resultType="java.lang.String">
		/* com.koscom.main.dao.MainMapper.getMainAssetsSumAmt */
		SELECT
			( TB.SUM_AMT_BALANCE + TB.SUM_AMT_EVALUATION ) AS SUM_AMT
		FROM
			(
				SELECT
					NVL( SUM( AMT_BALANCE ), 0 ) AS SUM_AMT_BALANCE,
					NVL( SUM( AMT_EVALUATION ), 0 ) AS SUM_AMT_EVALUATION
				FROM
					ASSETS_INFO
				WHERE
					DT_EXPIRE IS NULL
					AND NO_PERSON = #{no_person, jdbcType=VARCHAR}
			) TB
	</select>

	<select id="getMainDebtSumAmt" parameterType="java.lang.String" resultType="java.lang.String">
		/* com.koscom.main.dao.MainMapper.getMainDebtSumAmt */
		SELECT
			NVL( SUM( AMT_REMAIN ), 0 ) AS SUM_AMT
		FROM
			DEBT_PERSONAL_INFO
		WHERE
			YMD_CANCEL IS NULL
			AND YMD_LOANEND IS NULL
			AND DISPLAY_YN = 'Y'
			AND NO_PERSON = #{no_person, jdbcType=VARCHAR}
	</select>

</mapper>