<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.memo.dao.MemoMapper">
	<insert id="createMemo" parameterType="com.koscom.memo.model.MemoVO">
		INSERT INTO MEMO_INFO 
			(
			NO_PERSON,
			SEQ_MEMO_INFO,
			NO_MANAGE_INFO,
			MEMO_TEXT,
			ALARM_DATE,
			ALARM_TIME,
			ID_FRT,
			DT_FRT,
			ID_LST,
			DT_LST
			)
		VALUES
			(
			#{no_person, 		jdbcType=VARCHAR},
			SEQ_MEMO_INFO.NEXTVAL,
			#{no_manage_info, 	jdbcType=VARCHAR},
			#{memo_text, 		jdbcType=VARCHAR},
			#{alarm_date, 		jdbcType=VARCHAR},
			#{alarm_time, 		jdbcType=VARCHAR},
			#{no_person, 		jdbcType=VARCHAR},
			SYSDATE,
			#{no_person, 		jdbcType=VARCHAR},
			SYSDATE
			)
	</insert>
	<select id="listMemo" parameterType="com.koscom.memo.model.MemoVO" resultType="com.koscom.memo.model.MemoVO">
		SELECT 
			NO_PERSON,
			SEQ_MEMO_INFO,
			NO_MANAGE_INFO,
			MEMO_TEXT,
			IMG_BI,
			ALARM_DATE,
			ALARM_TIME,
			ID_FRT,
			DT_FRT,
			ID_LST,
			DT_LST
		FROM MEMO_INFO
		<where>
			<if test="no_person!=null and no_person!=''">
					NO_PERSON 		= #{no_person, jdbcType=VARCHAR}
			</if>
			<if test="no_manage_info!=null and no_manage_info!=''">
				AND NO_MANAGE_INFO 	= #{no_manage_info, jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY SEQ_MEMO_INFO DESC
	</select>
	<select id="getMemoDetail" parameterType="com.koscom.memo.model.MemoVO" resultType="com.koscom.memo.model.MemoVO">
		SELECT 
			NO_PERSON,
			SEQ_MEMO_INFO,
			NO_MANAGE_INFO,
			MEMO_TEXT,
			IMG_BI,
			ALARM_DATE,
			ALARM_TIME,
			ID_FRT,
			DT_FRT,
			ID_LST,
			DT_LST
				FROM MEMO_INFO
		<where>
			SEQ_MEMO_INFO = #{seq_memo_info, jdbcType=NUMERIC}
		</where>
	</select>
	<update id="updateMemoText" parameterType="com.koscom.memo.model.MemoVO">
		UPDATE MEMO_INFO SET
			MEMO_TEXT 	= #{memo_text, jdbcType=VARCHAR},
			ID_LST 		= #{no_person, jdbcType=VARCHAR},
			DT_LST		= SYSDATE
		<where>
			SEQ_MEMO_INFO = #{seq_memo_info, jdbcType=NUMERIC}
		</where>
	</update>
	<update id="updateMemoAlarm" parameterType="com.koscom.memo.model.MemoVO">
		UPDATE MEMO_INFO SET
			ALARM_DATE = #{alarm_date, jdbcType=VARCHAR},
			ALARM_TIME = #{alarm_time, jdbcType=VARCHAR}
		<where>
			SEQ_MEMO_INFO = #{seq_memo_info, jdbcType=NUMERIC}
		</where>
	</update>
	<delete id="delMemo" parameterType="com.koscom.memo.model.MemoVO">
		DELETE FROM MEMO_INFO
		<where>
			NO_PERSON 			= #{no_person, 		jdbcType=VARCHAR}
			AND SEQ_MEMO_INFO 	= #{seq_memo_info, 	jdbcType=NUMERIC}
		</where>
	</delete>
</mapper>