<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- VITCOM  SYSTEM MANAGEMENT  KHK  20180724 ~ 0827 -->
<mapper namespace="com.koscom.consume.dao.ConsumeMapper">
<!-- 	소비지출 테이블(CONSUME_INFO) 관련 -->
	<insert id="createConsumeInfo" parameterType="com.koscom.consume.model.ConsumeVO">
		<selectKey keyProperty="seq_consume" resultType="java.lang.Integer" order="BEFORE">
			(SELECT NVL(MAX(SEQ_CONSUME),0)+1 FROM CONSUME_INFO)
		</selectKey>
		INSERT INTO CONSUME_INFO(
			 NO_PERSON
			,SEQ_CONSUME
			,TYPE_IN_OUT
			,MEANS_CONSUME
			,DT_TRD
			,TM_TRD
			,CD_CLASS
			,CD_TYPE
			,CONTENTS
			,AMT_IN_OUT
			,CD_FC
			,NO_APPROVAL
			,MON_INSTALLMENT
			,YN_PAY_INSTALLMENT
			,YN_CANCEL
			,YN_AUTO
			,ID_FRT
			,DT_FRT
			,ID_LST
			,DT_LST
		) VALUES (
			 #{no_person			, jdbcType=VARCHAR}
			,#{seq_consume}
			,#{type_in_out			, jdbcType=VARCHAR}
			,#{means_consume		, jdbcType=VARCHAR}
			,#{dt_trd				, jdbcType=VARCHAR}
			,#{tm_trd				, jdbcType=VARCHAR}
			,#{cd_class				, jdbcType=VARCHAR}
			,#{cd_type				, jdbcType=VARCHAR}
			,#{contents				, jdbcType=VARCHAR}
			,#{amt_in_out			, jdbcType=VARCHAR}
			,#{cd_fc				, jdbcType=VARCHAR}
			,#{no_approval			, jdbcType=VARCHAR}
			,#{mon_installment		, jdbcType=VARCHAR}
			,#{yn_pay_installment	, jdbcType=VARCHAR}
			,#{yn_cancel			, jdbcType=VARCHAR}
			,#{yn_auto				, jdbcType=VARCHAR}
			,#{id_frt				, jdbcType=VARCHAR}
			,SYSDATE
			,#{id_lst				, jdbcType=VARCHAR}
			,SYSDATE
		)
	</insert>
	<select id="getConsumeInfoAmt" parameterType="com.koscom.consume.model.ConsumeForm" resultType="java.lang.Integer">
		SELECT NVL(SUM(AMT_IN_OUT),0)
			FROM CONSUME_INFO
		WHERE
				NO_PERSON 					=		#{no_person				, jdbcType=VARCHAR}
			AND TO_NUMBER(DT_TRD) <![CDATA[>=]]>	TO_NUMBER(#{dt_from		, jdbcType=VARCHAR})
			AND TO_NUMBER(DT_TRD) <![CDATA[<=]]>	TO_NUMBER(#{dt_to		, jdbcType=VARCHAR})
			AND TYPE_IN_OUT 				=		#{type_in_out			, jdbcType=VARCHAR}
			AND YN_CANCEL 					=		'N' 
	</select>
	<select id="listConsumeInfo" parameterType="com.koscom.consume.model.ConsumeForm" resultType="com.koscom.consume.model.ConsumeVO">
		SELECT
			 CI.SEQ_CONSUME
			,CI.TYPE_IN_OUT
			,CI.MEANS_CONSUME
			,CI.CD_FC
			,CI.NM_CARD
			,CI.NO_CARD
			,CI.TYPE_CARD
			,CI.DT_TRD
			,CI.TM_TRD
			,CI.NO_BIZ
			,CI.NM_BIZ
			,CI.CD_CLASS
			,PCCI.NM_CLASS
			,CI.CD_TYPE
			,PCCI.NM_TYPE
			,CI.CONTENTS
			,CI.MEMO
			,CI.GRADE
			,CI.AMT_IN_OUT
			,CI.NO_APPROVAL
			,CI.MON_INSTALLMENT
			,CI.MON_REMAINING
			,CI.YN_PAY_INSTALLMENT
				FROM CONSUME_INFO CI, PERSON_CONSUME_CLASS_INFO PCCI
		WHERE
			    CI.NO_PERSON 				=		#{no_person				, jdbcType=VARCHAR}
			AND CI.NO_PERSON				=		PCCI.NO_PERSON
			AND CI.CD_CLASS					=		PCCI.CD_CLASS
			AND CI.CD_TYPE					=		PCCI.CD_TYPE
			AND TO_NUMBER(DT_TRD) <![CDATA[>=]]> 	TO_NUMBER(#{dt_from		, jdbcType=VARCHAR}) 
			AND TO_NUMBER(DT_TRD) <![CDATA[<=]]> 	TO_NUMBER(#{dt_to		, jdbcType=VARCHAR}) 
			AND YN_CANCEL 					=		'N'
			AND YN_BUDGET_EXCEPT			=		'N'
				ORDER BY CI.DT_TRD DESC, CI.TM_TRD DESC
	</select>
	<select id="getConsumeInfo" parameterType="com.koscom.consume.model.ConsumeForm" resultType="com.koscom.consume.model.ConsumeVO">
		SELECT
			 SEQ_CONSUME
			,TYPE_IN_OUT
			,MEANS_CONSUME
			,NM_CARD
			,DT_TRD
			,TM_TRD
			,NM_BIZ
			,CD_CLASS
			,CD_TYPE
			,CONTENTS
			,AMT_IN_OUT
			,CD_FC
			,NO_APPROVAL
			,MON_INSTALLMENT
			,YN_PAY_INSTALLMENT
				FROM CONSUME_INFO
		WHERE
			    NO_PERSON = 	#{no_person		, jdbcType=VARCHAR} 
			AND SEQ_CONSUME = 	#{seq_number	, jdbcType=VARCHAR}
			AND YN_CANCEL =		'N'
	</select>
	<update id="modifyConsumeInfo" parameterType="com.koscom.consume.model.ConsumeVO">
		UPDATE CONSUME_INFO SET
			,MEANS_CONSUME = 		#{means_consume			, jdbcType=VARCHAR}
			,CD_CLASS = 			#{cd_class				, jdbcType=VARCHAR}
			,CD_TYPE = 				#{cd_type				, jdbcType=VARCHAR}
			,CONTENTS = 			#{contents				, jdbcType=VARCHAR}
			,AMT_IN_OUT = 			#{amt_in_out			, jdbcType=VARCHAR}
			,CD_FC = 				#{cd_fc					, jdbcType=VARCHAR}
			,NO_APPROVAL = 			#{no_approval			, jdbcType=VARCHAR}
			,MON_INSTALLMENT = 		#{mon_installment		, jdbcType=VARCHAR}
			,YN_PAY_INSTALLMENT = 	#{yn_pay_installment	, jdbcType=VARCHAR}
			,YN_CANCEL = 			#{yn_cancel				, jdbcType=VARCHAR}
			,YN_AUTO = 				#{yn_auto				, jdbcType=VARCHAR}
			,ID_LST = 				#{id_lst				, jdbcType=VARCHAR}
			,DT_LST = 				SYSDATE
		WHERE 
			    NO_PERSON = 	#{no_person		, jdbcType=VARCHAR}
		    AND SEQ_CONSUME =	#{seq_consume	, jdbcType=VARCHAR}
	</update>
	<update id="delConsumeInfo" parameterType="com.koscom.consume.model.ConsumeVO">
		UPDATE CONSUME_INFO SET
			YN_CANCEL = 'Y'
		WHERE 
			    NO_PERSON = 	#{no_person		, jdbcType=VARCHAR}
		    AND SEQ_CONSUME =	#{seq_consume	, jdbcType=VARCHAR}
	</update>
	<select id="listPersonTransDetail" parameterType="com.koscom.consume.model.ConsumeForm" resultType="com.koscom.consume.model.PersonTransDetailVO">
		SELECT
			STD.AN
			,STD.DT_TRD
			,STD.TM_TRD
			,STD.AMT_WDRL
			,STD.AMT_DEP
			,STD.DOC1
			,STD.DOC2
			,SBAAI.CD_FC
			,FI.NM_FC
    			FROM 	 SCR_TRANSACTION_DETAIL STD
    					,SCR_BANK_API_AN_INFO SBAAI
    					,FC_INFO FI
		WHERE 		STD.NO_PERSON = 					 #{no_person, jdbcType=VARCHAR}
        		AND STD.NO_PERSON = 					 SBAAI.NO_PERSON
        		AND TO_NUMBER(STD.DT_TRD) <![CDATA[>=]]> #{dt_from	, jdbcType=VARCHAR}
        		AND TO_NUMBER(STD.DT_TRD) <![CDATA[<=]]> #{dt_to	, jdbcType=VARCHAR}
        		AND SBAAI.CD_FC = 						 FI.CD_FC
        		AND STD.AN = 							 SBAAI.AN
            		ORDER BY STD.DT_TRD DESC
	</select>
<!-- 	소비 분류, 항목 관련 -->
	<insert id="createDefaultConsumeClassInfo" parameterType="java.lang.String">
		INSERT INTO PERSON_CONSUME_CLASS_INFO
		(
			 NO_PERSON
			,CD_CONSUME_CLASS
			,CD_CLASS
			,NM_CLASS
			,CD_TYPE
			,NM_TYPE
			,YN_DEFAULT
			,YN_USE
			,ID_FRT
			,DT_FRT
			,ID_LST
			,DT_LST
		)
		(
		SELECT
			 #{no_person, jdbcType=VARCHAR}
			,CD_CONSUME_CLASS
			,CD_CLASS
			,NM_CLASS
			,CD_TYPE
			,NM_TYPE
			,'Y'
			,YN_USE
			,#{no_person, jdbcType=VARCHAR}
			,SYSDATE
			,#{no_person, jdbcType=VARCHAR}
			,SYSDATE
				FROM CONSUME_CLASS_INFO
		)
	</insert>
	<select id="listPersonConsumeClassInfo" parameterType="java.lang.String" resultType="com.koscom.consume.model.PersonConsumeClassVO">
		SELECT DISTINCT
			 CD_CLASS
			,NM_CLASS
			,CD_TYPE
			,NM_TYPE
				FROM PERSON_CONSUME_CLASS_INFO
		WHERE 		NO_PERSON 	= #{no_person	, jdbcType=VARCHAR}
				AND TO_NUMBER(CD_CLASS) <![CDATA[>]]> 10
				AND CD_TYPE IS NOT NULL
				AND YN_USE 		= 'Y'
		ORDER BY CD_CLASS ASC, CD_TYPE ASC
	</select>
	<select id="listPersonIncomeClassInfo" parameterType="java.lang.String" resultType="com.koscom.consume.model.PersonConsumeClassVO">
		SELECT DISTINCT
			 CD_CLASS
			,NM_CLASS
			,CD_TYPE
			,NM_TYPE
				FROM PERSON_CONSUME_CLASS_INFO
		WHERE 		NO_PERSON 	= #{no_person	, jdbcType=VARCHAR}
				AND TO_NUMBER(CD_CLASS) <![CDATA[<]]> 10
				AND CD_TYPE IS NOT NULL
				AND YN_USE 		= 'Y'
		ORDER BY CD_CLASS ASC, CD_TYPE ASC
	</select>
	
<!-- 			SELECT DISTINCT -->
<!-- 			 CD_CLASS -->
<!-- 			,NM_CLASS -->
<!-- 				FROM PERSON_CONSUME_CLASS_INFO -->
<!-- 		WHERE 		NO_PERSON = #{no_person, jdbcType=VARCHAR} -->
<!-- 				AND YN_USE = 'Y' -->
<!-- 		ORDER BY CD_CLASS DESC -->
	
	<update id="delPersonConsumeClassInfo" parameterType="com.koscom.consume.model.PersonConsumeClassForm">
		UPDATE PERSON_CONSUME_CLASS_INFO SET
			YN_USE = 'N'
		WHERE 		NO_PERSON  = #{no_person	, jdbcType=VARCHAR}
				AND CD_CONSUME = #{cd_consume	, jdbcType=VARCHAR}
	</update>

	<insert id="createPersonConsumeClassInfo" parameterType="com.koscom.consume.model.PersonConsumeClassVO">
		INSERT INTO PERSON_CONSUME_CLASS_INFO
			(
			 NO_PERSON
			,CD_CONSUME_CLASS
			,CD_CLASS
			,NM_CLASS
			,CD_TYPE
			,NM_TYPE
			,YN_DEFAULT
			,YN_USE
			,ID_FRT
			,DT_FRT
			,ID_LST
			,DT_LST
			)
		VALUES
			(
			 #{no_person			, jdbcType=VARCHAR}
			,#{cd_consume_class		, jdbcType=VARCHAR}
			,#{cd_class				, jdbcType=VARCHAR}
			,#{nm_class				, jdbcType=VARCHAR}
			,#{cd_type				, jdbcType=VARCHAR}
			,#{nm_type				, jdbcType=VARCHAR}
			,#{yn_default			, jdbcType=VARCHAR}
			,#{yn_use				, jdbcType=VARCHAR}
			,#{no_person			, jdbcType=VARCHAR}
			,SYSDATE
			,#{no_person			, jdbcType=VARCHAR}
			,SYSDATE
			)
	</insert>
	<select id="listPersonConsumeTypeInfo" parameterType="com.koscom.consume.model.PersonConsumeClassForm" resultType="com.koscom.consume.model.PersonConsumeClassVO">
		SELECT DISTINCT
			 CD_TYPE
			,NM_TYPE
				FROM PERSON_CONSUME_CLASS_INFO
		WHERE 		NO_PERSON 	= #{no_person	, jdbcType=VARCHAR}
				AND CD_CLASS 	= #{cd_class	, jdcbType=VARCHAR}
				AND CD_TYPE IS NOT NULL
				AND YN_USE 		= 'Y'
		ORDER BY CD_TYPE DESC
	</select>
<!-- 	//소비 분류, 항목 관련 -->
<!-- 	통계, 분석 관련 -->
	<select id="summaryStatsConsumeInfo" parameterType="com.koscom.consume.model.ConsumeForm" resultType="com.koscom.consume.model.ConsumeVO">
		SELECT
			 MEANS_CONSUME
			,SUM(AMT_IN_OUT)
				FROM CONSUME_INFO
		WHERE
					NO_PERSON 				= #{no_person	, jdbcType=VARCHAR}
				AND SUBSTR(DT_TRD, 0, 6) 	= #{ym_trd		, jdbcType=VARCHAR}
				AND YN_CANCEL 				= 'N'
		GROUP BY MEANS_CONSUME
	</select>
	<select id="listStatsConsumeInfo" parameterType="com.koscom.consume.model.ConsumeForm" resultType="com.koscom.consume.model.StatsConsumeVO">
		SELECT DISTINCT
			 CI.CD_CLASS
			,PCCI.NM_CLASS
			,AMT_IN_OUT
				FROM 	PERSON_CONSUME_CLASS_INFO PCCI,
						(
						SELECT
							CD_CLASS
							,SUM(AMT_IN_OUT) AS AMT_IN_OUT
								FROM CONSUME_INFO
						WHERE 		NO_PERSON = #{no_person, jdbcType=VARCHAR}
								AND SUBSTR(DT_TRD, 0, 6) 	= #{ym_trd		, jdbcType=VARCHAR}
								AND TYPE_IN_OUT 			= '02'
								AND YN_CANCEL 				= 'N'
						GROUP BY CD_CLASS 
						) CI
		WHERE CI.CD_CLASS = PCCI.CD_CLASS
		ORDER BY AMT_IN_OUT DESC
	</select>
	<select id="listPeriodConsumeInfo" parameterType="com.koscom.consume.model.ConsumeForm" resultType="com.koscom.consume.model.StatsConsumeVO">
		SELECT DISTINCT
			 CI.DT_TRD
			,CI.CD_CLASS
			,PCCI.NM_CLASS
			,AMT_IN_OUT
				FROM PERSON_CONSUME_CLASS_INFO PCCI,
					(
				 	SELECT
				 		 DT_TRD
				 		,CD_CLASS
				 		,SUM(AMT_IN_OUT) AS AMT_IN_OUT
				 			FROM CONSUME_INFO
				 	WHERE 		NO_PERSON 					= 	#{no_person,jdbcType=VARCHAR}
				 			AND TO_NUMBER(DT_TRD) <![CDATA[>=]]> TO_NUMBER(#{dt_from, jdbcType=VARCHAR})
							AND TO_NUMBER(DT_TRD) <![CDATA[<=]]> TO_NUMBER(#{dt_to, jdbcType=VARCHAR})
							AND TYPE_IN_OUT 				= 	'02'
							AND YN_CANCEL 					= 	'N'
					GROUP BY
						 DT_TRD
						,CD_CLASS
					) CI
		WHERE CI.CD_CLASS = PCCI.CD_CLASS
		ORDER BY CD_CLASS ASC, DT_TRD DESC
	</select>
	<select id="listPeriodConsumeClassInfo" parameterType="com.koscom.consume.model.ConsumeForm" resultType="java.lang.String">
		SELECT DISTINCT
			PCCI.NM_CLASS
				FROM PERSON_CONSUME_CLASS_INFO PCCI,
					(
				 	SELECT
				 		 CD_CLASS
				 			FROM CONSUME_INFO
				 	WHERE 		NO_PERSON 					= 	#{no_person,jdbcType=VARCHAR}
				 			AND TO_NUMBER(DT_TRD) <![CDATA[>=]]> TO_NUMBER(#{dt_from, jdbcType=VARCHAR})
							AND TO_NUMBER(DT_TRD) <![CDATA[<=]]> TO_NUMBER(#{dt_to, jdbcType=VARCHAR})
							AND TYPE_IN_OUT 				= 	'02'
							AND YN_CANCEL 					= 	'N'
					GROUP BY
						 DT_TRD
						,CD_CLASS
					ORDER BY CD_CLASS ASC
					) CI
		WHERE CI.CD_CLASS = PCCI.CD_CLASS
	</select>
	
	<select id="listConsumeInfoByScrTransDt" parameterType="String" resultType="com.koscom.consume.model.ConsumeVO">
		SELECT
			CI.NO_PERSON,
			CI.TYPE_IN_OUT,
			CI.MEANS_CONSUME,
			CI.CD_FC,
			CI.NM_CARD,
			CI.NO_CARD,
			STD.DT_TRD,
			STD.TM_TRD,
			CI.CD_CLASS,
			CI.CD_TYPE,
			CI.CONTENTS,
			CI.MEMO,
			DECODE( CI.TYPE_IN_OUT, '01', STD.AMT_DEP, '02', STD.AMT_WDRL ) AS AMT_IN_OUT,
			CI.YN_CANCEL,
			CI.YN_DELETE,
			CI.YN_AUTO,
			CI.YN_BUDGET_EXCEPT
		FROM
			CONSUME_INFO CI
		INNER JOIN(
				SELECT
					NO_PERSON,
					MAX( TO_CHAR( DT_TRD || TM_TRD )) AS DT,
					NO_CARD,
					CONTENTS
				FROM
					CONSUME_INFO
				GROUP BY
					NO_PERSON,
					NO_CARD,
					CONTENTS
			) CII
		ON CII.NO_PERSON = CI.NO_PERSON
			AND CII.NO_CARD = CI.NO_CARD
			AND CII.CONTENTS = CI.CONTENTS
			AND CII.DT = TO_CHAR( CI.DT_TRD || CI.TM_TRD )
		INNER JOIN(
				SELECT
					NO_PERSON,
					AN,
					DT_TRD,
					TM_TRD,
					TO_CHAR( DT_TRD || TM_TRD ) AS DT,
					AMT_DEP,
					AMT_WDRL,
					DOC1,
					DOC2
				FROM
					SCR_TRANSACTION_DETAIL
			) STD
		ON STD.NO_PERSON = CI.NO_PERSON
			AND STD.AN = CI.NO_CARD
			AND(
				STD.DOC1 = CI.CONTENTS
				OR STD.DOC2 = CI.CONTENTS
			)
			AND STD.DT <![CDATA[>]]> CII.DT
		WHERE
			CI.YN_CANCEL != 'Y'
			AND CI.YN_AUTO = 'Y'
			AND CI.MEANS_CONSUME = '03'
			AND CI.NO_PERSON = #{no_person, jdbcType=VARCHAR}
	</select>

	<insert id="createConsumeInfoByScrTransDt" parameterType="com.koscom.consume.model.ConsumeVO">
	    <selectKey keyProperty="seq_consume" resultType="java.lang.Integer" order="BEFORE">
			(SELECT NVL(MAX(SEQ_CONSUME),0)+1 FROM CONSUME_INFO)
		</selectKey>
		INSERT INTO CONSUME_INFO(
			SEQ_CONSUME,
			NO_PERSON,
			TYPE_IN_OUT,
			MEANS_CONSUME,
			CD_FC,
			NM_CARD,
			NO_CARD,
			DT_TRD,
			TM_TRD,
			CD_CLASS,
			CD_TYPE,
			CONTENTS,
			MEMO,
			AMT_IN_OUT,
			YN_CANCEL,
			YN_DELETE,
			YN_AUTO,
			YN_BUDGET_EXCEPT,
			ID_FRT,
			DT_FRT,
			ID_LST,
			DT_LST
		) VALUES (
			#{seq_consume},
			#{no_person, jdbcType=VARCHAR},
			#{type_in_out, jdbcType=VARCHAR},
			#{means_consume, jdbcType=VARCHAR},
			#{cd_fc, jdbcType=VARCHAR},
			#{nm_card, jdbcType=VARCHAR},
			#{no_card, jdbcType=VARCHAR},
			#{dt_trd, jdbcType=VARCHAR},
			#{tm_trd, jdbcType=VARCHAR},
			#{cd_class, jdbcType=VARCHAR},
			#{cd_type, jdbcType=VARCHAR},
			#{contents, jdbcType=VARCHAR},
			#{memo, jdbcType=VARCHAR},
			#{amt_in_out, jdbcType=VARCHAR},
			#{yn_cancel, jdbcType=VARCHAR},
			#{yn_delete, jdbcType=VARCHAR},
			#{yn_auto, jdbcType=VARCHAR},
			#{yn_budget_except, jdbcType=VARCHAR},
			#{id_frt, jdbcType=VARCHAR},
			SYSDATE,
			#{id_lst, jdbcType=VARCHAR},
			SYSDATE
		)
	</insert>
</mapper>