<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.coocon.dao.CooconMapper">

	<select id="getCdcoocongoods" parameterType="map" resultType="String">
		/* com.koscom.coocon.dao.CooconMapper.getCdcoocongoods */
		SELECT DISTINCT CD_COOCON_GOODS FROM COOCON_GOODS_INFO
				WHERE CD_ORG = #{cd_org,  jdbcType=VARCHAR}
				AND NM_COOCON_GOODS = REPLACE(#{nm_coocon_goods,  jdbcType=VARCHAR},' ','')
	</select>

	<select id="getCooconGoodsInfoCdNongoods" parameterType="com.koscom.coocon.model.CooconVO" resultType="String">
		/* com.koscom.coocon.dao.CooconMapper.getCdNongoods */
		SELECT CD_NON_GOODS
		FROM COOCON_GOODS_INFO
		WHERE CD_COOCON_GOODS = #{cd_coocon_goods,  jdbcType=VARCHAR}
			AND NM_COOCON_GOODS = #{nm_coocon_goods,  jdbcType=VARCHAR}
			AND SEQ = (SELECT MAX(SEQ)
					 FROM COOCON_GOODS_INFO
					 WHERE CD_COOCON_GOODS = #{cd_coocon_goods,  jdbcType=VARCHAR}
					 AND NM_COOCON_GOODS = #{nm_coocon_goods,  jdbcType=VARCHAR})
	</select>

	<insert id="setCooconGoods" parameterType="com.koscom.coocon.model.CooconVO">
		/* com.koscom.coocon.dao.CooconMapper.setCooconGoods */
		INSERT INTO COOCON_GOODS_INFO
		(
			CD_COOCON_GOODS
			,NM_COOCON_GOODS
			,SEQ
			,CD_NON_GOODS
			,CD_TYPE_FC
			,CD_ORG
			,CD_TYPE_GOODS
			,CD_TYPE_REQ
			,NM_GOODS
			,DESC_GOODS
			,DESC_TARGET_CUST
			,DESC_COLLATERAL
			,DESC_LIMIT
			,DESC_YIELD_RATE
			,DESC_PREFER_YIELD
			,DESC_TERM
			,DESC_REPAYMETHOD
			,DESC_CONTRACTFEE
			,DESC_PAPERS
			,DESC_OVERDUE_INTEREST
			,DESC_REPAYMENT_FEE
			,DESC_LOAN_COST
			,DESC_LOAN_PERIOD
			,DESC_LOAN_PROVIDE
			,DESC_GOODS_INQUIRY
			,DESC_ETC
			,ID_FRT
			,DT_FRT
			,ID_LST
			,DT_LST
		) VALUES (
			#{cd_coocon_goods,  jdbcType=VARCHAR}
			,#{nm_coocon_goods,  jdbcType=VARCHAR}
			,(SELECT NVL(MAX(SEQ),0)+1 FROM COOCON_GOODS_INFO WHERE CD_COOCON_GOODS = #{cd_coocon_goods,  jdbcType=VARCHAR} AND NM_COOCON_GOODS = #{nm_coocon_goods,  jdbcType=VARCHAR})
			,#{cd_non_goods   ,  jdbcType=VARCHAR}
			,#{cd_type_fc	 ,  jdbcType=VARCHAR}
			,#{cd_org		 ,  jdbcType=VARCHAR}
			,#{cd_type_goods  ,  jdbcType=VARCHAR}
			,#{cd_type_req    ,  jdbcType=VARCHAR}
			,#{PRODUCT_NAME      ,  jdbcType=VARCHAR}
			,#{OUTLINE     ,  jdbcType=VARCHAR}
			,#{TARGET_CUSTOMER,  jdbcType=VARCHAR}
			,#{MORTGAGE,  jdbcType=VARCHAR}
			,#{CREDIT_LINE	 ,  jdbcType=VARCHAR}
			,#{LENDING_RATE,  jdbcType=VARCHAR}
			,#{PRIME_RATE,  jdbcType=VARCHAR}
			,#{LOAN_PERIOD		 ,  jdbcType=VARCHAR}
			,#{REPAYMENT_METHOD,  jdbcType=VARCHAR}
			,#{FEE,  jdbcType=VARCHAR}
			,#{NECESSARY_DOCUMENTS	 ,  jdbcType=VARCHAR}
			,#{OVERDUE_INTEREST,  jdbcType=VARCHAR}
			,#{CANCELLATION_FEE,  jdbcType=VARCHAR}
			,#{COST_OF_BORROWING ,  jdbcType=VARCHAR}
			,#{PERIOD_FOR_LOAN_APPLICATION,  jdbcType=VARCHAR}
			,#{PERIOD_FOR_LOAN_PROVISION,  jdbcType=VARCHAR}
			,#{INQUIRY_FOR_THE_GOODS,  jdbcType=VARCHAR}
			,#{ANY_OTHER_CAUSE,  jdbcType=VARCHAR}
			,#{id_frt,  jdbcType=VARCHAR}
			,SYSDATE
			,#{id_frt,  jdbcType=VARCHAR}
			,SYSDATE
		)
	</insert>

	<delete id="delCooconGoods" parameterType="com.koscom.coocon.model.CooconVO">
		/* com.koscom.coocon.dao.CooconMapper.delCooconGoods */
		DELETE FROM COOCON_GOODS_INFO
		WHERE CD_COOCON_GOODS = #{cd_coocon_goods,  jdbcType=VARCHAR}
			AND NM_COOCON_GOODS = #{nm_coocon_goods,  jdbcType=VARCHAR}
			AND SEQ = (SELECT MIN(SEQ)
					   FROM COOCON_GOODS_INFO
					   WHERE CD_COOCON_GOODS = #{cd_coocon_goods,  jdbcType=VARCHAR}
							AND NM_COOCON_GOODS = #{nm_coocon_goods,  jdbcType=VARCHAR})
	</delete>

	<insert id="insCooconChangeinfo" parameterType="com.koscom.coocon.model.CooconVO">
		/* com.koscom.coocon.dao.CooconMapper.insCooconChangeinfo */
		INSERT INTO COOCON_GOODS_CHANGE_INFO(
			CD_COOCON_GOODS
			,NM_COOCON_GOODS
			,YN_REG
			,STATUS
			,YN_GOODS
			,YN_TARGET_CUST
			,YN_COLLATERAL
			,YN_LIMIT
			,YN_YIELD_RATE
			,YN_PREFER_YIELD
			,YN_TERM
			,YN_REPAYMETHOD
			,YN_CONTRACTFEE
			,YN_PAPER
			,YN_OVERDUE
			,YN_REPAYMENT_FEE
			,YN_LOAN_COST
			,YN_LOAN_PERIOD
			,YN_LOAN_PROVIDE
			,YN_GOODS_INQUIRY
			,YN_ETC
			,ID_FRT
			,DT_FRT
			,ID_LST
			,DT_LST
		)VALUES(
			#{cd_coocon_goods,  jdbcType=VARCHAR}
			,#{nm_coocon_goods,  jdbcType=VARCHAR}
			,'N'
			,'1'
			,'N'
			,'N'
			,'N'
			,'N'
			,'N'
			,'N'
			,'N'
			,'N'
			,'N'
			,'N'
			,'N'
			,'N'
			,'N'
			,'N'
			,'N'
			,'N'
			,'N'
			,#{id_frt,  jdbcType=VARCHAR}
			,SYSDATE
			,#{id_frt,  jdbcType=VARCHAR}
			,SYSDATE
		)
	</insert>

	<update id="updCooconChangeinfo" parameterType="com.koscom.coocon.model.CooconVO">
		/* com.koscom.coocon.dao.CooconMapper.updCooconChangeinfo */
		<![CDATA[
		UPDATE COOCON_GOODS_CHANGE_INFO SET (
				YN_GOODS
				,YN_TARGET_CUST
				,YN_COLLATERAL
				,YN_LIMIT
				,YN_YIELD_RATE
				,YN_PREFER_YIELD
				,YN_TERM
				,YN_REPAYMETHOD
				,YN_CONTRACTFEE
				,YN_PAPER
				,YN_OVERDUE
				,YN_REPAYMENT_FEE
				,YN_LOAN_COST
				,YN_LOAN_PERIOD
				,YN_LOAN_PROVIDE
				,YN_GOODS_INQUIRY
				,YN_ETC
				,ID_LST
				,DT_LST
			) = (
				SELECT
						CASE
							WHEN DESC_GOODS IS NULL THEN 'N'
							WHEN DESC_GOODS = 0 THEN 'N'
							ELSE 'Y' END AS YN_GOODS
						,CASE
							WHEN DESC_TARGET_CUST IS NULL THEN 'N'
							WHEN DESC_TARGET_CUST = 0 THEN 'N'
							ELSE 'Y' END AS YN_TARGET_CUST
						,CASE
							WHEN DESC_COLLATERAL IS NULL THEN 'N'
							WHEN DESC_COLLATERAL = 0 THEN 'N'
							ELSE 'Y' END AS YN_COLLATERAL
						,CASE
							WHEN DESC_LIMIT IS NULL THEN 'N'
							WHEN DESC_LIMIT = 0 THEN 'N'
							ELSE 'Y' END AS YN_LIMIT
						,CASE
							WHEN DESC_YIELD_RATE IS NULL THEN 'N'
							WHEN DESC_YIELD_RATE = 0 THEN 'N'
							ELSE 'Y' END AS YN_YIELD_RATE
						,CASE
							WHEN DESC_PREFER_YIELD IS NULL THEN 'N'
							WHEN DESC_PREFER_YIELD = 0 THEN 'N'
							ELSE 'Y' END AS YN_PREFER_YIELD
						,CASE
							WHEN DESC_TERM IS NULL THEN 'N'
							WHEN DESC_TERM = 0 THEN 'N'
							ELSE 'Y' END AS YN_TERM
						,CASE
							WHEN DESC_REPAYMETHOD IS NULL THEN 'N'
							WHEN DESC_REPAYMETHOD = 0 THEN 'N'
							ELSE 'Y' END AS YN_REPAYMETHOD
						,CASE
							WHEN DESC_CONTRACTFEE IS NULL THEN 'N'
							WHEN DESC_CONTRACTFEE = 0 THEN 'N'
							ELSE 'Y' END AS YN_CONTRACTFEE
						,CASE
							WHEN DESC_PAPERS IS NULL THEN 'N'
							WHEN DESC_PAPERS = 0 THEN 'N'
							ELSE 'Y' END AS YN_PAPER
						,CASE
							WHEN DESC_OVERDUE_INTEREST IS NULL THEN 'N'
							WHEN DESC_OVERDUE_INTEREST = 0 THEN 'N'
							ELSE 'Y' END AS YN_OVERDUE
						,CASE
							WHEN DESC_REPAYMENT_FEE IS NULL THEN 'N'
							WHEN DESC_REPAYMENT_FEE = 0 THEN 'N'
							ELSE 'Y' END AS YN_REPAYMENT_FEE
						,CASE
							WHEN DESC_LOAN_COST IS NULL THEN 'N'
							WHEN DESC_LOAN_COST = 0 THEN 'N'
							ELSE 'Y' END AS YN_LOAN_COST
						,CASE
							WHEN DESC_LOAN_PERIOD IS NULL THEN 'N'
							WHEN DESC_LOAN_PERIOD = 0 THEN 'N'
							ELSE 'Y' END AS YN_LOAN_PERIOD
						,CASE
							WHEN DESC_LOAN_PROVIDE IS NULL THEN 'N'
							WHEN DESC_LOAN_PROVIDE = 0 THEN 'N'
							ELSE 'Y' END AS YN_LOAN_PROVIDE
						,CASE
							WHEN DESC_GOODS_INQUIRY IS NULL THEN 'N'
							WHEN DESC_GOODS_INQUIRY = 0 THEN 'N'
							ELSE 'Y' END AS YN_GOODS_INQUIRY
						,CASE
							WHEN DESC_ETC IS NULL THEN 'N'
							WHEN DESC_ETC = 0 THEN 'N'
							ELSE 'Y' END AS YN_ETC
						,'admin' AS ID_LST
						,SYSDATE AS DT_LST
					FROM (
				SELECT
						DBMS_LOB.COMPARE(A.DESC_GOODS,		 		P.DESC_GOODS			) DESC_GOODS
						,DBMS_LOB.COMPARE(A.DESC_TARGET_CUST, 		P.DESC_TARGET_CUST		) DESC_TARGET_CUST
						,DBMS_LOB.COMPARE(A.DESC_COLLATERAL,  		P.DESC_COLLATERAL		) DESC_COLLATERAL
						,DBMS_LOB.COMPARE(A.DESC_LIMIT, 		 	P.DESC_LIMIT			) DESC_LIMIT
						,DBMS_LOB.COMPARE(A.DESC_YIELD_RATE,		P.DESC_YIELD_RATE		) DESC_YIELD_RATE
						,DBMS_LOB.COMPARE(A.DESC_PREFER_YIELD, 		P.DESC_PREFER_YIELD		) DESC_PREFER_YIELD
						,DBMS_LOB.COMPARE(A.DESC_TERM,  			P.DESC_TERM				) DESC_TERM
						,DBMS_LOB.COMPARE(A.DESC_REPAYMETHOD, 		P.DESC_REPAYMETHOD		) DESC_REPAYMETHOD
						,DBMS_LOB.COMPARE(A.DESC_CONTRACTFEE,		P.DESC_CONTRACTFEE		) DESC_CONTRACTFEE
						,DBMS_LOB.COMPARE(A.DESC_PAPERS, 			P.DESC_PAPERS			) DESC_PAPERS
						,DBMS_LOB.COMPARE(A.DESC_OVERDUE_INTEREST,  P.DESC_OVERDUE_INTEREST	) DESC_OVERDUE_INTEREST
						,DBMS_LOB.COMPARE(A.DESC_REPAYMENT_FEE, 	P.DESC_REPAYMENT_FEE	) DESC_REPAYMENT_FEE
						,DBMS_LOB.COMPARE(A.DESC_LOAN_COST,			P.DESC_LOAN_COST		) DESC_LOAN_COST
						,DBMS_LOB.COMPARE(A.DESC_LOAN_PERIOD, 		P.DESC_LOAN_PERIOD		) DESC_LOAN_PERIOD
						,DBMS_LOB.COMPARE(A.DESC_LOAN_PROVIDE,  	P.DESC_LOAN_PROVIDE		) DESC_LOAN_PROVIDE
						,DBMS_LOB.COMPARE(A.DESC_GOODS_INQUIRY, 	P.DESC_GOODS_INQUIRY	) DESC_GOODS_INQUIRY
						,DBMS_LOB.COMPARE(A.DESC_ETC, 				P.DESC_ETC				) DESC_ETC
					       FROM
					         (
					             SELECT
					             		CD_COOCON_GOODS
					             		,NM_COOCON_GOODS
					             		,DESC_GOODS
										,DESC_TARGET_CUST
										,DESC_COLLATERAL
										,DESC_LIMIT
										,DESC_YIELD_RATE
										,DESC_PREFER_YIELD
										,DESC_TERM
										,DESC_REPAYMETHOD
										,DESC_CONTRACTFEE
										,DESC_PAPERS
										,DESC_OVERDUE_INTEREST
										,DESC_REPAYMENT_FEE
										,DESC_LOAN_COST
										,DESC_LOAN_PERIOD
										,DESC_LOAN_PROVIDE
										,DESC_GOODS_INQUIRY
										,DESC_ETC
							       FROM COOCON_GOODS_INFO I
							      WHERE I.SEQ = (SELECT MAX(SEQ) M_SEQ
												  FROM COOCON_GOODS_INFO
												 WHERE CD_COOCON_GOODS = #{cd_coocon_goods,  jdbcType=VARCHAR}
												 AND NM_COOCON_GOODS = #{nm_coocon_goods,  jdbcType=VARCHAR})
							        AND I.CD_COOCON_GOODS = #{cd_coocon_goods,  jdbcType=VARCHAR}
							        AND I.NM_COOCON_GOODS = #{nm_coocon_goods,  jdbcType=VARCHAR}
					         ) A
					         LEFT OUTER JOIN
					         (
					             SELECT
					             		CD_COOCON_GOODS
					             		,NM_COOCON_GOODS
					             		,DESC_GOODS
										,DESC_TARGET_CUST
										,DESC_COLLATERAL
										,DESC_LIMIT
										,DESC_YIELD_RATE
										,DESC_PREFER_YIELD
										,DESC_TERM
										,DESC_REPAYMETHOD
										,DESC_CONTRACTFEE
										,DESC_PAPERS
										,DESC_OVERDUE_INTEREST
										,DESC_REPAYMENT_FEE
										,DESC_LOAN_COST
										,DESC_LOAN_PERIOD
										,DESC_LOAN_PROVIDE
										,DESC_GOODS_INQUIRY
										,DESC_ETC
							       FROM COOCON_GOODS_INFO I
							      WHERE I.SEQ = (SELECT MAX(SEQ)-1 M_SEQ
												  FROM COOCON_GOODS_INFO
												 WHERE CD_COOCON_GOODS = #{cd_coocon_goods,  jdbcType=VARCHAR}
												 AND NM_COOCON_GOODS = #{nm_coocon_goods,  jdbcType=VARCHAR})
							        AND I.CD_COOCON_GOODS = #{cd_coocon_goods,  jdbcType=VARCHAR}
							        AND I.NM_COOCON_GOODS = #{nm_coocon_goods,  jdbcType=VARCHAR}
					         ) P
					         ON (A.CD_COOCON_GOODS = P.CD_COOCON_GOODS
					         AND A.NM_COOCON_GOODS = P.NM_COOCON_GOODS)
				)
			)
			WHERE CD_COOCON_GOODS = #{cd_coocon_goods, jdbcType=VARCHAR}
			AND NM_COOCON_GOODS = #{nm_coocon_goods,  jdbcType=VARCHAR}
			]]>
	</update>

	<update id="updStatusCooconChangeinfo" parameterType="com.koscom.coocon.model.CooconVO">
		/* com.koscom.coocon.dao.CooconMapper.updStatusCooconChangeinfo */
		<![CDATA[
		UPDATE COOCON_GOODS_CHANGE_INFO
			SET STATUS = #{status,  jdbcType=VARCHAR}
		]]>
			<if test="@com.koscom.util.MybatisUtil@isNotEmpty(yn_reg)">
			   , YN_REG = #{yn_reg,  jdbcType=VARCHAR}
			</if>
		<![CDATA[
			   , ID_LST = #{id_lst, jdbcType=VARCHAR}
			   , DT_LST = SYSDATE
			WHERE CD_COOCON_GOODS = #{cd_coocon_goods,  jdbcType=VARCHAR}
			AND NM_COOCON_GOODS = #{nm_coocon_goods,  jdbcType=VARCHAR}
		]]>
	</update>

	<select id="chkCooconGoods" parameterType="com.koscom.coocon.model.CooconVO" resultType="int">
		/* com.koscom.coocon.dao.CooconMapper.chkCooconGoods */
		SELECT
			COUNT(*)
		FROM COOCON_GOODS_INFO
		WHERE
			NM_COOCON_GOODS = #{nm_coocon_goods,  jdbcType=VARCHAR}
			AND CD_ORG = #{cd_org,  jdbcType=VARCHAR}
	</select>

	<select id="chkCooconGoodsChangeInfo" parameterType="com.koscom.coocon.model.CooconVO" resultType="int">
		/* com.koscom.coocon.dao.CooconMapper.chkCooconGoodsChangeInfo */
		SELECT
			COUNT(CD_COOCON_GOODS)
		FROM COOCON_GOODS_CHANGE_INFO
		WHERE
			(CD_COOCON_GOODS, NM_COOCON_GOODS) = (SELECT DISTINCT
														 CD_COOCON_GOODS, NM_COOCON_GOODS
													FROM COOCON_GOODS_INFO
												   WHERE NM_COOCON_GOODS = #{nm_coocon_goods,  jdbcType=VARCHAR}
													 AND CD_ORG = #{cd_org,  jdbcType=VARCHAR})
	</select>

	<select id="chkChangeValue" parameterType="com.koscom.coocon.model.CooconVO" resultType="int">
		/* com.koscom.coocon.dao.CooconMapper.chkChangeValue */
		SELECT NVL(SUM(
					CASE
						WHEN YN_GOODS = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_TARGET_CUST = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_COLLATERAL = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_LIMIT = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_YIELD_RATE = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_PREFER_YIELD = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_TERM = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_REPAYMETHOD = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_CONTRACTFEE = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_PAPER = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_OVERDUE = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_REPAYMENT_FEE = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_LOAN_COST = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_LOAN_PERIOD = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_LOAN_PROVIDE = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_GOODS_INQUIRY = 'N' THEN 0
						ELSE 1 END
					+CASE
						WHEN YN_ETC = 'N' THEN 0
						ELSE 1 END
					),0) AS CHK_VALUE
				FROM COOCON_GOODS_CHANGE_INFO
			   WHERE CD_COOCON_GOODS = #{cd_coocon_goods,  jdbcType=VARCHAR}
			     AND NM_COOCON_GOODS = #{nm_coocon_goods,  jdbcType=VARCHAR}
	</select>

	<select id="getCdnongoodsGoodsbankCnt" parameterType="String" resultType="int">
		SELECT COUNT(CD_NON_GOODS)
		FROM GOODSBANK_INFO
		WHERE CD_NON_GOODS = #{cd_non_goods,  jdbcType=VARCHAR}
	</select>

	<delete id="delCoocongoodsinfo" >
		/* com.koscom.coocon.dao.CooconMapper.delCoocongoodsinfo */
		<![CDATA[
		DELETE FROM COOCON_GOODS_INFO
			WHERE (CD_COOCON_GOODS, NM_COOCON_GOODS) IN (
			SELECT CD_COOCON_GOODS,NM_COOCON_GOODS
			FROM COOCON_GOODS_INFO
			WHERE TO_CHAR(DT_LST,'YYYYMMDD') < TO_CHAR(SYSDATE,'YYYYMMDD')
			GROUP BY CD_COOCON_GOODS, NM_COOCON_GOODS HAVING COUNT(CD_COOCON_GOODS) = 1
			)
		]]>
	</delete>

	<update id="delCoocongoodchangeinfo" parameterType="com.koscom.coocon.model.CooconVO">
		/* com.koscom.coocon.dao.CooconMapper.delCoocongoodchangeinfo */
		<![CDATA[
		UPDATE   COOCON_GOODS_CHANGE_INFO
		SET      STATUS = '3'
			   , ID_LST    = #{id_lst, jdbcType=VARCHAR}
			   , DT_LST    = SYSDATE
		WHERE   (CD_COOCON_GOODS, NM_COOCON_GOODS)  IN
				(
				SELECT CD_COOCON_GOODS,NM_COOCON_GOODS
				FROM COOCON_GOODS_CHANGE_INFO
				WHERE TO_CHAR(DT_LST,'YYYYMMDD') < TO_CHAR(SYSDATE,'YYYYMMDD')
				)
		]]>
	</update>

	<update id="updYnUseGoodsbankInfo" parameterType="com.koscom.coocon.model.CooconVO">
		/* com.koscom.coocon.dao.CooconMapper.updYnUseGoodsbankInfo */
		<![CDATA[
		UPDATE   GOODSBANK_INFO
		SET      YN_USE = 'N'
			   , ID_LST    = #{id_lst, jdbcType=VARCHAR}
			   , DT_LST    = SYSDATE
		WHERE   (CD_NON_GOODS) IN
				(
				SELECT GI.cd_non_goods
				FROM GOODSBANK_INFO GI
				INNER JOIN COOCON_GOODS_INFO CGI
				ON GI.cd_non_goods = CGI.cd_non_goods
				INNER JOIN COOCON_GOODS_CHANGE_INFO CGCI
				ON CGI.cd_coocon_goods = CGCI.cd_coocon_goods
				AND CGI.nm_coocon_goods = CGCI.nm_coocon_goods
				WHERE TO_CHAR(CGCI.dt_lst,'YYYYMMDD') < TO_CHAR(SYSDATE,'YYYYMMDD')
				)
		]]>
	</update>

	<select id="getCooconAPIinfo" resultType="com.koscom.coocon.model.CooconAPIinfoVO">
		/* com.koscom.coocon.dao.CooconMapper.getCooconAPIinfo */
		SELECT
			A.CD_ORG
			,A.GUBUN
			,A.ORG_TYPE
			,A.CD_FC
		FROM COOCON_API_INFO A
		WHERE
		1=1
		AND A.YN_USE = 'Y'
		ORDER BY A.CD_ORG, A.GUBUN ASC
	</select>

	<select id="getSeq" resultType="int" parameterType="String">
		/* com.koscom.coocon.dao.CooconMapper.getSeq */
		SELECT
			NVL(MIN(SEQ),0)
			FROM
				COOCON_GOODS_INFO A
			WHERE A.CD_COOCON_GOODS = #{cd_coocon_goods,  jdbcType=VARCHAR}
			AND CD_NON_GOODS IS NULL
	</select>

	<select id="listcooconApiInfo" parameterType="com.koscom.coocon.model.CooconAPIinfoFormVO" resultType="com.koscom.coocon.model.CooconAPIinfoVO">
		/* com.koscom.coocon.dao.CooconMapper.listcooconApiInfo */
		SELECT
				RNUM
				,GUBUN
				,ORG_TYPE
				,CD_ORG
				,CD_FC
				,YN_USE
				FROM (
				SELECT
							ROWNUM AS RNUM
							,LIST.GUBUN
							,LIST.ORG_TYPE
							,LIST.CD_ORG
							,LIST.CD_FC
							,LIST.YN_USE
							FROM
								(
									SELECT
										GUBUN
										,ORG_TYPE
										,CD_ORG
										,CD_FC
										,YN_USE
										FROM COOCON_API_INFO
										WHERE
										ORG_TYPE = DECODE(#{org_type, jdbcType=VARCHAR},NULL,ORG_TYPE,#{org_type, jdbcType=NUMERIC})
										AND GUBUN = DECODE(#{gubun, jdbcType=VARCHAR},NULL,GUBUN,#{gubun, jdbcType=VARCHAR})
										ORDER BY DT_FRT DESC
								) LIST
						)
			WHERE RNUM <![CDATA[<=]]> #{endPosition, jdbcType=NUMERIC}
			AND RNUM <![CDATA[>=]]> #{startPosition, jdbcType=NUMERIC}
	</select>

	<select id="listcooconApiInfoCount" parameterType="com.koscom.coocon.model.CooconAPIinfoFormVO" resultType="int">
		/* com.koscom.coocon.dao.CooconMapper.listcooconApiInfoCount */
		SELECT
			COUNT(*) AS recordCount
			FROM
				(
					SELECT
						GUBUN
						,ORG_TYPE
						,CD_ORG
						,CD_FC
						,YN_USE
						FROM COOCON_API_INFO
						WHERE
						CD_ORG = DECODE(#{cd_org, jdbcType=VARCHAR}, NULL, CD_ORG, #{cd_org, jdbcType=VARCHAR})
						AND GUBUN = DECODE(#{gubun, jdbcType=VARCHAR},NULL,GUBUN,#{gubun, jdbcType=VARCHAR})
				) LIST
	</select>

	<insert id="createcooconAPIinfo" parameterType="com.koscom.coocon.model.CooconAPIinfoFormVO" >
		/* com.koscom.coocon.dao.CooconMapper.createcooconAPIinfo */
		INSERT INTO COOCON_API_INFO(
			GUBUN
			,ORG_TYPE
			,CD_ORG
			,CD_FC
			,YN_USE
			,ID_FRT
			,DT_FRT
			,ID_LST
			,DT_LST
		)VALUES(
			#{gubun, jdbcType=VARCHAR}
			,#{org_type, jdbcType=VARCHAR}
			,#{cd_org, jdbcType=VARCHAR}
			,#{cd_fc, jdbcType=VARCHAR}
			,#{yn_use, jdbcType=VARCHAR}
			,#{id_frt, jdbcType=VARCHAR}
			,SYSDATE
			,#{id_frt, jdbcType=VARCHAR}
			,SYSDATE
		)
	</insert>

	<select id="duplcooconAPIinfo" parameterType="com.koscom.coocon.model.CooconAPIinfoFormVO" resultType="int">
		/* com.koscom.coocon.dao.CooconMapper.duplcooconAPIinfo */
		SELECT
				COUNT(CD_ORG)
				FROM COOCON_API_INFO
				WHERE
				CD_ORG = #{cd_org, jdbcType=VARCHAR}
				AND GUBUN = #{gubun, jdbcType=VARCHAR}
	</select>

	<update id="updcooconAPIinfo" parameterType="com.koscom.coocon.model.CooconAPIinfoFormVO">
		/* com.koscom.coocon.dao.CooconMapper.updcooconAPIinfo */
		UPDATE COOCON_API_INFO
		SET
			ORG_TYPE = #{org_type, jdbcType=VARCHAR}
			,CD_FC = #{cd_fc, jdbcType=VARCHAR}
			,YN_USE = #{yn_use, jdbcType=VARCHAR}
			,ID_LST = #{id_lst, jdbcType=VARCHAR}
			,DT_LST = SYSDATE
		WHERE
		CD_ORG = #{cd_org, jdbcType=VARCHAR}
		AND GUBUN = #{gubun, jdbcType=VARCHAR}

	</update>

	<delete id="delcooconAPIinfo" parameterType="com.koscom.coocon.model.CooconAPIinfoFormVO" >
		/* com.koscom.coocon.dao.CooconMapper.delcooconAPIinfo */
		DELETE FROM COOCON_API_INFO
		WHERE
		CD_ORG = #{cd_org, jdbcType=VARCHAR}
		AND GUBUN = #{gubun, jdbcType=VARCHAR}
	</delete>

	<select id="duplcooconAPIFcInfo" parameterType="java.lang.String" resultType="int">
		/* com.koscom.coocon.dao.CooconMapper.duplcooconAPIFcInfo */
		SELECT
				COUNT(CD_FC)
		FROM COOCON_API_INFO
		WHERE
			CD_FC = #{cd_fc, jdbcType=VARCHAR}
	</select>

</mapper>

