/*   Main   */

@import "compass/css3"; 
@import "color";
@import "mixin";
@import "form";
@import "layout";
@import "header";
@import "event";



/*   Common   */

.owl-theme .owl-dots {
	text-align: center;
	margin-top: 10px;
    line-height: 0;
    font-size: 0;
	-webkit-tap-highlight-color: transparent;
    .owl-dot {
        display: inline-block;
        a {
            width: 6px;
            height: 6px;
            padding: 0;
            margin: 0 3px;
            background: #d7d4d0;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity 200ms ease;
            border-radius: 10px;
        }
        &.active a{
            background: $col1;
            width: 6px;
            height: 6px;
        }
    }
}


.top.main{
    line-height: 60px;
    ul{
        display: flex;
        margin-left: 22px;
        li{
            a{
                font-size: 16px;
                font-weight: 700;
                color: #aaa;
                display: block;
                padding-right: 20px;
                line-height: 60px;
            }
            &.on{
                a{
                    color: $col1;
                }
            }
        }
    }
}

.info-massage{
    font-size: 12px;
    color: #666;
    padding-left: 20px;
    background: url(../images/main/bu_ju.png) no-repeat left top / 16px;
    line-height: 17px;
}


//   Button   //

.btn-wrap{
    margin-top: 30px;
    a{
        display: block;
        width: 100%;
        line-height: 45px;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        border-radius: 45px;
        &.stroke{
            border: 1px solid $col2;
            color: $col2;
        }
        &.solid{
            background: $col2;
            color: #fff;
        }
    }
}


/*   My   */

.my-graph-wrap{
    text-align: center;
    .title{
        margin-top: 60px;
        font-size: 19px;
        font-weight: 700;
        color: #222;
    }
    .graph{
        margin-top: 40px;
        height: 95px;
        background: url(../images/main/graph_sample.png) no-repeat center / cover;
    }
    a{
        margin-top: 13px;
        font-size: 12px;
        color: $col2;
        background: url(../images/main/arrow_graph.png) no-repeat center right / 6px;
        padding-right: 10px;
        display: inline-block;
    }
    .info-wrap{
        display: flex;
        width: 100%;
        margin-top: 40px;
        div{
            width: 50%;
            text-align: center;
            @include box-sizing(border-box);
            &.left{
                border-right: 1px solid $lineColor;
            }
        }
        .key{
            font-size: 12px;
            color: $col2;
            font-weight: 700;
        }
        .value{
            color: #222;
            font-weight: 700;
            font-size: 26px;
            margin-top: 15px;
            em{
                font-size: 16px;
                color: inherit;
            }
        }
    }
} 

.my-main-list{
    margin-top: 50px;
    border-bottom: 1px solid $lineColor;
    .list{
        border-top: 1px solid $lineColor;
        padding: 25px 21px;
        .item{
            display: flex;
            width: 100%;
            .left{
                width: 70%;
                a{
                    color: $col2;
                    font-size: 12px;
                    background: url(../images/main/arrow_graph.png) no-repeat center right / 6px;
                    padding-right: 10px;
                }
                p{
                    color: #222;
                    font-weight: 700;
                    font-size: 24px;
                    margin-top: 15px;
                    em{
                        font-size: 12px;
                        color: inherit;
                        margin-left: 5px;
                    }
                }
            }
            .right{
                text-align: right;
                width: 30%;
                a{
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    border-radius: 100%;
                    text-indent: -9999px;
                    background: url(../images/main/btn_more.png) no-repeat center $col2;
                    background-size: 8px;
                }
                p{
                    margin-top: 20px;
                    font-size: 14px;
                    &.plus{
                        color: $col1;
                    }
                    &.minus{
                        color: $col4;
                    }
                    em{
                        font-size: 12px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.my-links{
   padding: 0 21px;
    margin-top: 40px;
    padding-bottom: 95px;
    .wrap{
        display: flex;
        margin-left: -8px;
        a{
            display: block;
            margin-left: 8px;
            width: calc((100% - 24px) / 3);
            border: 1px solid $lineColor;
            border-radius: 10px;
            padding-top: 50px;
            padding-left: 20px;
            padding-bottom: 20px;
            font-size: 14px;
            color: #666;
            line-height: 19px;
            &:nth-child(1){
                background: url(../images/main/ico1.png) no-repeat 20px 20px / 20px;
            }
             &:nth-child(2){
                background: url(../images/main/ico2.png) no-repeat 20px 20px / 17px;
            }
             &:nth-child(3){
                background: url(../images/main/ico3.png) no-repeat 20px 20px / 20px;
            }
        }   
    }
}



/*   신용   */

.credit-top{
    padding: 0 21px;
    .time{
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
        color: #888;
        &:before{
            display: inline-block;
            width: 10px;
            height: 10px;
            content: "";
            background: url(../images/main/credit_time.png) no-repeat center / contain;
            margin-right: 5px;
        } 
    }
    .wrap{
        display: flex; 
        padding: 25px 0;
        border: 1px solid $lineColor;
        border-radius: 10px;
        margin-top: 10px;
        .item{
            width: 33.3%;
            border-left: 1px solid $lineColor;
            text-align: center;
            @include box-sizing(border-box);
            &:first-child{
                border: none;
            }
            .key{
                font-size: 14px;
                color: $col2;
            }
            .value{
                font-size: 24px;
                color: #222;
                font-weight: 700;
                margin-top: 10px;
            }
            .plus{
                font-size: 12px;
                color: $col1;
                margin-top: 10px;
            }
            .minus{
                font-size: 12px;
                color: $col4;
                margin-top: 10px;
            }
        }
    }
    .link{
        margin-top: 30px;
        background: url(../images/main/btn_arrow.png) no-repeat right center #f0efed;
        background-size: 20px;
        padding: 15px 20px;
        border-radius: 10px;
        a{
            display: block;
            font-size: 12px;
            line-height: 17px;
            color: #666;
            em{
                font-size: 12px;
            }
        }
    }
}

.banner-wrap{
    margin-top: 30px;
    padding: 0 21px;
    @include box-sizing(border-box);
    .item{
        border: 1px solid $lineColor;
        border-radius: 10px;
        @include box-sizing(border-box);
        a{
            display: block;
            width: 100%;
            background: #fff;
            border-radius: 10px;
            .banner{
                display: table;
                padding: 20px 0;
                width: 100%;
                .left{
                    width: 72.1212%;
                    display: table-cell;
                    p{
                        padding-left: 20px;
                        &.key{
                            font-size: 12px;
                            color: $col1;
                        }
                        &.value{
                            color: #222;
                            font-size: 16px;
                            font-weight: 700;
                            margin-top: 10px;
                            line-height: 22px;
                        }
                    }
                }
                .right{
                    width: 27.8787;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    img{
                        width: 60px;
                    }
                }
            }
        }
    }
}

.credit-change{
    margin-top: 30px;
    padding: 0 21px;
    .top{
        display: flex;
        width: 100%;
        .title{
            font-size: 14px;
            font-weight: 700;
            color: #222;
            width: 50%;
        }
        .period{
            font-size: 12px;
            color: #888;
            text-align: right;
            width: 50%;
        }
    }
    .link{
        margin-top: 10px;
        background: url(../images/main/btn_arrow.png) no-repeat right center #f0efed;
        background-size: 20px;
        padding: 15px 20px;
        border-radius: 10px;
        a{
            display: block;
            font-size: 12px;
            line-height: 17px;
            color: #666;
            padding: 10px 20px;
            background: url("../images/main/ico_comment.png") no-repeat left center / 14px;
            em{
                font-size: 12px;
            }
        }
    }
}

.credit-status{
    margin-top: 50px;
    padding-bottom: 95px;
    .title{
        padding: 0 21px;
        font-size: 14px;
        color: #222;
        font-weight: 700;
    }
    .wrap{
        border-top: 1px solid $lineColor;
        border-bottom: 1px solid $lineColor;
        display: flex;
        padding: 0 21px 20px;
        margin-top: 10px;
        flex-wrap: wrap;
        a{
            display: block;
        }
        .item{
            width: 50%;
            text-align: center;
            padding-top: 36px;
            margin-top: 30px;
            .key{
                font-size: 10px;
                font-weight: 700;
                color: #333;
            }
            .value{
                font-size: 15px;
                font-weight: 700;
                margin-top: 5px;
                color: $col4;
                em{
                    font-size: 15px;
                    font-weight: 400;
                    padding-left: 2px;
                }
            }
            &:nth-child(1){
                background: url(../images/main/credit_ico1.png) no-repeat center 3px / 24px;
            }
            &:nth-child(2){
                background: url(../images/main/credit_ico2.png) no-repeat center 5px / 24px;
            }
            &:nth-child(3){
                background: url(../images/main/credit_ico3.png) no-repeat center top / 24px;
            }
            &:nth-child(4){
                background: url(../images/main/credit_ico4.png) no-repeat center top / 24px;
            }
        }
    }
}



/*   부채   */




.dept-top{
    padding: 0 21px;
    .wrap{
        border: 1px solid $lineColor;
        border-radius: 10px;
        padding: 20px 0;
        .balance{
            margin-top: 20px;
            text-align: center;
            .key{
                font-size: 14px;
                font-weight: 500;
                color: $col2;
            }
            .value{
                font-size: 24px;
                font-weight: 700;
                color: #222;
                margin-top: 10px;
                em{
                    font-size: 14px;
                    color: #222;
                }
            }
        }
        .graph{
            padding: 0 21px;
            margin-top: 20px;
        }
    }
}

.flex2{
    margin-left: -20px;
    display: flex;
    margin-top: 30px;
    padding: 0 21px;
}

.bar-graph{
    .item{
        width: calc((100% - 40px) / 2);
        margin-left: 20px;
        .key{
            font-size: 12px;
            font-weight: 500;
            color: $col2;
            em{
                font-size: 12px;
                font-weight: 300;
            }
        }
        .text-wrap{
            margin-top: 15px;
            display: flex;
            .big{
                font-size: 24px;
                font-weight: 700;
                color: #222;
                width: 50%;
                em{
                    font-size: 14px;
                    font-weight: 300;
                    color: #222;
                    padding-left: 3px;
                }
            }
            .small{
                padding-top: 9px;
                text-align: right;
                font-size: 12px;
                color: #888;
                em{
                    font-size: 12px;
                    color: #888;
                    padding-left: 5px;
                }
            }
        }
        .bar{
            position: relative;
            height: 5px;
            background: #ecebe8;
            border-radius: 5px;
            margin-top: 10px;
            p{
                position: absolute;
                height: 5px;
                background: #62c1d0;
                border-radius: 5px;
            }
        }
    }
}

.dept-list{
    background: #efeeec;
    padding: 21px;
    margin-top: 30px;
}

.list01{
    padding-bottom: 95px;
    .item{
        background: #fff;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        .top{
            display: flex;
            .symbol{
                width: 50%;
                line-height: 24px;
                height: 24px;
                margin-right: 8px;
                vertical-align: middle;
                font-size: 12px;
                font-weight: 700;
                img{
                    height: 100%;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
            .text{
                width: 45%;
                text-align: right;
                line-height: 24px;
                font-size: 12px;
                &.blue{
                    color: $col4;
                }
                &.red{
                    color: $col1;
                }
            }
            .circle{
                text-align: right;
                width: 5%;
                span{
                    display: inline-block;
                    line-height: 24px;
                    text-align: center;
                    border-radius: 20px;
                    color: #fff;
                    height: 12px;
                    width: 12px;
                    margin-top: 6px;
                    vertical-align: middle;
                    &.red{
                        background: #e95071;
                    }
                    &.orange{
                        background: #ef903c;
                    } 
                    &.green{
                        background: #89c11c;
                    } 
                    &.blue{
                        background: #6993f3;
                    } 
                    &.purple{
                        background: #bf65f3;
                    } 
                }
            }
        }
        .number-wrap{
            display: flex;
            margin-top: 15px;
            .left{
                width: 70%;
                .key{
                    color: $col2;
                    font-size: 12px;
                }
                .number{
                    font-size: 24px;
                    font-weight: 700;
                    color: #222;
                    em{
                        margin-left: 2px;
                        font-size: 12px;
                        color: #222;
                    }
                }
            }
            .right{
                width: 30%;
                .key{
                    color: $col2;
                    font-size: 12px;
                    text-align: right;
                }
                .number{
                    font-size: 14px;
                    color: #666;
                    text-align: right;
                    margin-top: 10px;
                    em{
                        font-size: 14px;
                        margin-left: 2px;
                    }
                }
            }
        }
        .bar{
            position: relative;
            height: 3px;
            background: #ecebe8;
            border-radius: 5px;
            margin-top: 10px;
            p{
                position: absolute;
                height: 3px;
                background: #62c1d0;
                border-radius: 5px;
            }
        }
        .text-wrap{
            display: flex;
            margin-top: 10px;
            .left{
                width: 50%;
                .key{
                    span{
                        font-size: 12px;
                        display: inline-block;
                        margin-left: 5px;
                        padding-left: 5px;
                        border-left: 1px solid $lineColor;
                        color: $col2;
                        &:first-child{
                            margin-left: 0;
                            padding-left: 0;
                            border-left: none;
                        }
                    }
                }
                .value{
                    margin-top: 5px;
                    span{
                        font-size: 14px;
                        color: #666;
                        margin-left: 5px;
                        padding-left: 5px;
                        border-left: 1px solid $lineColor;
                        &:first-child{
                            margin-left: 0;
                            padding-left: 0;
                            border-left: none;
                        }
                        em{
                            margin-left: 2px;
                            font-size: 14px;
                        }
                    }
                }
            }
            .right{
                width: 50%;
                .key{
                    text-align: right;
                    span{
                        font-size: 12px;
                        color: $col2;
                    }
                }
                .value{
                    margin-top: 5px;
                    text-align: right;
                    span{
                        font-size: 14px;
                        color: #666;
                        margin-left: 5px;
                        padding-left: 5px;
                        border-left: 1px solid $lineColor;
                        &:first-child{
                            margin-left: 0;
                            padding-left: 0;
                            border-left: none;
                        }
                        em{
                            margin-left: 2px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}



/*   지출   */

.spend-top{
    .date-wrap{
        margin-top: 25px;
        text-align: center;
        position: relative;
        p{
            padding: 0 20px;
            font-size: 20px;
            font-weight: 700;
            color: #222;
            display: inline-block;
        }
        button{
            display: inline-block;
            width: 14px;
            height: 14px;
            &.prev{
                background: url(../images/main/btn_date_prev.png) no-repeat center right / contain;
            }
            &.next{
                background: url(../images/main/btn_date_next.png) no-repeat center left / contain;
            }
        }
        .setting{
            width: 17px;
            height: 17px;
            position: absolute;
            right: 21px;
            top: 0;
            background: url(../images/main/ico_setting.png) no-repeat center / contain;
        }
    } 
    .wrap{
        display: flex;
        .item{
            width: 50%;
            margin-top: 40px;
            border-left: 1px solid $lineColor;
            @include box-sizing(border-box);
            &:first-child{
                border: none;
            }
            p{
                text-align: center;
                &.key{
                    font-size: 14px;
                    font-weight: 700;
                    color: $col2;
                    em{
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
                &.value{
                    font-size: 24px;
                    font-weight: 500;
                    color: #222;
                    margin-top: 10px;
                }
            }
        }
    }
}

.tab{
    border-top: 1px solid $lineColor;
    margin-top: 40px;
    .wrap{
        display: flex;
        a{
            line-height: 43px;
            border-bottom: 2px solid #fff;
            color: #a1a1a1;
            font-weight: 700;
            display:block;
            text-align: center;
            &.on{
                color: $col1;
                border-bottom: 2px solid $col1;
            }
        }
        &.col3{
            a{
                width: calc(100% / 3);
            }
        }
    }
}

.spend-list{
    background: #efeeec;
    padding: 0 21px 21px;
}

.list02{
    padding-bottom: 95px;
    .list-wrap{
        padding-top: 21px;
        .date{
            font-size: 12px;
            color: $col2;
        }
        .item{
            display: flex;
            background: #fff;
            border-radius: 10px;
            padding: 20px;
            margin-top: 10px;
            .left{
                width: 50%;
                .name{
                    font-size: 14px;
                    color: #333;
                }
                .cate{
                    margin-top: 10px;
                    span{
                        font-size: 12px;
                        line-height: 15px;
                        color: $col2;
                    }
                    img{
                        height: 15px;
                        margin-right: 8px;
                        vertical-align: middle;
                    }
                }
            }
            .right{
                width: 50%;
                text-align: right;
                .number{
                    font-size: 19px;
                    font-weight: 700;
                    color: #222;
                    display: inline-block;
                    vertical-align: middle;
                    &.red{
                        color: $col1;
                    }
                    &.blue{
                        color: $col4;
                    }
                    em{
                        font-size: 12px;
                        padding-left: 3px;
                        font-weight: 400;
                        color: #222;
                    }
                }
                .text{
                    font-size: 12px;
                    color: $col2;
                    margin-top: 10px;
                }
                .circle{
                    text-align: right;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 5px;
                    span{
                        display: inline-block;
                        line-height: 24px;
                        text-align: center;
                        border-radius: 20px;
                        color: #fff;
                        height: 12px;
                        width: 12px;
                        vertical-align: middle;
                        &.red{
                            background: #e95071;
                        }
                        &.orange{
                            background: #ef903c;
                        } 
                        &.green{
                            background: #89c11c;
                        } 
                        &.blue{
                            background: #6993f3;
                        } 
                        &.purple{
                            background: #bf65f3;
                        } 
                    }
                }
            }
        }
    }
    .btn-spend-add{
        width: 48px;
        height: 48px;
        position: fixed;
        bottom: 70px;
        right: 15px;
        background: url(../images/main/btn_floating.png) no-repeat center $col4;
        background-size: 18px;
        border-radius: 100%;
        box-shadow: 10px 10px 20px rgba(#000,.4);
    }
}



