<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.monitor.dao.MonitorMapper" >
	<!-- 푸시 목록-->
	<select id="getPushAD01Info"  parameterType="com.koscom.monitor.model.Ad01SegmentInfo" resultType="com.koscom.monitor.model.Ad01SegmentInfo">
		/* com.koscom.monitor.dao.MonitorMapper.getPushAD01Info : 변동 내역 조회 */
		SELECT  *
		  FROM CREDIT_CHANGE_INFO AI /* 신용변동내역 */
		 WHERE AI.NO_PERSON      = #{no_person             , jdbcType=VARCHAR}
		   AND AI.DT_INFO_CHANGE = #{dt_info_change        , jdbcType=VARCHAR}
	</select>
	<insert id="insertMonitorHist" parameterType="com.koscom.monitor.model.Ad01SegmentInfo">
		/* com.koscom.monitor.dao.MonitorMapper.insertMonitorHist : 변동 내역 등록 */
		INSERT INTO CREDIT_CHANGE_INFO
		(NO_PERSON,DT_INFO_CHANGE,HP,EMAIL,YN_CREDIT_INFO,YN_KFB_DEFAULT,
		YN_KCI_DEFAULT,YN_REF_INFO,YN_LOAN_INFO,YN_GUARANTEE_INFO,
		YN_FNCO_DISORDER_INFO,YN_PUBLIC_INFO,KCBDI,ID_FRT,DT_FRT
		) VALUES (
		  #{no_person             , jdbcType=VARCHAR}
		, #{dt_info_change        , jdbcType=VARCHAR}
		, #{hp                    , jdbcType=VARCHAR}
		, #{email                 , jdbcType=VARCHAR}
		, #{yn_credit_info        , jdbcType=VARCHAR}
		, #{yn_kfb_default        , jdbcType=VARCHAR}
		, #{yn_kci_default        , jdbcType=VARCHAR}
		, #{yn_ref_info           , jdbcType=VARCHAR}
		, #{yn_loan_info          , jdbcType=VARCHAR}
		, #{yn_guarantee_info     , jdbcType=VARCHAR}
		, #{yn_fnco_disorder_info , jdbcType=VARCHAR}
		, #{yn_public_info        , jdbcType=VARCHAR}
		, #{kcbdi                 , jdbcType=VARCHAR}
		, #{id_frt                , jdbcType=VARCHAR}
		, SYSDATE
		)
	</insert>
	<update id="updateMonitorHist" parameterType="com.koscom.monitor.model.Ad01SegmentInfo">
		/* com.koscom.monitor.dao.MonitorMapper.updateMonitorHist : 변동 내역 수정 */
		UPDATE CREDIT_CHANGE_INFO
		  SET HP                    = #{hp                    , jdbcType=VARCHAR}
		    , EMAIL                 = #{email                 , jdbcType=VARCHAR}
		    , YN_CREDIT_INFO        = #{yn_credit_info        , jdbcType=VARCHAR}
		    , YN_KFB_DEFAULT        = #{yn_kfb_default        , jdbcType=VARCHAR}
		    , YN_KCI_DEFAULT        = #{yn_kci_default        , jdbcType=VARCHAR}
		    , YN_REF_INFO           = #{yn_ref_info           , jdbcType=VARCHAR}
		    , YN_LOAN_INFO          = #{yn_loan_info          , jdbcType=VARCHAR}
		    , YN_GUARANTEE_INFO     = #{yn_guarantee_info     , jdbcType=VARCHAR}
		    , YN_FNCO_DISORDER_INFO = #{yn_fnco_disorder_info , jdbcType=VARCHAR}
		    , YN_PUBLIC_INFO        = #{yn_public_info        , jdbcType=VARCHAR}
		    , KCBDI                 = #{kcbdi                 , jdbcType=VARCHAR}
		    , ID_FRT                = #{id_frt                , jdbcType=VARCHAR}
		    , DT_FRT                = SYSDATE
		 WHERE NO_PERSON             = #{no_person             , jdbcType=VARCHAR}
		   AND DT_INFO_CHANGE        = #{dt_info_change        , jdbcType=VARCHAR}
	</update>
</mapper>