<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">설정</p>
        </div>
        
        <dl class="setting-wrap">
            <dt>보기</dt>
            <dd>
                <p class="key">달력</p>
                <p class="value checks round">
                    <input type="radio" id="rds1" name="RadioGroup1"><label for="rds1">월별</label>
                    <input type="radio" id="rds2" name="RadioGroup1"><label for="rds2">년별</label>
                </p>
            </dd>
            <dd class="bobtm">
                <p class="key">월별</p>
                <p class="value checks round">
                    <input type="radio" id="rds3" name="RadioGroup2"><label for="rds3">요약</label>
                    <input type="radio" id="rds4" name="RadioGroup2"><label for="rds4">상세</label>
                </p>
            </dd>
            <dd>
                <p class="key">모든 공유 정보 보기</p>
                <p class="value"><button class="btn-onoff"></button></p>
            </dd>
            <dd>
                <p class="key"><em class="red"></em>준수</p>
                <p class="value"><button class="btn-onoff"></button></p>
            </dd>
            <dd class="bobtm">
                <p class="key"><em class="orange"></em>현중</p>
                <p class="value"><button class="btn-onoff"></button></p>
            </dd>
            <dd>
                <p class="key">월 시작일 가계부 연동</p>
                <p class="value"><button class="btn-onoff"></button></p>
            </dd>
        </dl>
        
        <div class="btn-wrap float">
            <a href="#" class="solid blue box">저장하기</a>
        </div>
        
    </section>
	
</body>
</html>
