<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">지출상세</p>
        </div>
        
        <div class="container">
            <select>
                <option>카테고리별</option>
            </select>
            <div class="nobox-list">
                <p class="date">07.12</p>
                <div class="item">
                    <div class="flex">
                        <p><em class="circle red">준수</em>후이비인후과</p>
                        <p><em class="number">-5,340,000</em>원</p>
                    </div>
                    <div class="flex">
                        <p class="key"><img src="../../assets/images/common/bu_list_drug.png" width="15px"  class="mr5" alt=""/>의료건강</p>
                        <p class="key">삼성카드</p>
                    </div>
                </div>

                <p class="date">07.12</p>
                <div class="item">
                    <div class="flex">
                        <p><em class="circle blue">준수</em>푸르1806</p>
                        <p><em class="number">-5,340,000</em>원</p>
                    </div>
                    <div class="flex">
                        <p class="key"><img src="../../assets/images/common/bu_list_drug.png" width="15px"  class="mr5" alt=""/>의료건강</p>
                        <p class="key">삼성카드</p>
                    </div>
                </div>
                <div class="item">
                    <div class="flex">
                        <p><em class="circle orange">준수</em>푸르1806</p>
                        <p><em class="number">-5,340,000</em>원</p>
                    </div>
                    <div class="flex">
                        <p class="key"><img src="../../assets/images/common/bu_list_drug.png" width="15px"  class="mr5" alt=""/>의료건강</p>
                        <p class="key">삼성카드</p>
                    </div>
                </div>
                <div class="item">
                    <div class="flex">
                        <p><em class="circle green">준수</em>푸르1806</p>
                        <p><em class="number">-5,340,000</em>원</p>
                    </div>
                    <div class="flex">
                        <p class="key"><img src="../../assets/images/common/bu_list_drug.png" width="15px"  class="mr5" alt=""/>의료건강</p>
                        <p class="key">삼성카드</p>
                    </div>
                </div>
                <div class="item">
                    <div class="flex">
                        <p><em class="circle purple">준수</em>푸르1806</p>
                        <p><em class="number">-5,340,000</em>원</p>
                    </div>
                    <div class="flex">
                        <p class="key"><img src="../../assets/images/common/bu_list_drug.png" width="15px"  class="mr5" alt=""/>의료건강</p>
                        <p class="key">삼성카드</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
	
</body>
</html>
