<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">수입·지출 보고서</p>
        </div>
        
        <div class="report-top">
            <div class="checks round">
                <input type="radio" id="rds1" name="RadioGroup1"><label for="rds1">년</label>
                <input type="radio" id="rds2" name="RadioGroup1"><label for="rds2">월</label>
                <input type="radio" id="rds3" name="RadioGroup1"><label for="rds3">주</label>
            </div>
            <div class="date">
                <p>
                    <input type="text">
                    <button class="cal"></button>
                </p>
                <p>
                    <input type="text">
                    <button class="cal"></button>
                </p>
            </div>
			<div class="filter-wrap mt20">
                <div class="filter red">
                    <input type="checkbox" id="chk1"><label for="chk1">박준수</label>
                </div>
                <div class="filter orange">
                    <input type="checkbox" id="chk2"><label for="chk2">박준수</label>
                </div>
                <div class="filter green">
                    <input type="checkbox" id="chk3"><label for="chk3">박준수</label>
                </div>
                <div class="filter blue">
                    <input type="checkbox" id="chk4"><label for="chk4">박준수</label>
                </div>
                <div class="filter purple">
                    <input type="checkbox" id="chk5"><label for="chk5">박준수</label>
                </div>
            </div>
        </div>
        
        <div class="report-con">
            <div class="flex">
                <div>
                    <p class="key"><strong>수입</strong>(만원)</p>
                    <p class="value">4,350</p>
                </div>
                <div>
                    <p class="key"><strong>지출</strong>(만원)</p>
                    <p class="value">4,350</p>
                </div>
            </div>
            <div class="graph">
                <img src="../../assets/images/consume/graph2.png" alt=""/>
            </div>
        </div>
        
        <div class="tab">
            <div class="wrap">
                <a href="#" class="on">지출</a>
                <a href="#">수입</a>
            </div>
        </div>
        
        <div class="box-list list02 noMG">
            
            <div class="select pb20">
                 <select>
                    <option>카테고리별</option>
                </select>
                <select>
                    <option>금액순</option>
                </select>
             </div>
            
            <div class="item">
                <a href="#" class="block">
                    <div class="flex">
                        <p class="key"><img src="../../assets/images/common/bu_list_drug.png" width="15px"  class="mr5" alt=""/>식비 <em>(120건)</em></p>
                        <p class="number">118,107<em>원</em></p>
                    </div>
                    <div class="bar"><p style="width: 50%"></p></div>
                    <div class="flex">
                        <p>2%</p>
                        <p></p>
                    </div>
                </a>
            </div>
            
            <div class="item">
                <a href="#" class="block">
                    <div class="flex">
                        <p class="key"><img src="../../assets/images/common/bu_list_drug.png" width="15px"  class="mr5" alt=""/>식비 <em>(120건)</em></p>
                        <p class="number">118,107<em>원</em></p>
                    </div>
                    <div class="bar"><p style="width: 50%"></p></div>
                    <div class="flex">
                        <p>2%</p>
                        <p></p>
                    </div>
                </a>
            </div>
            
        </div>
        
        
        
    </section>
    
</body>
</html>

