<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">설정</p>
        </div>
        
        <div class="cert-check-wrap">
            <p class="title">회원정보</p>
            <select>
                <option>매월1일</option>
            </select>
        </div>
        
        <dl class="setting-wrap">
            <dt>지출</dt>
            <dd>
                <p class="key">지출예산설정</p>
                <p class="value"><a href="#">설정</a></p>
            </dd>
            <dd>
                <p class="key">카테고리설정</p>
                <p class="value"><a href="#">설정</a></p>
            </dd>
            <dd>
                <p class="key">할부개월수 분할</p>
                <p class="value"><button class="btn-onoff"></button></p>
            </dd>
            <dt>수입</dt>
            <dd>
                <p class="key">카테고리설정</p>
                <p class="value"><a href="#">설정</a></p>
            </dd>
        </dl>
    </section>
	
</body>
</html>
