<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.fincorp.dao.FincorpMapper">
<resultMap id="resultBlob" type="hashMap">
    <result column="img_bi" property="img_bi" jdbcType="BLOB" javaType="[B"></result>
</resultMap>
<!-- 상세정보 -->
<select id="getFincorpInfo" parameterType="com.koscom.domain.FincorpInfo" resultType="com.koscom.fincorp.model.FincorpVO">
	/* com.koscom.fincorp.dao.FincorpMapper.getFincorpInfo */
    SELECT CD_FC                /* 금융사코드             */
	      ,CD_FIN               /* 업권 코드              */
	      ,NO_BIZ_COMP          /* 사업자번호             */
	      ,NM_FC                /* 금융기관명             */
	      ,NM_CEO               /* 대표자명               */
	      ,YN_USE               /* 사용 여부              */
	      ,YN_ALLIANCE			/* 연계 여부              */
	      ,YN_SCRAP             /* 스크래핑 가능여부      */
	      ,CD_FC_COOCON         /* 쿠콘금융사코드         */
	      ,CD_ADDR_FC           /* 주소구분               */
	      ,POST_FC              /* 우편번호               */
	      ,ADDR1_FC             /* 주소1                  */
	      ,ADDR2_FC             /* 주소2                  */
	      ,TEL                  /* 전화번호               */
	      ,HOME_PAGE            /* 홈페이지               */
	      ,NM_BI                /* BI파일명               */
	      ,SIZE_BI              /* BI사이즈               */
	      ,NM_STAFF_CONTRACT    /* 계약 담당자 이름       */
	      ,HP_STAFF_CONTRACT    /* 계약 담당자 휴대폰번호 */
	      ,HOME_STAFF_CONTRACT  /* 계약 담당자 연락처     */
	      ,FAX_STAFF_CONTRACT   /* 계약 담당자 팩스번호   */
	      ,EMAIL_STAFF_CONTRACT /* 계약 담당자 이메일     */
	      ,NM_STAFF_ADJUST      /* 정산 담당자 이름       */
	      ,HP_STAFF_ADJUST      /* 정산 담당자 휴대폰번호 */
	      ,HOME_STAFF_ADJUST    /* 정산 담당자 연락처     */
	      ,FAX_STAFF_ADJUST     /* 정산 담당자 팩스번호   */
	      ,EMAIL_STAFF_ADJUST   /* 정산 담당자 이메일     */
	      ,NM_STAFF_GOODS       /* 상품 담당자 이름       */
	      ,HP_STAFF_GOODS       /* 상품 담당자 휴대폰번호 */
	      ,HOME_STAFF_GOODS     /* 상품 담당자 연락처     */
	      ,FAX_STAFF_GOODS      /* 상품 담당자 팩스번호   */
	      ,EMAIL_STAFF_GOODS    /* 상품 담당자 이메일     */
	      ,ID_EMP_GOODS         /* 상품관리자아이디       */
	      ,CL_SERVICE           /* 서비스 이용 약관       */
	      ,CL_PRIVATE           /* 개인신용정보 약관      */
	      ,NM_FILE AS NM_FILE1             /* 파일명                 */
	      ,PATH_FILE AS PATH_FILE1           /* 파일경로               */
	      ,ID_FRT               /* 최초입력아이디         */
	      ,DT_FRT               /* 최초입력시간           */
	      ,ID_LST               /* 최종수정아이디         */
	      ,DT_LST               /* 최종수정시간           */
	FROM fc_info
     <where>
     	<if test='@com.koscom.util.MybatisUtil@isNotEmpty(cd_fc)'>
			cd_fc = #{cd_fc}
		</if>
<!-- 	     	<if test='@com.koscom.util.MybatisUtil@isNotEmpty(cd_fin)'> -->
<!-- 				cd_fin = #{cd_fin} -->
<!-- 			</if> -->
<!-- 	     	<if test='@com.koscom.util.MybatisUtil@isNotEmpty(cd_goods)'> -->
<!-- 				AND cd_goods = #{cd_goods} -->
<!-- 			</if> -->
     </where>
</select>

<!-- 상세정보 -->
<select id="getFcInfo" parameterType="com.koscom.domain.FincorpInfo" resultType="String">
     SELECT cd_fc FROM fc_info
     <where>
     	<if test='@com.koscom.util.MybatisUtil@isNotEmpty(cd_fin)'>
			cd_fin = #{cd_fin}
		</if>
<!-- 	     	<if test='@com.koscom.util.MybatisUtil@isNotEmpty(cd_goods)'> -->
<!-- 				AND cd_goods = #{cd_goods} -->
<!-- 			</if> -->
     </where>
</select>

<!--  페이지카운트-->
<select id="listFincorpCount" parameterType="com.koscom.fincorp.model.FincorpForm" resultType="int">
		SELECT
               COUNT(*) AS recordCount
            FROM fc_info
        <include refid="listFincorpInfo_WHERE"/>
	</select>

<!--  전체조회-->
<select id="listFincorpInfo" parameterType="com.koscom.fincorp.model.FincorpForm" resultType="com.koscom.fincorp.model.FincorpVO">
	SELECT
        *
    FROM
        (SELECT
            LST.*,
            ROWNUM RNUM
         FROM
            (SELECT
                 *
             FROM fc_info
			 <include refid="listFincorpInfo_WHERE"/>
             ) LST
        WHERE ROWNUM <![CDATA[<=]]> #{endPosition, jdbcType=NUMERIC}
        )
    WHERE RNUM >= #{startPosition, jdbcType=NUMERIC}
</select>

<!--  금융사 전문에 사용 전체조회-->
<select id="listFincorpEdocInfo" parameterType="com.koscom.fincorp.model.FincorpForm" resultType="com.koscom.fincorp.model.FincorpVO">
	SELECT  * FROM fc_info
		WHERE 1=1
		AND	yn_use = 'Y'
	</select>

	<!--  페이지카운트-->
	<select id="getFileCount" parameterType="java.lang.String" resultType="int">
		SELECT
		COUNT(*) AS recordCount
		FROM fc_info
		WHERE NM_FILE = #{path_file1}
	</select>
	<!--  조건문-->
	<sql id="listFincorpInfo_WHERE">
		<where>
			<!-- 상세검색 -->
			<if test="@com.koscom.util.MybatisUtil@isNotEmpty(sel_detail)">
				 AND ${sel_detail} LIKE '%'||#{txt_detail}||'%'
			</if>
			<!--  금융기관업권-->
	     	<if test='@com.koscom.util.MybatisUtil@isNotEmpty(cd_fin)'>
				AND cd_fin = #{cd_fin, jdbcType=VARCHAR}
			</if>
			<if test='@com.koscom.util.MybatisUtil@isNotEmpty(cd_fc)'>
				AND cd_fc = #{cd_fc, jdbcType=VARCHAR}
			</if>
			<!-- 일자구분 -->
			<if test="@com.koscom.util.MybatisUtil@isNotEmpty(sel_dt_kind)">
				<choose>
					<when test="@com.koscom.util.MybatisUtil@contains('dt_',sel_dt_kind)">
						<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_from)">
							AND TO_CHAR(dt_frt,'yyyyMMdd') <![CDATA[>=]]> #{txt_dt_from}
						</if>
						<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_to)">
							AND TO_CHAR(dt_frt,'yyyyMMdd') <![CDATA[<=]]> #{txt_dt_to}
						</if>
					</when>
					<otherwise>
						<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_from)">
							AND dt_frt <![CDATA[>=]]> #{txt_dt_from}
						</if>
						<if test="@com.koscom.util.MybatisUtil@isNotEmpty(txt_dt_to)">
							AND dt_frt <![CDATA[<=]]> #{txt_dt_to}
						</if>
					</otherwise>
				</choose>
			</if>
		</where>
	</sql>


	<select id="listCodeFincorp" parameterType="com.koscom.fincorp.model.FincorpVO" resultType="com.koscom.fincorp.model.FincorpVO">
		SELECT CD_FC
	          ,NM_FC
	          ,YN_USE
	      FROM FC_INFO
	     WHERE 1=1
	    <if test="@com.koscom.util.MybatisUtil@isNotEmpty(yn_alliance)">
			<if test='"Y".equals(yn_alliance)'>
					AND YN_USE = 'Y'
			</if>
			<if test='"N".equals(yn_alliance)'>
					AND YN_USE = 'Y' 
					AND (YN_SCRAP = 'Y' 
					     OR YN_ALLIANCE = 'Y')
			</if>
		</if>
	    ORDER BY NM_FC
	</select>
	<select id="getImgBi" parameterType="com.koscom.fincorp.model.FincorpVO" resultMap="resultBlob">
		SELECT img_bi
	     FROM fc_info
	    WHERE PATH_FILE = #{path_file1}
	      AND IMG_BI IS NOT NULL
	</select>

	<insert id="createFincorp" parameterType="com.koscom.fincorp.model.FincorpVO" useGeneratedKeys="true" keyProperty="cdFc">
		<selectKey keyProperty="cdFc" resultType="string" order="BEFORE">
			(SELECT '20'||LPAD(NVL(SUBSTR(MAX(TRIM(A.CD_FC)),3,5),0)+1,5,'0') FROM FC_INFO A WHERE A.CD_FC LIKE '20%')
		</selectKey>
		INSERT INTO fc_info
			(
				cd_fc
				,cd_fc_coocon
				,cd_fin
				,no_biz_comp
				,nm_fc
				,nm_ceo
				,yn_use
				,yn_alliance
				,yn_scrap
				,cd_addr_fc
				,post_fc
				,addr1_fc
				,addr2_fc
				,tel
				,home_page
				 <if test="@com.koscom.util.MybatisUtil@isNotEmpty(path_file1)">
				,path_file
				,img_bi
				,nm_file
				</if>
				,id_frt
				,dt_frt
				, id_lst
				, dt_lst
				) VALUES (
				 <if test="@com.koscom.util.MybatisUtil@isNotEmpty(cd_fc)">
					  #{cd_fc, jdbcType=VARCHAR}
				</if>
				 <if test="@com.koscom.util.MybatisUtil@isEmpty(cd_fc)">
					  #{cdFc}
				</if>
					 ,#{cd_fc_coocon, jdbcType=VARCHAR}
					 ,#{cd_fin, jdbcType=VARCHAR}
					 ,#{no_biz_comp, jdbcType=VARCHAR}
					 ,#{nm_fc, jdbcType=VARCHAR}
					 ,#{nm_ceo, jdbcType=VARCHAR}
					 ,#{yn_use, jdbcType=VARCHAR}
					 ,#{yn_alliance, jdbcType=VARCHAR}
					 ,#{yn_scrap, jdbcType=VARCHAR}
					 ,#{cd_addr_fc, jdbcType=VARCHAR}
					 ,#{post_fc, jdbcType=VARCHAR}
					 ,#{addr1_fc, jdbcType=VARCHAR}
					 ,#{addr2_fc, jdbcType=VARCHAR}
					 ,#{tel, jdbcType=VARCHAR}
					 ,#{home_page, jdbcType=VARCHAR}
					  <if test="@com.koscom.util.MybatisUtil@isNotEmpty(path_file1)">
					 ,#{path_file1, jdbcType=VARCHAR}
					 ,#{img_bi, jdbcType=BLOB}
					 ,#{nm_file1, jdbcType=VARCHAR}
					 </if>
					, #{id_frt, jdbcType=VARCHAR}
					, SYSDATE
					, #{id_frt, jdbcType=VARCHAR}
					, SYSDATE
				)
	</insert>



	<update id="regFcImg" parameterType="com.koscom.fincorp.model.FincorpVO">
         UPDATE fc_info fi
         SET    path_file = #{path_file1}
               ,img_bi     = #{img_bi, jdbcType=BLOB}
			   ,id_lst     = #{id_lst, jdbcType=VARCHAR}
			   ,dt_lst     = SYSDATE
          WHERE nm_fc = #{nm_fc}
    </update>
	<update id="procFincorpInfo" parameterType="com.koscom.fincorp.model.FincorpVO">
		 UPDATE fc_info
	       SET
	         cd_fc_coocon = #{cd_fc_coocon, jdbcType=VARCHAR}
	       	 ,cd_fin = #{cd_fin, jdbcType=VARCHAR}
			 ,no_biz_comp = #{no_biz_comp, jdbcType=VARCHAR}
			 ,nm_fc = #{nm_fc, jdbcType=VARCHAR}
			 ,nm_ceo = #{nm_ceo, jdbcType=VARCHAR}
	         ,yn_use = #{yn_use, jdbcType=VARCHAR}
	         ,yn_alliance = #{yn_alliance, jdbcType=VARCHAR}
	         ,yn_scrap = #{yn_scrap, jdbcType=VARCHAR}
	         ,cd_addr_fc = #{cd_addr_fc, jdbcType=VARCHAR}
	         ,post_fc = #{post_fc, jdbcType=VARCHAR}
	         ,addr1_fc = #{addr1_fc, jdbcType=VARCHAR}
	         ,addr2_fc = #{addr2_fc, jdbcType=VARCHAR}
	         ,tel = #{tel, jdbcType=VARCHAR}
	         ,home_page = #{home_page, jdbcType=VARCHAR}
	         ,nm_staff_contract = #{nm_staff_contract, jdbcType=VARCHAR}
	         ,hp_staff_contract = #{hp_staff_contract, jdbcType=VARCHAR}
	         ,home_staff_contract = #{home_staff_contract, jdbcType=VARCHAR}
	         ,fax_staff_contract = #{fax_staff_contract, jdbcType=VARCHAR}
	         ,email_staff_contract = #{email_staff_contract, jdbcType=VARCHAR}
	         ,nm_staff_adjust = #{nm_staff_adjust, jdbcType=VARCHAR}
	         ,hp_staff_adjust = #{hp_staff_adjust, jdbcType=VARCHAR}
	         ,home_staff_adjust = #{home_staff_adjust, jdbcType=VARCHAR}
	         ,fax_staff_adjust = #{fax_staff_adjust, jdbcType=VARCHAR}
	         ,email_staff_adjust = #{email_staff_adjust, jdbcType=VARCHAR}
	         ,id_emp_goods = #{id_emp_goods, jdbcType=VARCHAR}
	         ,nm_staff_goods = #{nm_staff_goods, jdbcType=VARCHAR}
	         ,hp_staff_goods = #{hp_staff_goods, jdbcType=VARCHAR}
	         ,home_staff_goods = #{home_staff_goods, jdbcType=VARCHAR}
	         ,fax_staff_goods = #{fax_staff_goods, jdbcType=VARCHAR}
	         ,email_staff_goods = #{email_staff_goods, jdbcType=VARCHAR}
	         ,cl_service = #{cl_service, jdbcType=VARCHAR}
	         ,cl_private = #{cl_private, jdbcType=VARCHAR}
			  <if test="@com.koscom.util.MybatisUtil@isNotEmpty(path_file1)">
		     ,img_bi = #{img_bi, jdbcType=BLOB}
		     , path_file = #{path_file1, jdbcType=VARCHAR}
		     , nm_file = #{nm_file1, jdbcType=VARCHAR}
			 ,id_lst = #{id_lst, jdbcType=VARCHAR}
			 ,dt_lst = SYSDATE
			 </if>
		     WHERE CD_FC = #{cd_fc}
	</update>

	<delete id="delFincorpInfo" parameterType="com.koscom.fincorp.model.FincorpVO">
		DELETE from fc_info
		WHERE cd_fc = #{cd_fc, jdbcType=VARCHAR}
	</delete>
	<!-- JSTL -->
	<select id="getNmFc" parameterType="String" resultType="String">
		SELECT nm_fc FROM fc_info
		where cd_fc = #{cd_fc}
	</select>

	<!--자동완성  -->
	<select id="listWorkerInfoJson" parameterType="com.koscom.worker.model.WorkerForm" resultType="com.koscom.worker.model.WorkerVO">
		SELECT '[' || ID_EMP || '][' || NM_FC|| '][' || NM_EMP  || '][' || HP || '][' || EXT_EMP_DIRECT || ']' AS CD_FC FROM WORKER_INFO
		WHERE 1=1
		AND (ID_EMP LIKE '%' || #{txt_detail} || '%'
			OR NM_EMP LIKE '%' || #{txt_detail} || '%'
			OR HP LIKE '%' || #{txt_detail} || '%'
			OR NM_FC LIKE '%' || #{txt_detail} )
		AND CD_FC = #{cd_fc}
		<!-- ORDER BY CD_FC ASC -->
	</select>

	<!--금융기관명 자동완성  -->
	<select id="listNmfcInfoJson" parameterType="com.koscom.worker.model.WorkerForm" resultType="com.koscom.fincorp.model.FincorpVO">
		SELECT	'[' || KOR_CO_NM || '][' || FIN_CO_NO|| ']' AS NM_FC
		FROM	FSS_COMPANY_PRODUCT
		WHERE	KOR_CO_NM LIKE '%' || #{txt_detail} || '%'
		<!-- ORDER BY CD_FC ASC -->
	</select>

	<select id="getFcCnt" parameterType="com.koscom.fincorp.model.FincorpVO" resultType="int">
	     SELECT count(*) FROM FC_info
	     WHERE CD_FC = #{cd_fc}
	     AND NM_FC = #{nm_fc}
	</select>

	 <select id="getFcPathFile" parameterType="String" resultType="String">
 		SELECT PATH_FILE
		  FROM FC_INFO
 		WHERE CD_FC = #{cd_fc, jdbcType=VARCHAR}
 	</select>

 	<select id="listFincorpfcNminfo" parameterType="com.koscom.fincorp.model.FincorpfcNminfoForm" resultType="com.koscom.fincorp.model.FincorpfcNminfoVO">
 		SELECT  CD_FC
				,SEQ
				,NM_FC AS NM_NM_FC
				,YN_USE AS NM_YN_USE
		FROM FC_NM_INFO
		WHERE CD_FC = #{cd_fc, jdbcType=VARCHAR}
		ORDER BY SEQ
 	</select>

 	<update id="createFincorpfcNminfo" parameterType="com.koscom.fincorp.model.FincorpfcNminfoForm">
 	    /* com.koscom.fincorp.dao.FincorpMapper.createFincorpfcNminfo */
		MERGE INTO FC_NM_INFO
		  USING DUAL
		  ON (		CD_FC = #{cd_fc, jdbcType=VARCHAR}
		  		AND NM_FC = #{nm_nm_fc, jdbcType=VARCHAR}
		  	 )
			WHEN MATCHED THEN
		     UPDATE
			    SET ID_LST	= #{id_lst,	jdbcType=VARCHAR}
				   ,DT_LST	= SYSDATE
			WHEN NOT MATCHED THEN
			INSERT
			(
				 CD_FC
				,SEQ
				,NM_FC
				,YN_USE
				,ID_FRT
				,DT_FRT
				,ID_LST
				,DT_LST
			)
			VALUES(
				 #{cd_fc, jdbcType=VARCHAR}
				<if test="cd_fc == '9999999'">
				,SEQ_FC_NM.NEXTVAL
				</if>
				<if test="cd_fc != '9999999'">
				,(SELECT NVL(MAX(SEQ)+1,1) FROM FC_NM_INFO WHERE CD_FC = #{cd_fc, jdbcType=VARCHAR})
				</if>
				,#{nm_nm_fc, jdbcType=VARCHAR}
				,#{nm_yn_use, jdbcType=VARCHAR}
				,#{id_frt, jdbcType=VARCHAR}
				,SYSDATE
				,#{id_lst, jdbcType=VARCHAR}
				,SYSDATE
			)

 	</update>

 	<update id="updFincorpfcNminfo" parameterType="com.koscom.fincorp.model.FincorpfcNminfoForm">
 		UPDATE FC_NM_INFO
		SET
			NM_FC = #{nm_nm_fc, jdbcType=VARCHAR}
			,YN_USE = #{nm_yn_use, jdbcType=VARCHAR}
		    , ID_LST = #{id_lst, jdbcType=VARCHAR}
		    , DT_LST = SYSDATE
		WHERE
		1=1
		AND CD_FC = #{cd_fc, jdbcType=VARCHAR}
		AND SEQ = #{seq, jdbcType=VARCHAR}
 	</update>

 	<delete id="delFincorpfcNminfo" parameterType="com.koscom.fincorp.model.FincorpfcNminfoForm">
 		DELETE FROM FC_NM_INFO
		WHERE
		1=1
		AND CD_FC = #{cd_fc, jdbcType=VARCHAR}
		AND SEQ = #{seq, jdbcType=VARCHAR}
 	</delete>
    <select id="tempQuery" parameterType="com.koscom.fincorp.model.FincorpVO" resultType="com.koscom.util.Entity">
        ${query}
    </select>

    <select id="chkCdfc" parameterType="com.koscom.fincorp.model.FincorpVO" resultType="int">
    	SELECT COUNT(*) FROM FC_INFO WHERE CD_FC = #{cd_fc, jdbcType=VARCHAR}
    	<if test="@com.koscom.util.MybatisUtil@isNotEmpty(nm_fc)">
    	 OR NM_FC = #{nm_fc, jdbcType=VARCHAR}
    	</if>
    </select>

    <update id="updateYnScrap" parameterType="com.koscom.fincorp.model.FincorpVO">
 		UPDATE FC_INFO
		SET
			YN_SCRAP = #{yn_scrap, jdbcType=VARCHAR}
		    , ID_LST = #{id_lst, jdbcType=VARCHAR}
		    , DT_LST = SYSDATE
		WHERE CD_FC = #{cd_fc, jdbcType=VARCHAR}
 	</update>
 	
 	 <!--  스크랩핑 대상 은행사의 쿠콘 은행사 코드 -->
 	<select id="getCooconFcCd" parameterType="String" resultType="String">
 		SELECT CD.NM_CODE
		FROM COMM_CD CD, FC_INFO FC
		WHERE CD.CODE_GROUP = 'cd_coocon_fc'
			AND FC.CD_FIN = #{type_fc, jdbcType=VARCHAR}
      		AND CD.YN_USE = 'Y' AND FC.YN_SCRAP = 'Y'
      		AND CD.CODE_VALUE = FC.CD_FC
 	</select>
</mapper>

