/* ---------------------------------------------------------------------- */
/*  BLUE-STYLE
/* ---------------------------------------------------------------------- */

/* ---------------------------- /
	table
/ ---------------------------- */
.table.table-bordered{border: 1px solid #9C9C9C;}
.table.table-bordered > thead > tr > th{background-color:#dbdee4;border: 1px solid #C0C0C0;color:#333;text-align:center;
	background: -moz-linear-gradient(top, #F1F1F2 0%, #dbdee4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1F1F2), color-stop(100%,#dbdee4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F1F1F2 0%,#dbdee4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F1F1F2 0%,#dbdee4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F1F1F2 0%,#dbdee4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F1F1F2 0%,#dbdee4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F2', endColorstr='#dbdee4',GradientType=0 ); /* IE6-9 */
	}
/* ---------------------------- /
	button
/ ---------------------------- */
.btn-default {
	color: #585858;
	background-color: #FFFFFF;
	border-color: #CBCBCB;
	}
.btn-default:hover, 
.btn-default:focus, 
.btn-default.focus, 
.btn-default:active, 
.btn-default.active, 
.open > .dropdown-toggle.btn-default {
	color: #fff;
	background-color: #47ADE2;
	border-color: #47ADE2;
	}

.btn-primary {
	background-color: #6C6C6C;
	border-color: #fff;
	}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary.active, 
.open > .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
	}

.bootstrap-select .btn-primary,
.bootstrap-select .btn-primary:hover, 
.bootstrap-select .btn-primary:focus, 
.bootstrap-select .btn-primary.focus, 
.bootstrap-select .btn-primary:active, 
.bootstrap-select .btn-primary.active, 
.bootstrap-select.open > .dropdown-toggle.btn-primary {
	background-color: #FFFFFF;
	border-color: #3889CF;
	}
.btn-default .glyphicon,
.btn-primary .glyphicon,
.btn-success .glyphicon,
.btn-info .glyphicon,
.btn-warning .glyphicon,
.btn-danger .glyphicon{color: #919191;}
.btn-primary .glyphicon{color:#fff;}

/* ---------------------------- /
	color-bar
/ ---------------------------- */
.navbar-default.color-bar{
	border-bottom:1px solid #CCCCCC;
	background-color:#f4f4f4;
	background: -moz-linear-gradient(top, #ffffff 0%, #e3e5ea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e3e5ea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e3e5ea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e3e5ea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e3e5ea 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e3e5ea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e5ea',GradientType=0 ); /* IE6-9 */
	box-shadow:0 1px 5px rgba(0,0,0,.2);
	}
.navbar-default.color-bar .navbar-nav > li > a{color: #000;}
.navbar-default.color-bar .caret{color:#C0C0C0;}

/* ---------------------------- /
	nav-pills, nav-progress
/ ---------------------------- */
.nav-pills{background:#868686;}
.login-btn{background:#777;}
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a .glyphicon,
.nav-progress > li.active > a .glyphicon,
.nav-progress > li.active > a, 
.nav-progress > li.active > a:hover, 
.nav-progress > li.active > a:focus {
	color: #337ab7 !important;
	}
.nav-pills > li > a:hover, 
.nav-pills > li > a:focus {
	background-color: #256993 !important;
	}

/* ---------------------------- /
	nav-tabs
/ ---------------------------- */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus{
	color: #EA6358;
	}

/* ---------------------------- /
	main
/ ---------------------------- */
.btn-tel-stat.primary{background-color:#428bca;}
.mbnr li a .ico{
	background-color:#777;
	background:linear-gradient(30deg,#777 0%,#999 100%);
	}
.mbnr li a .glyphicon{
	text-shadow: 
	#666 1px 1px,#666 2px 2px,#666 3px 3px,#666 4px 4px,#666 5px 5px,
	#666 6px 6px,#666 7px 7px,#666 8px 8px,#666 9px 9px,#666 10px 10px,
	#666 11px 11px,#666 12px 12px,#666 13px 13px,#666 14px 14px,#666 15px 15px,
	#666 16px 16px,#666 17px 17px,#666 18px 18px,#666 19px 19px,#666 20px 20px,
	#666 21px 21px,#666 22px 22px,#666 23px 23px,#666 24px 24px,#666 25px 25px,
	#666 26px 26px,#666 27px 27px,#666 28px 28px,#666 29px 29px,#666 30px 30px;
	}
.mbnr li a:hover{
	background-color:#2578e9;
	background:linear-gradient(30deg,#2578e9 0%,#3fe7d9 100%);
	}
.mbnr li a:hover .ico{
	background-color:#3fe7d9;
	background:linear-gradient(30deg,#3fe7d9 0%,#2578e9 100%);
}

/* ---------------------------- /
	switcher
/ ---------------------------- */
#switcher.btn.circle .glyphicon{color:#428bca;}
#switcher.btn.circle.on .glyphicon{color:#fff;}
#switcher.btn.circle.on{background:#428bca;}

/* ---------------------------- /
	popup
/ ---------------------------- */
.modal-header{border-color:#BEBEBE;}
.panel-primary.panel-field > .panel-heading{
	background: -webkit-linear-gradient(top, #707070 0%,#3F3F3F 100%);
	background:linear-gradient(to bottom, #707070 0%,#3F3F3F 100%);
	}
.panel-primary.panel-field,
.panel-primary.panel-field > .panel-heading{border-color:#3F3F3F;}