<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">정보공유 요청</p>
        </div>
        
        <div class="container">
            <div class="info-share">
                <p class="title">공유를 요청할 사용자를 선택하세요</p>
                <p class="text">하루동안 응답이 없으면 자동으로 취소 됩니다</p>
                <div class="input-wrap">
                    <input type="text">
                    <a href="#"></a>
                </div>
                
            </div>
        </div>
        
        <div class="box-list noMG list02">
            <div class="item pb10">
                <div class="checks">
                    <p class="title">정보 제공 항목</p>
                    <div class="small">
                        <p><input type="checkbox" id="chk1"><label for="chk1">신용등급</label></p>
                        <p><input type="checkbox" id="chk2"><label for="chk2">대출개설 및 잔고 현황</label></p>
                    </div>
                </div>
            </div>
            <div class="item pb10">
                <div class="checks">
                    <p class="title">정보 통합 관리 항목</p>
                    <div class="small">
                        <p><input type="checkbox" id="chk4"><label for="chk4">자산</label></p>
                        <p><input type="checkbox" id="chk5"><label for="chk5">소비</label></p>
                        <p><input type="checkbox" id="chk6"><label for="chk6">부채</label></p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="btn-wrap float">
                <a href="#" class="solid blue box">공유요청</a>
        </div>
    
    </section>
	
</body>
</html>
