<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">신용정보 제공항목</p>
        </div>
        
        <div class="con-top share-top">
            <p>홍길동님<em>에게 요청한 항목입니다.</em></p>
            <div class="request">
                <ul>
                    <li>
                        <em class="key">요청일</em>
                        <em>2018.08.19</em>
                    </li>
                    <li>
                        <em class="key">허용일</em>
                        <em>-</em>
                    </li>
                    <li>
                        <em class="key">상태</em>
                        <em class="state">대기중</em>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="box-list noMG list02 pb90">
            <p class="header">통합관리용 정보 항목</p>
            <div class="item">
                <div class="flex">
                    <p class="corp big">신용등급(연체정보 포함)</p>
                    <p><button class="btn-onoff on"></button></p>
                </div>
            </div>
            <div class="item">
                <div class="flex">
                    <p class="corp big">대출정보</p>
                    <p><button class="btn-onoff on"></button></p>
                </div>
                <div class="checks">
                    <div class="small">
                        <p><input type="checkbox" id="chk1"><label for="chk1">신한은행 (잔액 : 21,120,000)</label></p>
                        <p><input type="checkbox" id="chk2"><label for="chk2">카카오뱅크 (잔액 : 5,000,000)</label></p>
                        <p><input type="checkbox" id="chk3"><label for="chk3">국민은행 (잔액 : 1,000,000)</label></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="flex">
                    <p class="corp big">자산정보 (계좌번호)</p>
                    <p><button class="btn-onoff on"></button></p>
                </div>
                <div class="checks">
                    <div class="small">
                        <p><input type="checkbox" id="chk4"><label for="chk4">신한은행 (110-353-009212)</label></p>
                        <p><input type="checkbox" id="chk5"><label for="chk5">대우증권 (1234-****-****-1021)</label></p>
                        <p><input type="checkbox" id="chk6"><label for="chk6">부동산 (경기 고양시 덕양구 ***)</label></p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="btn-wrap float">
                <a href="#" class="solid blue box">요청 취소</a>
        </div>
    
    </section>
	
</body>
</html>
