<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.fccode.dao.FcCodeMapper">
	<select id="selectCdFc" parameterType="String" resultType="String">
		SELECT NVL(B.CD_FC, A.CD_FC) AS CD_FC 
		  FROM FC_INFO A LEFT OUTER JOIN FC_NM_INFO B
		       ON A.CD_FC = B.CD_FC
		 WHERE (B.NM_FC = REGEXP_REPLACE(#{nm_fc, jdbcType=VARCHAR}, '( ){1,}', '') OR A.NM_FC = REGEXP_REPLACE(#{nm_fc, jdbcType=VARCHAR}, '( ){1,}', ''))  
		   AND B.YN_USE = 'Y' 
		   AND ROWNUM = 1
	</select>
</mapper>
