<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">뉴스</p>
        </div>
        
        <div class="container">
            <div class="search">
                <div class="left checks search-check">
                    <input type="checkbox" id="chk1"><label for="chk1">수입</label>
                    <input type="checkbox" id="chk2"><label for="chk2">대출</label>
                    <input type="checkbox" id="chk3"><label for="chk3">상품</label>
                    <input type="checkbox" id="chk4"><label for="chk4">신용</label>
                </div>
                <div class="right">
                    <select>
                        <option>최신날짜</option>
                        <option>많이 본 뉴스</option>
                    </select>
                </div>
            </div>
            <div class="board-list">
                <div class="list">
                    <div class="left">
                        <p class="title"><a href="#"><b>2%대 주택대출 확인…은행별 아파트 담보 대출 금리 비교 최저금리 활용 2%대 주택대출 확인…은행별 아파트 담보 대출 금리 비교 최저금리 활용</b></a></p>
                        <div class="sub">
                            <p>한경</p>
                            <p>5/29</p>
                        </div>
                    </div>
                    <div class="right">
                        <img src="../../assets/images/common/news_dummy.png" alt=""/>
                    </div>
                </div>
                <div class="list">
                    <div class="left">
                        <p class="title"><a href="#">2%대 주택대출 확인…은행별 아파트 담보 대출 금리 비교 최저금리 활용 2%대 주택대출 확인…은행별 아파트 담보 대출 금리 비교 최저금리 활용</a></p>
                        <div class="sub">
                            <p>한경</p>
                            <p>5/29</p>
                        </div>
                    </div>
                    <div class="right">
                        <img src="../../assets/images/common/news_dummy.png" alt=""/>
                    </div>
                </div>
                <div class="list">
                    <div class="left">
                        <p class="title"><a href="#">2%대 주택대출 확인…은행별 아파트 담보 대출 금리 비교 최저금리 활용 2%대 주택대출 확인…은행별 아파트 담보 대출 금리 비교 최저금리 활용</a></p>
                        <div class="sub">
                            <p>한경</p>
                            <p>5/29</p>
                        </div>
                    </div>
                    <div class="right">
                        <img src="../../assets/images/common/news_dummy.png" alt=""/>
                    </div>
                </div>
                <div class="list">
                    <div class="left">
                        <p class="title"><a href="#">2%대 주택대출 확인…은행별 아파트 담보 대출 금리 비교 최저금리 활용 2%대 주택대출 확인…은행별 아파트 담보 대출 금리 비교 최저금리 활용</a></p>
                        <div class="sub">
                            <p>한경</p>
                            <p>5/29</p>
                        </div>
                    </div>
                    <div class="right">
                        <img src="../../assets/images/common/news_dummy.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
	
</body>
</html>
