<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.loan.dao.LoanMapper">
	<insert id="insertLoanInfo" >
		/* com.koscom.loan.dao.LoanMapper.insertLoanInfo*/
<!-- 		<selectKey keyProperty="no_bunch" resultType="string" order="BEFORE"> -->
<!-- 			(SELECT NVL(MAX(cast(no_bunch As Int)),0) + 1 FROM tx_fc_transmit) -->
<!-- 		</selectKey> -->
		<selectKey keyProperty="no_bunch" resultType="string" order="BEFORE">
			(SELECT LPAD(NVL(TX_FC_TRANSMIT_SEQUENCE.NEXTVAL,0),20,'0') FROM DUAL)
		</selectKey>
		INSERT INTO TX_FC_TRANSMIT
			(   NO_BUNCH
              , NM_PERSON
              , SSN_PERSON
              , NO_PERSON
              , HP1
              , YMD_BIRTH
              , KCB_DI
              , ID_FRT
              , DT_FRT
              , ID_LST
              , DT_LST
			) VALUES (
				  #{no_bunch              , jdbcType=VARCHAR}
				, #{nm_person			  , jdbcType=VARCHAR}
				, XX1.ENC_VARCHAR2_INS(#{ssn_person, jdbcType=VARCHAR}, '11', 'FS_ARIA', 'TX_FC_TRANSMIT', 'SSN_PERSON')
				, #{no_person			  , jdbcType=VARCHAR}
				, #{hp1			  		  , jdbcType=VARCHAR}
				, #{ymd_birth			  , jdbcType=VARCHAR}
				, #{kcb_di			  	  , jdbcType=VARCHAR}
				, #{id_frt			  	  , jdbcType=VARCHAR}
				, SYSDATE
				, #{id_frt			  	  , jdbcType=VARCHAR}
				, SYSDATE
			)
	</insert>
	
	<insert id="insertLoanGoodsInfo" >
		/* com.koscom.loan.dao.LoanMapper.insertLoanGoodsInfo*/
        /* com.koscom.finance.dao.FinanceMapper.insertTxFcGoods : */
        INSERT INTO TX_FC_GOODS /* 신청 상품정보 */
	        (
	            NO_BUNCH /* 순번           */
	           ,CD_GOODS /* 상품코드       */
	           ,ID_FRT   /* 최초입력아이디 */
	           ,DT_FRT   /* 최초입력시간   */
	        )
	        VALUES
	        (
	             #{no_bunch, jdbcType=VARCHAR}/* 순번           */
	            ,#{cd_goods, jdbcType=VARCHAR}/* 상품코드       */
	            ,#{id_frt  , jdbcType=VARCHAR}/* 등록자ID      */
	            ,SYSDATE      /* 등록일시       */
	        )
	</insert>
	
	<update id="modifyLoanAdditional">
		/* com.koscom.loan.dao.LoanMapper.modifyLoanAdditional*/
		UPDATE TX_FC_TRANSMIT
		SET
		   CD_LOAN_USE 			= #{cd_loan_use, jdbcType=VARCHAR}
		  , CD_HOUSE_TYPE 		= #{cd_house_type, jdbcType=VARCHAR}
		  , CD_LIVE_TYPE_HOME 	= #{cd_live_type_home, jdbcType=VARCHAR}
		  , ID_LST              = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST              = SYSDATE
		WHERE NO_BUNCH = #{no_bunch, jdbcType=VARCHAR}
	</update>
	
	<update id="modifyLoanInfo" >
		/* com.koscom.loan.dao.LoanMapper.modifyLoanInfo*/
		UPDATE TX_FC_TRANSMIT
		SET
		    nm_comp 				= #{nm_comp, jdbcType=VARCHAR}
		  , no_biz_comp 			= #{no_biz_comp, jdbcType=VARCHAR}
		  , cd_loan_term 			= #{cd_loan_term, jdbcType=VARCHAR}
		  , cd_job_class_l 			= #{cd_job_class_l, jdbcType=VARCHAR}
		  , jb_dt_join 				= #{jb_dt_join, jdbcType=VARCHAR}
		  , cd_employee_type 		= #{cd_employee_type, jdbcType=VARCHAR}
		  , jb_tp_mediinsure 		= #{jb_tp_mediinsure, jdbcType=VARCHAR}
		  , jb_tp_comppriv 			= #{jb_tp_comppriv, jdbcType=VARCHAR}
		  , jb_tp_listing 			= #{jb_tp_listing, jdbcType=VARCHAR}
		  , jb_tp_eprmdy 			= #{jb_tp_eprmdy, jdbcType=VARCHAR}
		  , jb_tp_compsize 			= #{jb_tp_compsize, jdbcType=VARCHAR}
		  , jb_tp_etlipc 			= #{jb_tp_etlipc, jdbcType=VARCHAR}
		  , jb_tp_compchulja 		= #{jb_tp_compchulja, jdbcType=VARCHAR}
		  , cd_duty_comp 			= #{cd_duty_comp, jdbcType=VARCHAR}
		  , amt_year_income 		= #{amt_year_income, jdbcType=NUMERIC}
		  , ID_LST                  = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST                  = SYSDATE
		WHERE NO_BUNCH = #{no_bunch, jdbcType=VARCHAR}
	</update>
	
	<update id="modifyLoanForNoFcReq">
		/* com.koscom.loan.dao.LoanMapper.modifyLoanForNoFcReq*/
		UPDATE TX_FC_TRANSMIT
		SET
		   no_fc_req 	= #{no_fc_req, jdbcType=VARCHAR}
		    , ID_LST = #{id_lst, jdbcType=VARCHAR}
		    , DT_LST = SYSDATE
		WHERE NO_BUNCH = #{no_bunch, jdbcType=VARCHAR}
	</update>
	
	<update id="modifyLoanREConditionInfo" >
		/* com.koscom.loan.dao.LoanMapper.modifyLoanREConditionInfo*/
		UPDATE tx_fc_transmit
		SET
		   yn_loan_already 			= #{yn_loan_already, jdbcType=VARCHAR}
		  , yn_user_end 			= #{yn_user_end, jdbcType=VARCHAR}
		  , ID_LST                  = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST                  = SYSDATE
		WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
	</update>
	
	<update id="modifyLoanREHomeInfo" >
		/* com.koscom.loan.dao.LoanMapper.modifyLoanREHomeInfo*/
		<![CDATA[
		UPDATE tx_fc_transmit
		SET
		   cd_house_type 				= #{cd_house_type, jdbcType=VARCHAR}
		  , region_1 					= #{region_1, jdbcType=VARCHAR}
		  , region_2 					= #{region_2, jdbcType=VARCHAR}
		  , region_3 					= #{region_3, jdbcType=VARCHAR}
		  , security_addr 				= #{security_addr, jdbcType=VARCHAR}
	 	  , security_exclusive_area 	= REPLACE(#{security_exclusive_area, jdbcType=VARCHAR} ,'&sup2;','²')
		  , security_floor 				= #{security_floor, jdbcType=VARCHAR}
		  , ID_LST                  = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST                  = SYSDATE
		WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
		]]>
	</update>

	<insert id="insertLoanGoodsChoice" >
		/* com.koscom.loan.dao.LoanMapper.insertLoanGoodsChoice*/
		INSERT INTO COOCON_GOODS_FAVORITE_INFO
			(
				 NO_PERSON
				, CD_FC
				, CD_NON_GOODS
				, YN_ALLIANCE
				, CD_GOODS_CLASS_L
				, CD_GOODS_CLASS_M
				, ID_FRT
				, DT_FRT
				, ID_LST
				, DT_LST
			) VALUES (
				  #{no_person			, jdbcType=VARCHAR}
				, #{cd_fc			    , jdbcType=VARCHAR}
				, #{cd_non_goods		, jdbcType=VARCHAR}
				, #{yn_alliance		    , jdbcType=VARCHAR}
				, #{cd_goods_class_l	, jdbcType=VARCHAR}
				, #{cd_goods_class_m	, jdbcType=VARCHAR}
				, #{no_person			, jdbcType=VARCHAR}
     			, SYSDATE
				, #{no_person			, jdbcType=VARCHAR}
     			, SYSDATE
			)
	</insert>

	<delete id="deleteLoanGoodsChoice" parameterType="com.koscom.domain.CooconGoodsFavoriteInfo">
		/* com.koscom.loan.dao.LoanMapper.deleteLoanGoodsChoice*/
		DELETE FROM COOCON_GOODS_FAVORITE_INFO
		WHERE NO_PERSON = #{no_person, jdbcType=VARCHAR}
		AND CD_FC = #{cd_fc, jdbcType=VARCHAR}
		AND CD_NON_GOODS = #{cd_non_goods, jdbcType=VARCHAR}
	</delete>
	
	<select id="getTxFcTransmitInfoForMsg" parameterType="java.lang.String" resultType="com.koscom.finance.model.TxFcTransmitVO">
		/* com.koscom.loan.dao.LoanMapper.getTxFcTransmitInfoForMsg*/
		SELECT
			NO_BUNCH,
			DT_SEND,
			CD_ONOFF,
			XX1.DEC_VARCHAR2_SEL(SSN_PERSON, '10','FS_ARIA','TX_FC_TRANSMIT','SSN_PERSON') AS SSN_PERSON,
			NM_PERSON,
			CD_GOODS,
			CD_LOAN_USE,
			AMT_WANTED,
			CD_SEX,
			EMAIL,
			PH1_HOME,
			PH2_HOME,
			PH3_HOME,
			CD_LIVE_AREA,
			POST_HOME,
			ADDR1_HOME,
			ADDR2_HOME,
			NO_MANAGE_HOME,
			HP1,
			HP2,
			HP3,
			CD_MARRY,
			YMD_BIRTH,
			YN_DUALWORK,
			YMD_HOUSE_HOME,
			CNT_HOUSE_HOME,
			CD_HOUSE_TYPE,
			CD_LIVE_TYPE_HOME,
			AMT_RENT_MONTHLY_HOME,
			AMT_YEAR_INCOME,
			CD_DUTY_COMP,
			NM_COMP,
			YMD_START_COMP,
			JOB_TERM_MONTH,
			CD_JOB_COMP,
			CD_EMPLOYEE_TYPE,
			CD_JOB_PROOF,
			CD_INCOME_PROOF,
			CD_HP_CO,
			CD_ARMY,
			CD_JOB_CLASS_L,
			CD_JOB_CLASS_M,
			CD_JOB_CLASS_S,
			NO_BIZ_COMP,
			NO_COMP_SEQ,
			KCB_DI,
			CD_CERTIFY_PERSON,
			NO_FC_REQ,
			PH1_COMP,
			PH2_COMP,
			PH3_COMP,
			ETC_FIELD1,
			CD_LOAN_TERM,
			NM_FC,
			YMD_START_BIZ,
			AMT_YEAR_INCOME_BIZ,
			CD_MEDI_INSU_COMP,
			YN_4INSU,
			ID_FRT,
			DT_FRT,
			ID_LST,
			DT_LST,
			CD_CAR_MAKER_COMP,
			CD_CAR_MODEL,
			CD_CAR_MODEL2,
			DT_CAR_PURCHASE,
			CAR_NO,
			CD_CAR_OWN,
			CD_CAR,
			CD_CAR_USE,
			CD_CAR_TRANSMISSION,
			YN_CAR_SEIZURE,
			YN_CAR_WET,
			AMT_CAR_SELF_INSURED,
			YN_CAR_INSU,
			YN_CAR_DIRECT_IMPORT,
			NO_ELAPSED_YEAR,
			NO_CAR_DISTANCE_DRIVEN,
			REGION_1,
			REGION_2,
			REGION_3,
			BUILDING_NO,
			ROOM_NO,
			SECURITY_ADDR,
			SECURITY_FLOOR,
			SECURITY_EXCLUSIVE_AREA,
			JB_DT_JOIN,
			JB_TP_COMPPRIV,
			JB_TP_LISTING,
			JB_TP_EPRMDY,
			JB_TP_COMPSIZE,
			JB_TP_ETLIPC,
			JB_TP_COMPCHULJA,
			JB_TP_MEDIINSURE,
			CD_LOAN_MOUNT,
			CD_TYPE_PAY,
			AMT_YEAR_SALE,
			YN_LOAN_MOUNT,
			LOAN_CODE,
			YN_LOAN_ALREADY,
			YN_USER_END,
			NO_PERSON
		FROM TX_FC_TRANSMIT
		 WHERE NO_BUNCH = #{no_bunch, jdbcType=VARCHAR}
	</select>
</mapper>