<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.oppf.dao.OppfMapper">
	<select id="listStockEquitylistInfo" parameterType="com.koscom.oppf.model.StockEquityForm" resultType="com.koscom.domain.StockEquitylistInfo">
		SELECT * FROM STOCK_EQUITYLIST
		WHERE no_person = #{no_person, jdbcType=VARCHAR}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>
	<select id="listStockEtclistInfo" parameterType="com.koscom.oppf.model.StockEtcForm" resultType="com.koscom.domain.StockEtclistInfo">
		SELECT * FROM STOCK_ETCLIST
		WHERE no_person = #{no_person}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>
	<select id="listStockFundlistInfo" parameterType="com.koscom.oppf.model.StockFundForm" resultType="com.koscom.domain.StockFundlistInfo">
		SELECT * FROM STOCK_FUNDLIST
		WHERE no_person = #{no_person}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>
	<select id="listStockListInfo" parameterType="com.koscom.oppf.model.StockForm" resultType="com.koscom.domain.StockListInfo">
		SELECT * FROM STOCK_LIST
		WHERE no_person = #{no_person}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>
	<select id="listStockSummaryInfo" parameterType="com.koscom.oppf.model.StockSummaryForm" resultType="com.koscom.domain.StockSummaryInfo">
		SELECT * FROM STOCK_SUMMARY
		WHERE no_person = #{no_person}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>
	<select id="listStockTransactionInfo" parameterType="com.koscom.oppf.model.StockTransactionForm" resultType="com.koscom.domain.StockTransactionInfo">
		SELECT * FROM STOCK_TRANSACTION
		WHERE no_person = #{no_person}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>
	<select id="getStockEquitylistInfo" parameterType="com.koscom.oppf.model.StockEquityForm" resultType="com.koscom.domain.StockEquitylistInfo">
		SELECT * FROM STOCK_EQUITYLIST
		WHERE no_person = #{no_person}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>
	<select id="getStockEtclistInfo" parameterType="com.koscom.oppf.model.StockEtcForm" resultType="com.koscom.domain.StockEtclistInfo">
		SELECT * FROM STOCK_ETCLIST
		WHERE no_person = #{no_person}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>
	<select id="getStockFundlistInfo" parameterType="com.koscom.oppf.model.StockFundForm" resultType="com.koscom.domain.StockFundlistInfo">
		SELECT * FROM STOCK_FUNDLIST
		WHERE no_person = #{no_person}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>
	<select id="getStockListInfo" parameterType="com.koscom.oppf.model.StockForm" resultType="com.koscom.domain.StockListInfo">
		SELECT * FROM STOCK_LIST
		WHERE no_person = #{no_person}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>
	<select id="getStockSummaryInfo" parameterType="com.koscom.oppf.model.StockSummaryForm" resultType="com.koscom.domain.StockSummaryInfo">
		SELECT * FROM STOCK_SUMMARY
		WHERE no_person = #{no_person}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>
	<select id="getStockTransactionInfo" parameterType="com.koscom.oppf.model.StockTransactionForm" resultType="com.koscom.domain.StockTransactionInfo">
		SELECT * FROM STOCK_TRANSACTION
		WHERE no_person = #{no_person}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>
	<update id="procStockEquitylistInfo" parameterType="com.koscom.domain.StockEquitylistInfo">
		MERGE INTO STOCK_EQUITYLIST
			USING DUAL
			ON (no_person = #{no_person} AND accno = #{accno}  AND secuno = #{secuno})
			WHEN MATCHED THEN
			UPDATE SET
			  	assettype   	= #{assettype, jdbcType=VARCHAR}
				, earningrate 	= #{earningrate, jdbcType=NUMERIC}
				, isincode    	= #{isincode, jdbcType=VARCHAR}
				, proloss     	= #{proloss, jdbcType=NUMERIC}
				, qty         	= #{qty, jdbcType=NUMERIC}
				, valatcur    	= #{valatcur, jdbcType=NUMERIC}
				, valattrade  	= #{valattrade, jdbcType=NUMERIC}
				, tradetype   	= #{tradetype, jdbcType=VARCHAR}
				, id_lst  		= #{id_lst, jdbcType=VARCHAR}
				, dt_lst  		= SYSDATE
			WHEN NOT MATCHED THEN
			INSERT (
				  no_person
				, accno
				, secuno
				, assettype
				, earningrate
				, isincode
				, proloss
				, qty
				, valatcur
				, valattrade
				, tradetype
				, id_frt
				, dt_frt
				, id_lst
				, dt_lst
			)
			VALUES(
				  #{no_person, jdbcType=VARCHAR}
				, #{accno, jdbcType=VARCHAR}
				, #{secuno, jdbcType=VARCHAR}
				, #{assettype, jdbcType=VARCHAR}
				, #{earningrate, jdbcType=NUMERIC}
				, #{isincode, jdbcType=VARCHAR}
				, #{proloss, jdbcType=NUMERIC}
				, #{qty, jdbcType=NUMERIC}
				, #{valatcur, jdbcType=NUMERIC}
				, #{valattrade, jdbcType=NUMERIC}
				, #{tradetype, jdbcType=VARCHAR}
				, #{id_frt, jdbcType=VARCHAR}
				,  SYSDATE
				, #{id_frt, jdbcType=VARCHAR}
				,  SYSDATE
			)
	</update>
	<update id="procStockEtclistInfo" parameterType="com.koscom.domain.StockEtclistInfo">
		MERGE INTO STOCK_ETCLIST
			USING DUAL
			ON (no_person = #{no_person} AND accno = #{accno}  AND secuno = #{secuno})
			WHEN MATCHED THEN
			UPDATE SET
				  assetname = #{assetname, jdbcType=VARCHAR}
				, assettype = #{assettype, jdbcType=VARCHAR}
				, earningrate = #{earningrate, jdbcType=NUMERIC}
				, qty = #{qty, jdbcType=NUMERIC}
				, valattrade = #{valattrade, jdbcType=NUMERIC}
				, valueatcur = #{valueatcur, jdbcType=NUMERIC}
				, isincode = #{isincode, jdbcType=VARCHAR}
				, tradetype = #{tradetype, jdbcType=VARCHAR}
				, id_lst = #{id_lst, jdbcType=VARCHAR}
				, dt_lst = SYSDATE
			WHEN NOT MATCHED THEN
			INSERT (
				 no_person
				, accno
				, secuno
				, assetname
				, assettype
				, earningrate
				, qty
				, valattrade
				, valueatcur
				, isincode
				, tradetype
				, id_frt
				, dt_frt
				, id_lst
				, dt_lst
			)
			VALUES(
				  #{no_person, jdbcType=VARCHAR}
				, #{accno, jdbcType=VARCHAR}
				, #{secuno, jdbcType=VARCHAR}
				, #{assetname, jdbcType=VARCHAR}
				, #{assettype, jdbcType=VARCHAR}
				, #{earningrate, jdbcType=NUMERIC}
				, #{qty, jdbcType=NUMERIC}
				, #{valattrade, jdbcType=NUMERIC}
				, #{valueatcur, jdbcType=NUMERIC}
				, #{isincode, jdbcType=VARCHAR}
				, #{tradetype, jdbcType=VARCHAR}
				, #{id_frt, jdbcType=VARCHAR}
				,  SYSDATE
				, #{id_frt, jdbcType=VARCHAR}
				,  SYSDATE
			)
	</update>
	<update id="procStockFundlistInfo" parameterType="com.koscom.domain.StockFundlistInfo">
		MERGE INTO STOCK_FUNDLIST
			USING DUAL
			ON (no_person = #{no_person} AND accno = #{accno}  AND secuno = #{secuno})
			WHEN MATCHED THEN
			UPDATE SET
				  earningrate = #{earningrate, jdbcType=NUMERIC}
				, firstdatebuy = #{firstdatebuy, jdbcType=VARCHAR}
				, fundcode = #{fundcode, jdbcType=VARCHAR}
				, fundname = #{fundname, jdbcType=VARCHAR}
				, lastdatebuy = #{lastdatebuy, jdbcType=VARCHAR}
				, maturity = #{maturity, jdbcType=VARCHAR}
				, proloss = #{proloss, jdbcType=NUMERIC}
				, qty = #{qty, jdbcType=NUMERIC}
				, valatcur = #{valatcur, jdbcType=NUMERIC}
				, valattrade = #{valattrade, jdbcType=NUMERIC}
				, id_lst = #{id_lst, jdbcType=VARCHAR}
				, dt_lst = SYSDATE
			WHEN NOT MATCHED THEN
			INSERT (
				  no_person
				, accno
				, secuno
				, earningrate
				, firstdatebuy
				, fundcode
				, fundname
				, lastdatebuy
				, maturity
				, proloss
				, qty
				, valatcur
				, valattrade
				, id_frt
				, dt_frt
				, id_lst
				, dt_lst
			)
			VALUES(
				  #{no_person, jdbcType=VARCHAR}
				, #{accno, jdbcType=VARCHAR}
				, #{secuno, jdbcType=VARCHAR}
				, #{earningrate, jdbcType=NUMERIC}
				, #{firstdatebuy, jdbcType=VARCHAR}
				, #{fundcode, jdbcType=VARCHAR}
				, #{fundname, jdbcType=VARCHAR}
				, #{lastdatebuy, jdbcType=VARCHAR}
				, #{maturity, jdbcType=VARCHAR}
				, #{proloss, jdbcType=NUMERIC}
				, #{qty, jdbcType=NUMERIC}
				, #{valatcur, jdbcType=NUMERIC}
				, #{valattrade, jdbcType=NUMERIC}
				, #{id_frt, jdbcType=VARCHAR}
				,  SYSDATE
				, #{id_frt, jdbcType=VARCHAR}
				,  SYSDATE
			)
	</update>
	<update id="procStockListInfo" parameterType="com.koscom.domain.StockListInfo">
		MERGE INTO STOCK_LIST
			USING DUAL
			ON (no_person = #{no_person}  AND dt = #{dt} AND accno = #{accno}  AND secuno = #{secuno})
			WHEN MATCHED THEN
			UPDATE SET
				 id_lst = #{id_lst, jdbcType=VARCHAR}
				, dt_lst = SYSDATE
				, secunm = #{secunm, jdbcType=VARCHAR}
			WHEN NOT MATCHED THEN
			INSERT (no_person, dt, accno, secuno, secunm, id_frt, dt_frt, id_lst, dt_lst)
			VALUES(
				  #{no_person, jdbcType=VARCHAR}
				, #{dt, jdbcType=VARCHAR}
				, #{accno, jdbcType=VARCHAR}
				, #{secuno, jdbcType=VARCHAR}
				, #{secunm, jdbcType=VARCHAR}
				, #{id_frt, jdbcType=VARCHAR}
				,  SYSDATE
				, #{id_frt, jdbcType=VARCHAR}
				,  SYSDATE
			)
	</update>
	<update id="procStockSummaryInfo" parameterType="com.koscom.domain.StockSummaryInfo">
		MERGE INTO STOCK_SUMMARY
			USING DUAL
			ON (no_person = #{no_person} AND accno = #{accno}  AND secuno = #{secuno})
			WHEN MATCHED THEN
			UPDATE SET
				  cashavwithdraw = #{cashavwithdraw, jdbcType=NUMERIC}
				, cashbalance = #{cashbalance, jdbcType=NUMERIC}
				, d1 = #{d1, jdbcType=NUMERIC}
				, d2 = #{d2, jdbcType=NUMERIC}
				, loancredit = #{loancredit, jdbcType=NUMERIC}
				, proloss = #{proloss, jdbcType=NUMERIC}
				, receivable = #{receivable, jdbcType=NUMERIC}
				, subsmargin = #{subsmargin, jdbcType=NUMERIC}
				, substitute = #{substitute, jdbcType=NUMERIC}
				, totalaccval = #{totalaccval, jdbcType=NUMERIC}
				, valattrade = #{valattrade, jdbcType=NUMERIC}
				, valueatcur = #{valueatcur, jdbcType=NUMERIC}
				, id_lst = #{id_lst, jdbcType=VARCHAR}
				, dt_lst = SYSDATE
			WHEN NOT MATCHED THEN
			INSERT (
				 no_person
				, accno
				, secuno
				, cashavwithdraw
				, cashbalance
				, d1
				, d2
				, loancredit
				, proloss
				, receivable
				, subsmargin
				, substitute
				, totalaccval
				, valattrade
				, valueatcur
				, id_frt
				, dt_frt
				, id_lst
				, dt_lst
			)
			VALUES(
			  #{no_person, jdbcType=VARCHAR}
			, #{accno, jdbcType=VARCHAR}
			, #{secuno, jdbcType=VARCHAR}
			, #{cashavwithdraw, jdbcType=NUMERIC}
			, #{cashbalance, jdbcType=NUMERIC}
			, #{d1, jdbcType=NUMERIC}
			, #{d2, jdbcType=NUMERIC}
			, #{loancredit, jdbcType=NUMERIC}
			, #{proloss, jdbcType=NUMERIC}
			, #{receivable, jdbcType=NUMERIC}
			, #{subsmargin, jdbcType=NUMERIC}
			, #{substitute, jdbcType=NUMERIC}
			, #{totalaccval, jdbcType=NUMERIC}
			, #{valattrade, jdbcType=NUMERIC}
			, #{valueatcur, jdbcType=NUMERIC}
			, #{id_frt, jdbcType=VARCHAR}
			,  SYSDATE
			, #{id_frt, jdbcType=VARCHAR}
			,  SYSDATE
			)
	</update>
	<update id="procStockTransactionInfo" parameterType="com.koscom.domain.StockTransactionInfo">
		MERGE INTO STOCK_TRANSACTION
			USING DUAL
			ON (no_person = #{no_person} AND accno = #{accno}  AND secuno = #{secuno})
			WHEN MATCHED THEN
			UPDATE SET
				  changeamt = #{changeamt, jdbcType=NUMERIC}
				, changeqty = #{changeqty, jdbcType=NUMERIC}
				, isincode = #{isincode, jdbcType=VARCHAR}
				, qty = #{qty, jdbcType=NUMERIC}
				, transdate = #{transdate, jdbcType=VARCHAR}
				, transtype = #{transtype, jdbcType=VARCHAR}
				, id_lst = #{id_lst, jdbcType=VARCHAR}
				, dt_lst = SYSDATE
			WHEN NOT MATCHED THEN
			INSERT (
				 no_person
				, accno
				, secuno
				, changeamt
				, changeqty
				, isincode
				, qty
				, transdate
				, transtype
				, id_frt
				, dt_frt
				, id_lst
				, dt_lst
			)
			VALUES(
				 #{no_person, jdbcType=VARCHAR}
				, #{accno, jdbcType=VARCHAR}
				, #{secuno, jdbcType=VARCHAR}
				, #{changeamt, jdbcType=NUMERIC}
				, #{changeqty, jdbcType=NUMERIC}
				, #{isincode, jdbcType=VARCHAR}
				, #{qty, jdbcType=NUMERIC}
				, #{transdate, jdbcType=VARCHAR}
				, #{transtype, jdbcType=VARCHAR}
				, #{id_frt, jdbcType=VARCHAR}
				,  SYSDATE
				, #{id_frt, jdbcType=VARCHAR}
				,  SYSDATE
			)
	</update>
	<delete id="delStockEquitylistInfo" parameterType="com.koscom.domain.StockEquitylistInfo">
		DELETE from STOCK_EQUITYLIST
		WHERE no_person = #{no_person}
		AND accno = #{accno}
		AND secuno = #{secuno}
	</delete>
	<delete id="delStockEtclistInfo" parameterType="com.koscom.domain.StockEtclistInfo">
		DELETE from STOCK_ETCLIST
		WHERE no_person = #{no_person}
		AND accno = #{accno}
		AND secuno = #{secuno}
	</delete>
	<delete id="delStockFundlistInfo" parameterType="com.koscom.domain.StockFundlistInfo">
		DELETE from STOCK_FUNDLIST
		WHERE no_person = #{no_person}
		AND accno = #{accno}
		AND secuno = #{secuno}
	</delete>
	<delete id="delStockListInfo" parameterType="com.koscom.domain.StockListInfo">
		DELETE from STOCK_LIST
		WHERE no_person = #{no_person}
		AND dt = #{dt}
		AND accno = #{accno}
		AND secuno = #{secuno}
	</delete>
	<delete id="delStockSummaryInfo" parameterType="com.koscom.domain.StockSummaryInfo">
		DELETE from STOCK_SUMMARY
		WHERE no_person = #{no_person}
		AND accno = #{accno}
		AND secuno = #{secuno}
	</delete>
	<delete id="delStockTransactionInfo" parameterType="com.koscom.domain.StockTransactionInfo">
		DELETE from STOCK_TRANSACTION
		WHERE no_person = #{no_person}
		AND accno = #{accno}
		AND secuno = #{secuno}
	</delete>

	<select id="listAssetsStock" parameterType="com.koscom.oppf.model.StockEquityForm" resultType="com.koscom.oppf.model.StockEquityVO">
		SELECT
	        *
	    FROM
	        (SELECT
	            LST.*,
	            ROWNUM RNUM
	         FROM
	            (
		SELECT SE.NO_PERSON
			 , SE.ACCNO
			 , SE.SECUNO
			 , SE.ASSETTYPE
			 , SE.EARNINGRATE
			 , SE.ISINCODE
			 , SE.PROLOSS
			 , SE.QTY
			 , SE.VALATCUR
			 , SE.VALATTRADE
			 , SE.TRADETYPE
			 , SE.ID_FRT
			 , SE.DT_FRT
			 , SE.ID_LST
			 , SE.DT_LST
			 , (SE.VALATCUR - SE.VALATTRADE) AS SUMREVENUE
			 , ((SE.VALATCUR - SE.VALATTRADE) / NULLIF(SE.VALATTRADE,0) * 100 ) AS RTO_REVENUE
			 , SL.SECUNM
		  FROM STOCK_EQUITYLIST SE INNER JOIN STOCK_LIST SL ON SE.NO_PERSON = SL.NO_PERSON AND SE.SECUNO = SL.SECUNO AND TO_CHAR( NULLIF(SE.DT_LST, SE.DT_FRT), 'YYYYMMDD' ) = TO_CHAR(SL.DT, 'YYYYMMDD')
		WHERE SE.NO_PERSON = #{no_person, jdbcType=VARCHAR}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND SE.ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SE.SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
		) LST
	        WHERE ROWNUM <![CDATA[<=]]> #{endPosition, jdbcType=NUMERIC}
	        )
	    WHERE RNUM >= #{startPosition, jdbcType=NUMERIC}
	</select>

	<select id="listAssetsStockCount" parameterType="com.koscom.oppf.model.StockEquityForm" resultType="int">
		SELECT COUNT(*)
		  FROM STOCK_EQUITYLIST SE INNER JOIN STOCK_LIST SL ON SE.NO_PERSON = SL.NO_PERSON AND SE.SECUNO = SL.SECUNO AND TO_CHAR( NULLIF(SE.DT_LST, SE.DT_FRT), 'YYYYMMDD' ) = TO_CHAR(SL.DT, 'YYYYMMDD')
		WHERE SE.NO_PERSON = #{no_person, jdbcType=VARCHAR}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND SE.ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SE.SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>

	<select id="listAssetsEtc" parameterType="com.koscom.oppf.model.StockEtcForm" resultType="com.koscom.oppf.model.StockEtcVO">
		SELECT
	        *
	    FROM
	        (SELECT
	            LST.*,
	            ROWNUM RNUM
	         FROM
	            (
		SELECT SE.NO_PERSON
			 , SE.ACCNO
			 , SE.SECUNO
			 , SE.ASSETNAME
			 , SE.ASSETTYPE
			 , SE.EARNINGRATE
			 , SE.QTY
			 , SE.VALATTRADE
			 , SE.VALUEATCUR
			 , SE.ISINCODE
			 , SE.TRADETYPE
			 , SE.ID_FRT
			 , SE.DT_FRT
			 , SE.ID_LST
			 , SE.DT_LST
			 , (SE.VALUEATCUR - SE.VALATTRADE) AS SUMREVENUE
			 , ((SE.VALUEATCUR - SE.VALATTRADE) / NULLIF(SE.VALATTRADE,0) * 100 ) AS RTO_REVENUE
			 , SL.SECUNM
		  FROM STOCK_ETCLIST SE INNER JOIN STOCK_LIST SL ON SE.NO_PERSON = SL.NO_PERSON AND SE.SECUNO = SL.SECUNO AND TO_CHAR( NULLIF(SE.DT_LST, SE.DT_FRT), 'YYYYMMDD' ) = TO_CHAR(SL.DT, 'YYYYMMDD')
		WHERE SE.NO_PERSON = #{no_person, jdbcType=VARCHAR}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND SE.ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SE.SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
		) LST
	        WHERE ROWNUM <![CDATA[<=]]> #{endPosition, jdbcType=NUMERIC}
	        )
	    WHERE RNUM >= #{startPosition, jdbcType=NUMERIC}
	</select>

	<select id="listAssetsEtcCount" parameterType="com.koscom.oppf.model.StockEquityForm" resultType="int">
		SELECT COUNT(*)
		  FROM STOCK_ETCLIST SE INNER JOIN STOCK_LIST SL ON SE.NO_PERSON = SL.NO_PERSON AND SE.SECUNO = SL.SECUNO AND TO_CHAR( NULLIF(SE.DT_LST, SE.DT_FRT), 'YYYYMMDD' ) = TO_CHAR(SL.DT, 'YYYYMMDD')
		WHERE SE.NO_PERSON = #{no_person, jdbcType=VARCHAR}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND SE.ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SE.SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>

	<select id="listAssetsFund" parameterType="com.koscom.oppf.model.StockFundForm" resultType="com.koscom.oppf.model.StockFundVO">
		SELECT
	        *
	    FROM
	        (SELECT
	            LST.*,
	            ROWNUM RNUM
	         FROM
	            (
		SELECT SF.NO_PERSON
			 , SF.ACCNO
			 , SF.SECUNO
			 , SF.EARNINGRATE
			 , SF.FIRSTDATEBUY
			 , SF.FUNDCODE
			 , SF.FUNDNAME
			 , SF.LASTDATEBUY
			 , SF.MATURITY
			 , SF.PROLOSS
			 , SF.QTY
			 , SF.VALATCUR
			 , SF.VALATTRADE
			 , SF.ID_FRT
			 , SF.DT_FRT
			 , SF.ID_LST
			 , SF.DT_LST
			 , (SF.VALATCUR - SF.VALATTRADE) AS SUMREVENUE
			 , ((SF.VALATCUR - SF.VALATTRADE) / NULLIF(SF.VALATTRADE,0) * 100 ) AS RTO_REVENUE
		  FROM STOCK_FUNDLIST SF INNER JOIN STOCK_LIST SL ON SF.NO_PERSON = SL.NO_PERSON AND SF.SECUNO = SL.SECUNO AND TO_CHAR( NULLIF(SF.DT_LST, SF.DT_FRT), 'YYYYMMDD' ) = TO_CHAR(SL.DT, 'YYYYMMDD')
		WHERE SF.NO_PERSON = #{no_person, jdbcType=VARCHAR}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND SF.ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SF.SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
		) LST
	        WHERE ROWNUM <![CDATA[<=]]> #{endPosition, jdbcType=NUMERIC}
	        )
	    WHERE RNUM >= #{startPosition, jdbcType=NUMERIC}
	</select>

	<select id="listAssetsFundCount" parameterType="com.koscom.oppf.model.StockFundForm" resultType="int">
		SELECT COUNT(*)
		  FROM STOCK_FUNDLIST SF INNER JOIN STOCK_LIST SL ON SF.NO_PERSON = SL.NO_PERSON AND SF.SECUNO = SL.SECUNO AND TO_CHAR( NULLIF(SF.DT_LST, SF.DT_FRT), 'YYYYMMDD' ) = TO_CHAR(SL.DT, 'YYYYMMDD')
		WHERE SF.NO_PERSON = #{no_person, jdbcType=VARCHAR}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND SF.ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SF.SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="getAssetsFund" parameterType="com.koscom.oppf.model.StockFundForm" resultType="com.koscom.oppf.model.StockFundVO">
		SELECT SF.NO_PERSON
			 , SF.ACCNO
			 , SF.SECUNO
			 , SF.EARNINGRATE
			 , SF.FIRSTDATEBUY
			 , SF.FUNDCODE
			 , SF.FUNDNAME
			 , SF.LASTDATEBUY
			 , SF.MATURITY
			 , SF.PROLOSS
			 , SF.QTY
			 , SF.VALATCUR
			 , SF.VALATTRADE
			 , SF.ID_FRT
			 , SF.DT_FRT
			 , SF.ID_LST
			 , SF.DT_LST
			 , (SF.VALATCUR - SF.VALATTRADE) AS SUMREVENUE
			 , ((SF.VALATCUR - SF.VALATTRADE) / NULLIF(SF.VALATTRADE,0) * 100 ) AS RTO_REVENUE
		  FROM STOCK_FUNDLIST SF INNER JOIN STOCK_LIST SL ON SF.NO_PERSON = SL.NO_PERSON AND SF.SECUNO = SL.SECUNO AND TO_CHAR( NULLIF(SF.DT_LST, SF.DT_FRT), 'YYYYMMDD' ) = TO_CHAR(SL.DT, 'YYYYMMDD')
		WHERE SF.NO_PERSON = #{no_person, jdbcType=VARCHAR}
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(accno)">
			AND SF.ACCNO = #{accno, jdbcType=VARCHAR}
		</if>
		<if test="@com.koscom.util.MybatisUtil@isNotEmpty(secuno)">
			AND SF.SECUNO = #{secuno, jdbcType=VARCHAR}
		</if>
	</select>
</mapper>
