<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koscom.loan.dao.LoanMapper">

	<insert id="insertLoanInfo" >
		/* com.koscom.loan.dao.LoanMapper.insertLoanInfo*/
<!-- 		<selectKey keyProperty="no_bunch" resultType="string" order="BEFORE"> -->
<!-- 			(SELECT NVL(MAX(cast(no_bunch As Int)),0) + 1 FROM tx_fc_transmit) -->
<!-- 		</selectKey> -->
		<selectKey keyProperty="no_bunch" resultType="string" order="BEFORE">
			(SELECT LPAD(NVL(TX_FC_TRANSMIT_SEQUENCE.NEXTVAL,0),20,'0') FROM DUAL)
		</selectKey>
		INSERT INTO tx_fc_transmit
			(   no_bunch
              , NM_PERSON
              , SSN_PERSON
              , NO_PERSON
              , HP1
              , YMD_BIRTH
              , KCB_DI
              , ID_FRT
              , DT_FRT
              , ID_LST
              , DT_LST
			) VALUES (
				  #{no_bunch              , jdbcType=VARCHAR}
				, #{nm_person			  , jdbcType=VARCHAR}
				, XX1.ENC_VARCHAR2_INS(#{ssn_person, jdbcType=VARCHAR}, '11', 'FS_ARIA', 'TX_FC_TRANSMIT', 'SSN_PERSON')
				, #{no_person			  , jdbcType=VARCHAR}
				, #{hp1			  		  , jdbcType=VARCHAR}
				, #{ymd_birth			  , jdbcType=VARCHAR}
				, #{kcb_di			  	  , jdbcType=VARCHAR}
				, #{id_frt			  	  , jdbcType=VARCHAR}
				, SYSDATE
				, #{id_frt			  	  , jdbcType=VARCHAR}
				, SYSDATE
			)
	</insert>
	<insert id="insertLoanGoodsInfo" >
		/* com.koscom.loan.dao.LoanMapper.insertLoanGoodsInfo*/
        /* com.koscom.finance.dao.FinanceMapper.insertTxFcGoods : */
        INSERT INTO TX_FC_GOODS /* 신청 상품정보 */
                    (
                         NO_BUNCH /* 순번           */
                        ,CD_GOODS /* 상품코드       */
                        ,ID_FRT   /* 최초입력아이디 */
                        ,DT_FRT   /* 최초입력시간   */
                    )
                    VALUES
                    (
                         #{no_bunch, jdbcType=VARCHAR}/* 순번           */
                        ,#{cd_goods, jdbcType=VARCHAR}/* 상품코드       */
                        ,#{id_frt  , jdbcType=VARCHAR}/* 등록자ID      */
                        ,SYSDATE      /* 등록일시       */
                    )
	</insert>
<!-- 	<insert id="insertLoanInfo" > -->

<!-- 		<selectKey keyProperty="no_bunch" resultType="string" order="BEFORE"> -->
<!-- 			(SELECT LPAD(NVL(TX_FC_TRANSMIT_SEQUENCE.NEXTVAL,0),20,'0') FROM DUAL) -->
<!-- 		</selectKey> -->

<!-- 		INSERT INTO tx_fc_transmit -->
<!-- 			(   no_bunch -->
<!--               , NM_PERSON -->
<!--               , SSN_PERSON -->
<!--               , AMT_WANTED -->
<!--               , NO_PERSON -->
<!--               , HP1 -->
<!--               , HP2 -->
<!--               , HP3 -->
<!--               , CD_LOAN_USE -->
<!--               , CD_LOAN_TERM -->
<!--               , NM_COMP -->
<!--               , CD_EMPLOYEE_TYPE -->
<!--               , NO_BIZ_COMP -->
<!--               , YMD_START_BIZ -->
<!--               , AMT_YEAR_INCOME_BIZ -->
<!--               , CD_JOB_CLASS_L -->
<!--               , CD_JOB_CLASS_M -->
<!--               , CD_JOB_CLASS_S -->
<!--               , CD_DUTY_COMP -->
<!--               , CD_SEX -->
<!--               , YMD_BIRTH -->
<!--               , CD_CAR_MAKER_COMP -->
<!--               , CD_CAR_MODEL -->
<!--               , CD_CAR_MODEL2 -->
<!--               , DT_CAR_PURCHASE -->
<!--               , CAR_NO -->
<!--               , REGION_1				 -->
<!-- 			  , REGION_2				 -->
<!-- 		 	  , REGION_3				 -->
<!-- 			  , BUILDING_NO			 -->
<!-- 			  , ROOM_NO				 -->

<!-- 			) VALUES ( -->
<!-- 				  #{no_bunch              , jdbcType=VARCHAR} -->
<!-- 				, #{nm_person			  , jdbcType=VARCHAR} -->
<!-- 				, #{ssn_person			  , jdbcType=VARCHAR}  -->
<!-- 				, #{amt_wanted			  , jdbcType=NUMERIC} -->
<!-- 				, #{no_person			  , jdbcType=VARCHAR} -->
<!-- 				, #{hp1					  , jdbcType=VARCHAR} -->
<!-- 				, #{hp2					  , jdbcType=VARCHAR} -->
<!-- 				, #{hp3					  , jdbcType=VARCHAR} -->
<!-- 				, #{cd_loan_use			  , jdbcType=VARCHAR} -->
<!-- 				, #{cd_loan_term		  , jdbcType=VARCHAR} -->
<!--    				, #{nm_comp		 		  , jdbcType=VARCHAR} -->
<!--    				, #{cd_employee_type	  , jdbcType=VARCHAR} -->
<!--    				, #{no_biz_comp		 	  , jdbcType=VARCHAR} -->
<!--    				, #{ymd_start_biz		  , jdbcType=VARCHAR} -->
<!--    				, #{amt_year_income_biz	  , jdbcType=NUMERIC} -->
<!--      			, #{cd_job_class_l		  , jdbcType=VARCHAR} -->
<!--      			, #{cd_job_class_m		  , jdbcType=VARCHAR} -->
<!--      			, #{cd_job_class_s		  , jdbcType=VARCHAR} -->
<!--      			, #{cd_duty_comp		  , jdbcType=VARCHAR} -->
<!--      			, #{cd_sex		 		  , jdbcType=VARCHAR} -->
<!--      			, #{ymd_birth		 	  , jdbcType=VARCHAR} -->
<!--    				, #{cd_car_maker_comp	  , jdbcType=VARCHAR} -->
<!--      			, #{cd_car_model		  , jdbcType=VARCHAR} -->
<!--      			, #{cd_car_model2		  , jdbcType=VARCHAR} -->
<!--      			, #{dt_car_purchase		  , jdbcType=VARCHAR} -->
<!--      			, #{car_no		 	 	  , jdbcType=VARCHAR} -->
<!--      			, #{region_1			  , jdbcType=VARCHAR} -->
<!-- 				, #{region_2			  , jdbcType=VARCHAR} -->
<!-- 				, #{region_3			  , jdbcType=VARCHAR} -->
<!-- 				, #{building_no			  , jdbcType=VARCHAR} -->
<!-- 				, #{room_no				  , jdbcType=VARCHAR} -->

<!-- 			) -->
<!-- 	</insert> -->

	<update id="modifyLoanForOffice">
		/* com.koscom.loan.dao.LoanMapper.modifyLoanForOffice*/
		UPDATE tx_fc_transmit
		SET
		   amt_year_income 	= #{amt_year_income, jdbcType=NUMERIC}
		  , ymd_start_comp 		= #{ymd_start_comp, jdbcType=VARCHAR}
		  , cd_medi_insu_comp 	= #{cd_medi_insu_comp, jdbcType=VARCHAR}
		  , yn_4insu 			= #{yn_4insu, jdbcType=VARCHAR}
		  , ID_LST = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST = SYSDATE
		WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
	</update>

	<update id="modifyLoanForBiz">
		/* com.koscom.loan.dao.LoanMapper.modifyLoanForBiz*/
		UPDATE tx_fc_transmit
		SET
		   nm_fc 	= #{nm_fc, jdbcType=VARCHAR}
		    , ID_LST = #{id_lst, jdbcType=VARCHAR}
		    , DT_LST = SYSDATE
		WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
	</update>

	<update id="modifyLoanForNoFcReq">
		/* com.koscom.loan.dao.LoanMapper.modifyLoanForNoFcReq*/
		UPDATE tx_fc_transmit
		SET
		   no_fc_req 	= #{no_fc_req, jdbcType=VARCHAR}
		    , ID_LST = #{id_lst, jdbcType=VARCHAR}
		    , DT_LST = SYSDATE
		WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
	</update>

	<select id="getTxFcTransmitInfo" parameterType="java.lang.String" resultType="com.koscom.finance.model.TxFcTransmitVO">
		/* com.koscom.loan.dao.LoanMapper.getTxFcTransmitInfo*/
		SELECT
				*
		  FROM tx_fc_transmit
		 WHERE no_bunch = #{no_bunch}
	</select>
	<select id="getTxFcTransmitInfoForMsg" parameterType="java.lang.String" resultType="com.koscom.finance.model.TxFcTransmitVO">
		/* com.koscom.loan.dao.LoanMapper.getTxFcTransmitInfoForMsg*/
		select
			NO_BUNCH,
			DT_SEND,
			CD_ONOFF,
			XX1.DEC_VARCHAR2_SEL(SSN_PERSON, '10','FS_ARIA','TX_FC_TRANSMIT','SSN_PERSON') as SSN_PERSON,
			NM_PERSON,
			CD_GOODS,
			CD_LOAN_USE,
			AMT_WANTED,
			CD_SEX,
			EMAIL,
			PH1_HOME,
			PH2_HOME,
			PH3_HOME,
			CD_LIVE_AREA,
			POST_HOME,
			ADDR1_HOME,
			ADDR2_HOME,
			NO_MANAGE_HOME,
			HP1,
			HP2,
			HP3,
			CD_MARRY,
			YMD_BIRTH,
			YN_DUALWORK,
			YMD_HOUSE_HOME,
			CNT_HOUSE_HOME,
			CD_HOUSE_TYPE,
			CD_LIVE_TYPE_HOME,
			AMT_RENT_MONTHLY_HOME,
			AMT_YEAR_INCOME,
			CD_DUTY_COMP,
			NM_COMP,
			YMD_START_COMP,
			JOB_TERM_MONTH,
			CD_JOB_COMP,
			CD_EMPLOYEE_TYPE,
			CD_JOB_PROOF,
			CD_INCOME_PROOF,
			CD_HP_CO,
			CD_ARMY,
			CD_JOB_CLASS_L,
			CD_JOB_CLASS_M,
			CD_JOB_CLASS_S,
			NO_BIZ_COMP,
			NO_COMP_SEQ,
			KCB_DI,
			CD_CERTIFY_PERSON,
			NO_FC_REQ,
			PH1_COMP,
			PH2_COMP,
			PH3_COMP,
			ETC_FIELD1,
			CD_LOAN_TERM,
			NM_FC,
			YMD_START_BIZ,
			AMT_YEAR_INCOME_BIZ,
			CD_MEDI_INSU_COMP,
			YN_4INSU,
			ID_FRT,
			DT_FRT,
			ID_LST,
			DT_LST,
			CD_CAR_MAKER_COMP,
			CD_CAR_MODEL,
			CD_CAR_MODEL2,
			DT_CAR_PURCHASE,
			CAR_NO,
			CD_CAR_OWN,
			CD_CAR,
			CD_CAR_USE,
			CD_CAR_TRANSMISSION,
			YN_CAR_SEIZURE,
			YN_CAR_WET,
			AMT_CAR_SELF_INSURED,
			YN_CAR_INSU,
			YN_CAR_DIRECT_IMPORT,
			NO_ELAPSED_YEAR,
			NO_CAR_DISTANCE_DRIVEN,
			REGION_1,
			REGION_2,
			REGION_3,
			BUILDING_NO,
			ROOM_NO,
			SECURITY_ADDR,
			SECURITY_FLOOR,
			SECURITY_EXCLUSIVE_AREA,
			JB_DT_JOIN,
			JB_TP_COMPPRIV,
			JB_TP_LISTING,
			JB_TP_EPRMDY,
			JB_TP_COMPSIZE,
			JB_TP_ETLIPC,
			JB_TP_COMPCHULJA,
			JB_TP_MEDIINSURE,
			CD_LOAN_MOUNT,
			CD_TYPE_PAY,
			AMT_YEAR_SALE,
			YN_LOAN_MOUNT,
			LOAN_CODE,
			YN_LOAN_ALREADY,
			YN_USER_END,
			NO_PERSON
		from TX_FC_TRANSMIT
		 WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
	</select>

	<select id="getListJobcode" parameterType="com.koscom.domain.JobClassInfo" resultType="com.koscom.domain.JobClassInfo">
		/* com.koscom.loan.dao.LoanMapper.getListJobcode*/
 	    SELECT
 	    	job_cd
 			, job_nm
 			, hac_cd
 			, job_lvl1
 			, job_lvl2
 			, acct_jobcd
 			, tax_type_cd
 			, tax_incm_rt
 			, grup_grd1
 			, grup_grd2
 			, crt_id
 			, crt_dtm
 			, job_lvl3
 			, job_lvl4
 			, egloan_job_cd
 	    	 FROM JOB_CLASS_INFO
 	     WHERE job_cd LIKE #{search, jdbcType=VARCHAR} AND job_cd != #{code, jdbcType=VARCHAR}
 	</select>

	<insert id="insertLoanAgreeHist" >
		/* com.koscom.loan.dao.LoanMapper.insertLoanAgreeHist*/
		INSERT INTO loan_agree_hist
			(
				  NO_PERSON
				, CD_AGREE
				, DT_AGREE
				, ID_FRT
				, DT_FRT
				, ID_LST
				, DT_LST

			) VALUES (
				  #{no_person			  , jdbcType=VARCHAR}
				, #{cd_agree			  , jdbcType=VARCHAR}
     			, SYSDATE
				, #{no_person			  , jdbcType=VARCHAR}
     			, SYSDATE
				, #{no_person			  , jdbcType=VARCHAR}
     			, SYSDATE
			)
	</insert>

	<update id="modifyLoanForGuarantee">
		/* com.koscom.loan.dao.LoanMapper.modifyLoanForGuarantee*/
		UPDATE tx_fc_transmit
		SET
		   nm_comp 				= #{nm_comp, jdbcType=VARCHAR}
  		  , cd_employee_type 	= #{cd_employee_type, jdbcType=VARCHAR}
		  , amt_year_income 	= #{amt_year_income, jdbcType=NUMERIC}
		  , ymd_start_comp 		= #{ymd_start_comp, jdbcType=VARCHAR}
		  , cd_medi_insu_comp 	= #{cd_medi_insu_comp, jdbcType=VARCHAR}
		  , yn_4insu 			= #{yn_4insu, jdbcType=VARCHAR}
		  , no_biz_comp 		= #{no_biz_comp, jdbcType=VARCHAR}
		  , nm_fc 				= #{nm_fc, jdbcType=VARCHAR}
		  , ymd_start_biz 		= #{ymd_start_biz, jdbcType=VARCHAR}
		  , amt_year_income_biz	= #{amt_year_income_biz, jdbcType=NUMERIC}
		  , cd_job_class_l 		= #{cd_job_class_l, jdbcType=VARCHAR}
		  , cd_job_class_m 		= #{cd_job_class_m, jdbcType=VARCHAR}
		  , cd_job_class_s 		= #{cd_job_class_s, jdbcType=VARCHAR}
		  , ID_LST              = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST              = SYSDATE
		WHERE no_bunch  = #{no_bunch, jdbcType=VARCHAR}
	</update>

	<update id="modifyCarInfo">
		/* com.koscom.loan.dao.LoanMapper.modifyCarInfo*/
		UPDATE tx_fc_transmit
		SET
		   cd_car_own 				= #{cd_car_own, jdbcType=VARCHAR}
  		  , cd_car 					= #{cd_car, jdbcType=VARCHAR}
		  , cd_car_use 				= #{cd_car_use, jdbcType=VARCHAR}
		  , cd_car_transmission 	= #{cd_car_transmission, jdbcType=VARCHAR}
		  , no_car_distance_driven 	= #{no_car_distance_driven, jdbcType=VARCHAR}
		  , yn_car_seizure 			= #{yn_car_seizure, jdbcType=VARCHAR}
		  , yn_car_wet 				= #{yn_car_wet, jdbcType=VARCHAR}
		  , amt_car_self_insured 	= #{amt_car_self_insured, jdbcType=NUMERIC}
		  , yn_car_insu 			= #{yn_car_insu, jdbcType=VARCHAR}
		  , yn_car_direct_import	= #{yn_car_direct_import, jdbcType=VARCHAR}
		  , no_elapsed_year 		= #{no_elapsed_year, jdbcType=VARCHAR}
		  , ID_LST                  = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST                  = SYSDATE
		WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
	</update>

	<update id="modifyRealEstateInfo">
		/* com.koscom.loan.dao.LoanMapper.modifyRealEstateInfo*/
		<![CDATA[
		UPDATE tx_fc_transmit
		SET
	   		security_addr 			= #{security_addr, jdbcType=VARCHAR}
  		  , security_floor 			= #{security_floor, jdbcType=VARCHAR}
	      , security_exclusive_area = REPLACE(#{ security_exclusive_area, jdbcType=VARCHAR} ,'&sup2;','²')
		  , ID_LST                  = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST                  = SYSDATE
		WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
		]]>
	</update>

	<update id="modifyLoanAdditional">
		/* com.koscom.loan.dao.LoanMapper.modifyLoanAdditional*/
		UPDATE tx_fc_transmit
		SET
		   cd_loan_use 			= #{cd_loan_use, jdbcType=VARCHAR}
		  , cd_house_type 		= #{cd_house_type, jdbcType=VARCHAR}
		  , cd_live_type_home 	= #{cd_live_type_home, jdbcType=VARCHAR}
		  , ID_LST                  = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST                  = SYSDATE
		WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
	</update>

	<update id="modifyLoanInfo" >
		/* com.koscom.loan.dao.LoanMapper.modifyLoanInfo*/
		UPDATE tx_fc_transmit
		SET
		    nm_comp 				= #{nm_comp, jdbcType=VARCHAR}
		  , no_biz_comp 			= #{no_biz_comp, jdbcType=VARCHAR}
		  , cd_loan_term 			= #{cd_loan_term, jdbcType=VARCHAR}
		  , cd_job_class_l 			= #{cd_job_class_l, jdbcType=VARCHAR}
		  , jb_dt_join 				= #{jb_dt_join, jdbcType=VARCHAR}
		  , cd_employee_type 		= #{cd_employee_type, jdbcType=VARCHAR}
		  , jb_tp_mediinsure 		= #{jb_tp_mediinsure, jdbcType=VARCHAR}
		  , jb_tp_comppriv 			= #{jb_tp_comppriv, jdbcType=VARCHAR}
		  , jb_tp_listing 			= #{jb_tp_listing, jdbcType=VARCHAR}
		  , jb_tp_eprmdy 			= #{jb_tp_eprmdy, jdbcType=VARCHAR}
		  , jb_tp_compsize 			= #{jb_tp_compsize, jdbcType=VARCHAR}
		  , jb_tp_etlipc 			= #{jb_tp_etlipc, jdbcType=VARCHAR}
		  , jb_tp_compchulja 		= #{jb_tp_compchulja, jdbcType=VARCHAR}
		  , cd_duty_comp 			= #{cd_duty_comp, jdbcType=VARCHAR}
		  , amt_year_income 		= #{amt_year_income, jdbcType=NUMERIC}
		  , ID_LST                  = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST                  = SYSDATE
		WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
	</update>

	<insert id="insertLoanGoodsChoice" >
		/* com.koscom.loan.dao.LoanMapper.insertLoanGoodsChoice*/
		INSERT INTO coocon_goods_favorite_info
			(
				 no_person
				, cd_fc
				, cd_non_goods
				, yn_alliance
				,cd_goods_class_l
				,cd_goods_class_m
				, id_frt
				, dt_frt
				, id_lst
				, dt_lst
			) VALUES (
				  #{no_person			, jdbcType=VARCHAR}
				, #{cd_fc			    , jdbcType=VARCHAR}
				, #{cd_non_goods		, jdbcType=VARCHAR}
				, #{yn_alliance		    , jdbcType=VARCHAR}
				, #{cd_goods_class_l	, jdbcType=VARCHAR}
				, #{cd_goods_class_m	, jdbcType=VARCHAR}
				, #{no_person			, jdbcType=VARCHAR}
     			, SYSDATE
				, #{no_person			, jdbcType=VARCHAR}
     			, SYSDATE
			)
	</insert>

	<delete id="deleteLoanGoodsChoice" parameterType="com.koscom.domain.CooconGoodsFavoriteInfo">
		/* com.koscom.loan.dao.LoanMapper.deleteLoanGoodsChoice*/
		DELETE from coocon_goods_favorite_info
		WHERE no_person = #{no_person, jdbcType=VARCHAR}
		AND cd_fc = #{cd_fc, jdbcType=VARCHAR}
		AND cd_non_goods = #{cd_non_goods, jdbcType=VARCHAR}
	</delete>

	<update id="modifyLoanEmployedInfo" >
		/* com.koscom.loan.dao.LoanMapper.modifyLoanEmployedInfo*/
		UPDATE tx_fc_transmit
		SET
		    nm_comp 				= #{nm_comp, jdbcType=VARCHAR}
		  , jb_dt_join 				= #{jb_dt_join, jdbcType=VARCHAR}
		  , amt_year_sale 			= #{amt_year_sale, jdbcType=NUMERIC}
		  , ID_LST                  = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST                  = SYSDATE
		WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
	</update>

	<update id="modifyLoanREConditionInfo" >
		/* com.koscom.loan.dao.LoanMapper.modifyLoanREConditionInfo*/
		UPDATE tx_fc_transmit
		SET
		   yn_loan_already 			= #{yn_loan_already, jdbcType=VARCHAR}
		  , yn_user_end 			= #{yn_user_end, jdbcType=VARCHAR}
		  , ID_LST                  = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST                  = SYSDATE
		WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
	</update>

	<update id="modifyLoanREIncomeInfo" >
		/* com.koscom.loan.dao.LoanMapper.modifyLoanREIncomeInfo*/
		UPDATE tx_fc_transmit
		SET
		   cd_job_class_l 			= #{cd_job_class_l, jdbcType=VARCHAR}
		  , amt_year_income 		= #{amt_year_income, jdbcType=NUMERIC}
		  , amt_year_sale 			= #{amt_year_sale, jdbcType=NUMERIC}
		  , ID_LST                  = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST                  = SYSDATE
		WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
	</update>

	<update id="modifyLoanRERepaymentInfo" >
		/* com.koscom.loan.dao.LoanMapper.modifyLoanRERepaymentInfo*/
		UPDATE tx_fc_transmit
		SET
		   yn_loan_mount 		= #{yn_loan_mount, jdbcType=VARCHAR}
		  , cd_loan_mount 		= #{cd_loan_mount, jdbcType=VARCHAR}
		  , cd_type_pay 		= #{cd_type_pay, jdbcType=VARCHAR}
		  , cd_loan_term 		= #{cd_loan_term, jdbcType=VARCHAR}
		  , ID_LST                  = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST                  = SYSDATE
		WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
	</update>
	<update id="modifyLoanREHomeInfo" >
		/* com.koscom.loan.dao.LoanMapper.modifyLoanREHomeInfo*/
		<![CDATA[
		UPDATE tx_fc_transmit
		SET
		   cd_house_type 				= #{cd_house_type, jdbcType=VARCHAR}
		  , region_1 					= #{region_1, jdbcType=VARCHAR}
		  , region_2 					= #{region_2, jdbcType=VARCHAR}
		  , region_3 					= #{region_3, jdbcType=VARCHAR}
		  , security_addr 				= #{security_addr, jdbcType=VARCHAR}
	 	  , security_exclusive_area 	= REPLACE(#{security_exclusive_area, jdbcType=VARCHAR} ,'&sup2;','²')
		  , security_floor 				= #{security_floor, jdbcType=VARCHAR}
		  , ID_LST                  = #{id_lst, jdbcType=VARCHAR}
		  , DT_LST                  = SYSDATE
		WHERE no_bunch = #{no_bunch, jdbcType=VARCHAR}
		]]>
	</update>
</mapper>