<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1, target-densitydpi=medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<title>FINSET</title>
    
<link href="../../assets/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
    
</head>
<body>
	
	<!--   HEADER 로드   -->
	<header></header>
	
	<!--   CONTENTS   -->
    <section>
        
        <div class="sub-top">
            <a href="#" class="btn-back"></a>
            <p class="title">카드현황</p>
        </div>
        
        <div class="tab">
            <div class="wrap">
                <a href="#" class="on">신용카드</a>
                <a href="#">체크카드</a>
            </div>
        </div>
        
        <div class="container">
            <p class="total-cards">보유갯수<em>6</em></p>
            <div class="bar-top">
                <p class="key">7월 이용금액</p>
                <div class="wrap">
                    <div class="left">9,290,000<em>원</em></div>
                    <div class="right">
                        <p class="key">총한도</p>
                        <p class="value">10,710 만원</p>
                    </div>
                </div>
                <div class="bar"><p style="width: 25%"></p></div>
                <div class="bar-text-wrap">
                    <p class="bar-text">7월 한도 이용율</p>
                    <p class="bar-card"><em>28%</em></p>
                </div>
            </div>
        </div>
        
        <div class="box-list list01">
            <div class="item expand">
                <div class="top">
                    <p class="symbol"><img src="../../assets/images/common/bu_city.png" alt=""/>삼성생명보험</p>
                </div>
                <div class="number-wrap">
                    <div class="left">
                        <p class="key">이용금액</p>
                        <p class="number">6,920,000<em>원</em></p>
                    </div>
                </div>
                <div class="bar"><p style="width: 50%"></p></div>
                <div class="flex-wrap col3">
                    <div class="left">
                        <p class="key">개설일자</p>
                        <p class="value">2018.04.15</p>
                    </div>
                    <div class="center">
                        <p class="key">총한도</p>
                        <p class="value">3,040 만원</p>
                    </div>
                    <div class="right">
                        <p class="key">단기대출한도</p>
                        <p class="value">1,080 만원</p>
                    </div>
                </div>
                <div class="hide-con">
                    <div class="list">
                        <p class="left">일시불</p>
                        <p class="right">692 만원</p>
                    </div>
                    <div class="list">
                        <p class="left">할부</p>
                        <p class="right">0 만원</p>
                    </div>
                    <div class="list">
                        <p class="left">단기대출(현금서비스)</p>
                        <p class="right">0 만원</p>
                    </div>
                    <div class="list">
                        <p class="left">체크카드</p>
                        <p class="right">0 만원</p>
                    </div>
                    <div class="list">
                        <p class="left">연체금액</p>
                        <p class="right">0 만원</p>
                    </div>
                </div>
                <button class="btn-expand"></button>
            </div>
            <div class="item expand">
                <div class="top">
                    <p class="symbol"><img src="../../assets/images/common/bu_city.png" alt=""/>삼성생명보험</p>
                </div>
                <div class="number-wrap">
                    <div class="left">
                        <p class="key">이용금액</p>
                        <p class="number">6,920,000<em>원</em></p>
                    </div>
                </div>
                <div class="bar"><p style="width: 50%"></p></div>
                <div class="flex-wrap col3">
                    <div class="left">
                        <p class="key">개설일자</p>
                        <p class="value">2018.04.15</p>
                    </div>
                    <div class="center">
                        <p class="key">총한도</p>
                        <p class="value">3,040 만원</p>
                    </div>
                    <div class="right">
                        <p class="key">단기대출한도</p>
                        <p class="value">1,080 만원</p>
                    </div>
                </div>
                <div class="hide-con">
                    <div class="list">
                        <p class="left">일시불</p>
                        <p class="right">692 만원</p>
                    </div>
                    <div class="list">
                        <p class="left">할부</p>
                        <p class="right">0 만원</p>
                    </div>
                    <div class="list">
                        <p class="left">단기대출(현금서비스)</p>
                        <p class="right">0 만원</p>
                    </div>
                    <div class="list">
                        <p class="left">체크카드</p>
                        <p class="right">0 만원</p>
                    </div>
                    <div class="list">
                        <p class="left">연체금액</p>
                        <p class="right">0 만원</p>
                    </div>
                </div>
                <button class="btn-expand"></button>
            </div>
            
        </div>
        
    </section>
	
</body>
</html>
